<div class="container-fluid">
    <div class="page-title">
      <h4>Configuración General</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <form name="myForm" #FormEditarConfiguracion="ngForm">
                                <div class="row">
                                    <div class="col-md-4" hidden>
                                            <div class="form-group">
                                                <label>Identificación</label>
                                                <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" >
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nombre Empresa</label>
                                            <input name="Nombre_Empresa" type="text" placeholder="" class="form-control" ngModel="{{NombreEmpresa}}" (focus)="$event.target.select()" (focusout)="boolNombre = true" required #nombreEmpresa="ngModel">
                                            <div *ngIf="!nombreEmpresa.valid && boolNombre==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="nombreEmpresa.valid && boolNombre==true" style="color:green">All checked!</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>N.I.T.</label>
                                            <input name="NIT" type="number" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control" ngModel="{{NIT}}" (focus)="$event.target.select()" (focusout)="boolNit = true" required #nit="ngModel">
                                            <div *ngIf="!nit.valid && boolNit==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="nit.valid && boolNit==true" style="color:green">All checked!</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input name="Telefono" type="number" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control" ngModel="{{Telefono}}" (focus)="$event.target.select()" (focusout)="boolTelefono = true" required #telefono="ngModel">
                                                <div *ngIf="!telefono.valid && boolTelefono==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="telefono.valid && boolTelefono==true" style="color:green">All checked!</div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Celular</label>
                                                <input name="Celular" type="number" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control" ngModel="{{Celular}}" (focus)="$event.target.select()" (focusout)="boolCelular = true" required #celular="ngModel">
                                                <div *ngIf="!celular.valid && boolCelular==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="celular.valid && boolCelular==true" style="color:green">All checked!</div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input name="Direccion" type="text" placeholder="" class="form-control" ngModel="{{Direccion}}" (focus)="$event.target.select()" (focusout)="boolDireccion = true" required #direccion="ngModel">
                                            <div *ngIf="!direccion.valid && boolDireccion==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="direccion.valid && boolDireccion==true" style="color:green">All checked!</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Correo</label>
                                                <input name="Correo" type="email" email placeholder="" class="form-control" ngModel="{{Correo}}" (focus)="$event.target.select()" (focusout)="boolCorreo = true" required #correo="ngModel">
                                                <div *ngIf="!correo.valid && boolCorreo==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="correo.valid && boolCorreo==true" style="color:green">All checked!</div>
                                            </div>
                                    </div>
                                </div>	
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Festivos Legales</label>
                                            <input name="Festivos_Legales" type="text" placeholder="" class="form-control" ngModel="{{FestivosLegales}}" (focus)="$event.target.select()" (focusout)="boolFestivosLegales = true" required #festivosLegales="ngModel">
                                            <div *ngIf="!festivosLegales.valid && boolFestivosLegales==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="festivosLegales.valid && boolFestivosLegales==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Extras Legales</label>
                                            <input name="Extras_Legales" type="text" placeholder="" class="form-control" ngModel="{{ExtrasLegales}}" (focus)="$event.target.select()" (focusout)="boolExtrasLegales = true" required #extrasLegales="ngModel">
                                            <div *ngIf="!extrasLegales.valid && boolExtrasLegales==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="extrasLegales.valid && boolExtrasLegales==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Llegadas tarde</label>
                                            <input name="Llegadas_Tarde" type="text" placeholder="" class="form-control" ngModel="{{LlegadasTarde}}" (focus)="$event.target.select()" (focusout)="boolLlegadasTarde = true" required #llegadasTarde="ngModel">
                                            <div *ngIf="!llegadasTarde.valid && boolLlegadasTarde==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="llegadasTarde.valid && boolLlegadasTarde==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora Inicio Dia</label>
                                            <input name="Hora_Inicio_Dia" type="text" placeholder="" class="form-control" ngModel="{{HoraInicioDia}}" (focus)="$event.target.select()" (focusout)="boolHoraInicioDia = true" required #horaInicioDia="ngModel">
                                            <div *ngIf="!horaInicioDia.valid  && boolHoraInicioDia==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaInicioDia.valid && boolHoraInicioDia==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora Fin Dia</label>
                                            <input name="Hora_Fin_Dia" type="text" placeholder="" class="form-control" ngModel="{{HoraFinDia}}" (focus)="$event.target.select()" (focusout)="boolHoraFinDia = true" required #horaFinDia="ngModel">
                                            <div *ngIf="!horaFinDia.valid && boolHoraFinDia==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaFinDia.valid && boolHoraFinDia==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Salario Base</label>
                                                <input currencyMask name="Salario_Base" class="form-control" ngModel="{{SalarioBase}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" (focus)="$event.target.select()" (focusout)="boolSalarioBase = true" required #salarioBase="ngModel">
                                                <div *ngIf="!salarioBase.valid && boolSalarioBase==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="salarioBase.valid && boolSalarioBase==true" style="color:green">All checked!</div>
                                            </div> 
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Subsidio de transporte</label>
                                                <input currencyMask name="Subsidio_Transporte" class="form-control" ngModel="{{SubsidioTransporte}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" (focus)="$event.target.select()" (focusout)="boolSubsidioTransporte = true" required #subsidioTransporte="ngModel">
                                                <div *ngIf="!subsidioTransporte.valid && boolSubsidioTransporte==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="subsidioTransporte.valid && boolSubsidioTransporte==true" style="color:green">All checked!</div>
                                            </div> 
                                    </div>
                                </div>	
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora Extra Diurna</label>
                                            <input name="Hora_Extra_Diurna" type="text" placeholder="" class="form-control" ngModel="{{HoraExtraDiurna}}" (focus)="$event.target.select()" (focusout)="boolHoraExtraDiurna = true" required #horaExtraDiurna="ngModel">
                                            <div *ngIf="!horaExtraDiurna.valid" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaExtraDiurna.valid && boolHoraExtraDiurna==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora Extra Nocturna</label>
                                            <input name="Hora_Extra_Nocturna" type="text" placeholder="" class="form-control" ngModel="{{HoraExtraNocturna}}" (focus)="$event.target.select()" (focusout)="boolHoraExtraNocturna = true" required #horaExtraNocturna="ngModel">
                                            <div *ngIf="!horaExtraNocturna.valid" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaExtraNocturna.valid && boolHoraExtraNocturna==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora Extra Domingo Diurna</label>
                                            <input name="Hora_Extra_Domingo_Diurna" type="text" placeholder="" class="form-control" ngModel="{{HoraExtraDomingoDiurna}}" (focus)="$event.target.select()" (focusout)="boolHoraExtraDomingoDiurna = true" required #horaExtraDomingoDiurna="ngModel">
                                            <div *ngIf="!horaExtraDomingoDiurna.valid && boolHoraExtraDomingoDiurna==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaExtraDomingoDiurna.valid && boolHoraExtraDomingoDiurna==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora Extra Domingo Nocturna</label>
                                            <input name="Hora_Extra_Domingo_Nocturna" type="text" placeholder="" class="form-control" ngModel="{{HoraExtraDomingoNocturna}}" (focus)="$event.target.select()" (focusout)="boolHoraExtraDomingoNocturna = true" required #horaExtraDomingoNocturna="ngModel">
                                            <div *ngIf="!horaExtraDomingoNocturna.valid && boolHoraExtraDomingoNocturna==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaExtraDomingoNocturna.valid && boolHoraExtraDomingoNocturna==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Recargo Diurna</label>
                                                <input name="Recargo_Diurna" type="text" placeholder="" class="form-control" ngModel="{{RecargoDiurna}}" (focus)="$event.target.select()" (focusout)="boolRecargoDiurna = true" required #recargoDiurna="ngModel">
                                                <div *ngIf="!recargoDiurna.valid && boolRecargoDiurna==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="recargoDiurna.valid && boolRecargoDiurna==true" style="color:green">All checked!</div>
                                            </div> 
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Recargo Nocturno</label>
                                                <input name="Recargo_Nocturno" type="text" placeholder="" class="form-control" ngModel="{{RecargoNocturno}}" (focus)="$event.target.select()" (focusout)="boolRecargoNocturno = true" required #recargoNocturno="ngModel">
                                                <div *ngIf="!recargoNocturno.valid && boolRecargoNocturno==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="recargoNocturno.valid && boolRecargoNocturno==true" style="color:green">All checked!</div>
                                            </div> 
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Recargo Dominical Diurna</label>
                                                <input name="Recargo_Dominical_Diurna" type="text" placeholder="" class="form-control" ngModel="{{RecargoDominicalDiurna}}" (focus)="$event.target.select()" (focusout)="boolRecargoDominicalDiurna = true" required #recargoDominicalDiurna="ngModel">
                                                <div *ngIf="!recargoDominicalDiurna.valid && boolRecargoDominicalDiurna==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="recargoDominicalDiurna.valid && boolRecargoDominicalDiurna==true" style="color:green">All checked!</div>
                                            </div> 
                                    </div>
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Recargo Dominical Nocturno</label>
                                                <input name="Recargo_Dominical_Nocturna" type="text" placeholder="" class="form-control" ngModel="{{RecargoDominicalNocturna}}" (focus)="$event.target.select()" (focusout)="boolRecargoDominicalNocturna = true" required #recargoDominicalNocturna="ngModel">
                                                <div *ngIf="!recargoDominicalNocturna.valid && boolRecargoDominicalNocturna==true" style="color:red">Houston, we have a problem</div>
                                                <div *ngIf="recargoDominicalNocturna.valid && boolRecargoDominicalNocturna==true" style="color:green">All checked!</div>
                                            </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora inicio de la jornada nocturna</label>
                                            <input name="Hora_Inicio_Noche" type="text" placeholder="" class="form-control" ngModel="{{HoraInicioNoche}}" (focus)="$event.target.select()" (focusout)="boolHoraInicioNoche = true" required #horaInicioNoche="ngModel">
                                            <div *ngIf="!horaInicioNoche.valid && boolHoraInicioNoche==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaInicioNoche.valid && boolHoraInicioNoche==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hora fin de la jornada nocturna</label>
                                            <input name="Hora_Fin_Noche" type="text" placeholder="" class="form-control" ngModel="{{HoraFinNoche}}" (focus)="$event.target.select()" (focusout)="boolHoraFinNoche = true" required #horaFinNoche="ngModel">
                                            <div *ngIf="!horaFinNoche.valid && boolHoraFinNoche==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="horaFinNoche.valid && boolHoraFinNoche==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Festivos</label>
                                            <input name="Festivos" type="text" placeholder="" class="form-control" ngModel="{{Festivos}}" (focus)="$event.target.select()" (focusout)="boolFestivos = true" required #festivos="ngModel">
                                            <div *ngIf="!festivos.valid && boolFestivos==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="festivos.valid && boolFestivos==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Libres</label>
                                            <input name="Libres" type="text" placeholder="" class="form-control" ngModel="{{Libres}}" (focus)="$event.target.select()" (focusout)="boolLibres = true" required #libres="ngModel">
                                            <div *ngIf="!libres.valid && boolLibres==true" style="color:red">Houston, we have a problem</div>
                                            <div *ngIf="libres.valid && boolLibres==true" style="color:green">All checked!</div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">           <!-- Actualizar   -->
                                    <div class="col-md-12 col-xs-6">
                                    <!--*ngIf="nombreEmpresa.valid"-->
                                        <div class="text-right mrg-top-5">                                            
                                            <button type="submit" class="btn btn-primary"
                                            [disabled]="!nombreEmpresa.valid || !nit.valid || !telefono.valid || !celular.valid || !direccion.valid || !correo.valid || !festivosLegales.valid || !extrasLegales.valid || !llegadasTarde.valid || !horaInicioDia.valid || !horaFinDia.valid || !salarioBase.valid || !subsidioTransporte.valid || !horaExtraDiurna.valid || !horaExtraNocturna.valid || !horaExtraDomingoDiurna.valid || !horaExtraDomingoNocturna.valid || !recargoDiurna.valid || !recargoNocturno.valid || !recargoDominicalDiurna.valid || !recargoDominicalNocturna.valid || !horaInicioNoche.valid || !horaFinNoche.valid || !festivos.valid || !libres.valid"
                                            [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                                            (confirm)="GuardarConfiguracion(FormEditarConfiguracion)" >Actualizar Información</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
 
    <!-- SECCION NUEVA -->
    <h4>Monedas</h4>                    
    <mdb-accordion (multiple)="false" aria-multiselectable="false" #acordeon>
        <mdb-accordion-item  (collapsed)="false" *ngFor="let Moneda of Monedas" #acordeon>
            <mdb-accordion-item-head (click)="test.toggle()"> {{ Moneda.Nombre }} </mdb-accordion-item-head>
            <mdb-accordion-item-body class="form-group" (showBsCollapse)="EditarMoneda(Moneda.Id_Moneda)" [mdbCollapse]="isCollapsed" #test="bs-collapse">
                <h4>Máximos y Mínimos</h4>
                <form #FormPermisosMoneda1="ngForm"> 
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Max_Venta_Efectivo" (focusout)="boolNombre = true" required>
                        </div>
                    </div>    
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>                
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor Maximo Venta Efectivo</label>
                                <input type="text" placeholder="" class="form-control" name="Max_Venta_Efectivo" ngModel="{{MaxVentaEfectivo | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{Moneda.Campos}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{Moneda.Campos[Max_Venta_Efectivo]}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda2="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Min_Venta_Efectivo" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor Mínimo Venta Efectivo</label>
                                <input type="text" placeholder="" class="form-control" name="Min_Venta_Efectivo" ngModel="{{MinVentaEfectivo | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{Moneda.Campos}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{Moneda.Campos[Min_Venta_Efectivo]}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda3="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Max_Venta_Cuenta" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor Máximo Venta Bolivar por Cuenta</label>
                                <input type="text" placeholder="" class="form-control" name="Max_Venta_Cuenta" ngModel="{{MaxVentaCuenta | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{MaxVentaCuentaCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{MaxVentaCuentaFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda4="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Min_Venta_Cuenta" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor Mínimo Venta Bolivar por Cuenta</label>
                                <input type="text" placeholder="Nombre del documento" class="form-control" name="Min_Venta_Cuenta" ngModel="{{MinVentaCuenta | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{MinVentaCuentaCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{MinVentaCuentaFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda5="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Max_Compra" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor Máximo Compra Bolivar</label>
                                <input type="text" placeholder="" class="form-control" name="Max_Compra" ngModel="{{MaxCompra | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{MaxCompraCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{MaxCompraFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda6="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Min_Compra" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor Mínimo Compra Bolivar</label>
                                <input type="text" placeholder="" class="form-control" name="Min_Compra" ngModel="{{MinCompra | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{MinCompraCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{MinCompraFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda7="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Sugerido_Venta" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor sugerido de venta</label>
                                <input type="text" placeholder="" class="form-control" name="Sugerido_Venta" ngModel="{{SugeridoVenta | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{SugeridoVentaCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{SugeridoVentaFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda8="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Sugerido_Compra" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Valor sugerido de compra</label>
                                <input type="text" placeholder="" class="form-control" name="Sugerido_Compra" ngModel="{{SugeridoCompra | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{SugeridoCompraCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{SugeridoCompraFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda9="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Precio_Ventanilla" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Precio Por Ventanilla</label>
                                <input type="text" placeholder="" class="form-control" name="Precio_Ventanilla" ngModel="{{PrecioVentanilla | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{PrecioVentanillaCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{PrecioVentanillaFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda10="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Min_No_Cobro" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Minimo Para No Cobrar Transferencia</label>
                                <input type="text" placeholder="" class="form-control" name="Min_No_Cobro" ngModel="{{MinNoCobro | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{MinNoCobroCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{MinNoCobroFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <h4>Comisiones</h4>
                <form #FormPermisosMoneda11="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Comision_Efectivo" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Comisión Efectivo</label>
                                <input type="text" placeholder="" class="form-control" name="Comision_Efectivo" ngModel="{{ComisionEfectivo | currency: ' ': ' '}}"readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{ComisionEfectivoCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{ComisionEfectivoFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda12="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Comision_Recaudo" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Comisión por Recaudo</label>
                                <input type="text" placeholder="" class="form-control" name="Comision_Recaudo" ngModel="{{ComisionRecaudo | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{ComisionRecaudoCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{ComisionRecaudoFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <form #FormPermisosMoneda13="ngForm">
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Campo" type="text" placeholder="" class="form-control" ngModel="Pagar_Comision_Desde" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="col-md-4" hidden>
                        <div class="form-group">
                            <label>Identificación</label>
                            <input name="Id_Moneda" type="text" placeholder="" class="form-control" ngModel="{{Moneda.Id_Moneda}}" (focusout)="boolNombre = true" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Pagar Comisión Desde</label>
                                <input type="text" placeholder="" class="form-control" name="Pagar_Comision_Desde" ngModel="{{PagarComisionDesde | currency: ' ': ' '}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="hidden" value="no" name="Diario" ngModel="">
                                <input type="checkbox" value="si" name="Diario" class="form-check" ngModel="{{PagarComisionDesdeCheck}}">
                                <label for="form-4-1">Diario</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Funcionarios</label>
                                <select class="form-control" (focusout)="boolNombre = true" required name="Identificacion_Funcionario" ngModel="{{PagarComisionDesdeFuncionario}}" >
                                    <option value="">Seleccione un funcionario</option>
                                    <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Identificacion_Funcionario">{{Funcionario.Nombres}} {{Funcionario.Apellidos}}</option>
                                </select>
                            </div>                        
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="text-right mrg-top-5">
                            <button type="submit" class="btn btn-primary" (click)="GuardarMoneda([FormPermisosMoneda1, FormPermisosMoneda2, FormPermisosMoneda3,
                            FormPermisosMoneda4, FormPermisosMoneda5, FormPermisosMoneda6, FormPermisosMoneda7, FormPermisosMoneda8, FormPermisosMoneda9, 
                            FormPermisosMoneda10, FormPermisosMoneda11, FormPermisosMoneda12, FormPermisosMoneda13])">Actualizar datos de moneda</button>
                        </div>
                    </div>
                </div>                                                         
            </mdb-accordion-item-body>
        </mdb-accordion-item>
    </mdb-accordion>
</div>

<swal #errorSwal
title="Error al guardar"
text="Se ha generado un error al intentar guardar el documento"
type="error"
>
</swal>

<swal #saveSwal
title="Documento guardado"
text="Se ha guardado correctamente el documento"
type="success"
>
</swal>