<div class="container-fluid">
    <div class="page-title">
      <h4>Configuración General</h4>
    </div>
      <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre Empresa</label>
                                    <input type="text" placeholder="Razón Social" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>N.I.T.</label>
                                    <input type="text" placeholder="Número de Identificación" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" placeholder="Teléfono Principal" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input type="text" placeholder="Celular Principal" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input type="email" placeholder="Correo Principal" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" placeholder="Dirección Principal" class="form-control">
                                </div>
                            </div>
                        </div>	
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Festivos</label>
                                    <input type="text" placeholder="Festivos en Colombia" class="form-control">
                                </div> 
                            </div>
                        </div>	
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="text-right mrg-top-5">
                                    <button type="submit" class="btn btn-primary">Actualizar Información</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    