<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Bancos</h4>
        <button class="pull-right btn btn-primary btn-sm" (click)="ModalBanco.show()"><i class="ti-plus"></i> Agregar Nuevo
            Banco
        </button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <p>Todos los bancos con los que trabajamos</p>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th>Nombre Banco</th>
                                    <th>País</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let banco of bancos" class=" {{banco.Estado == 'Inactivo' ? 'bg-danger text-white' : '' }} ">
                                    <td>{{banco.Nombre}}</td>
                                    <td>{{banco.Pais}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-default btn-xs" type="button" (click)="EditarBanco(banco.Id_Banco)" style="margin:0;">
                                            <i class="ti-pencil"></i>
                                        </button>

                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular este Banco, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }"
                                            (confirm)="EstadoBanco(banco.Id_Banco, banco.Estado)">
                                            <i class=" {{banco.Estado == 'Inactivo' ? 'fa fa-check' : 'ti-close' }} "></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalBanco" #ModalBanco>
    <div class="app-modal-header">
        <h4>Nuevo Banco</h4>
    </div>
    <div class="app-modal-body">
        <form #FormBanco="ngForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Banco" class="form-control" name="Nombre" [(ngModel)]="BancoModel.Nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Moneda del Banco</label>
                        <select class="form-control" name="Id_Moneda" [(ngModel)]="BancoModel.Id_Moneda" required (change)="SeleccionarPaisesPorMoneda($event.target.value)">
                            <option value="" selected>Seleccione una moneda</option>
                            <option *ngFor="let m of Monedas" [value]="m.Id_Moneda">{{m.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>País</label>
                        <select class="form-control" [disabled]="PaisesMoneda.length == 0" name="Id_Pais" [(ngModel)]="BancoModel.Id_Pais" required (change)="SeleccionarPais($event.target.value)">
                            <option value="" selected>Seleccione un País</option>
                            <option *ngFor="let Pais of PaisesMoneda" [value]="Pais.Id_Pais">{{Pais.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificador de Cuentas</label>
                        <input type="text" [disabled]="PaisesMoneda.length == 0" placeholder="Identificador - Ejem: 0134" class="form-control" name="Identificador" [(ngModel)]="BancoModel.Identificador" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Apodo</label>
                        <input type="text" placeholder="Apodo" class="form-control" name="Apodo" [(ngModel)]="BancoModel.Apodo" required>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="Colombia">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Comisión Cons. Nac.</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Consignacion_Nacional"
                                    [(ngModel)]="BancoModel.Comision_Consignacion_Nacional" required>
                            </div>
                            <div class="col-md-3">
                                <label>Comisión 4x1000</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Cuatro_Mil" [(ngModel)]="BancoModel.Comision_Cuatro_Mil" required>
                            </div>
                            <div class="col-md-3">
                                <label>Comisión Cons. Local</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Consignacion_Local" [(ngModel)]="BancoModel.Comision_Consignacion_Local"
                                    required>
                            </div>
                            <div class="col-md-3">
                                <label>Max. Cons. Local</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Maximo_Consignacion_Local" [(ngModel)] ="BancoModel.Maximo_Consignacion_Local"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="Venezuela">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Comisión Otros Bancos</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Otros_Bancos" [(ngModel)]="BancoModel.Comision_Otros_Bancos" required>
                            </div>
                            <div class="col-md-3">
                                <label>Comisión Mayor Valor</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Mayor_Valor" [(ngModel)]="BancoModel.Comision_Mayor_Valor" required>
                            </div>
                            <div class="col-md-3">
                                <label>Mayor Valor</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Mayor_Valor" [(ngModel)]="BancoModel.Mayor_Valor" required>
                            </div>
                            <div class="col-md-3">
                                <label>Max. Trans. Otros Bancos</label>
                                <input  placeholder="Ejem: 1.0123" class="form-control" name="Maximo_Transferencia_Otros_Bancos"
                                [(ngModel)]="BancoModel.Maximo_Transferencia_Otros_Bancos" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles del Banco" name="Detalle" [(ngModel)]="BancoModel.Detalle"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm" [swal]="{title : '¿Está Seguro?', text: 'Se dispone guardar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarBanco(FormBanco, ModalBanco)" [disabled]="!FormBanco.valid">Guardar</button>
        </div>
    </div>
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarBanco" #ModalEditarBanco>
    <div class="app-modal-header">
        <h4>Editar Banco</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarBanco="ngForm">
            <div class="col-md-3">
                <div class="form-group" hidden>
                    <label>Identificación</label>
                    <input name="id" readonly type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="{{infoBanco.Nombre}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>País</label>
                        <select class="form-control" required name="Id_Pais" ngModel="{{infoBanco.Id_Pais}}">
                            <option value="">Seleccione un País</option>
                            <option *ngFor="let Pais of Paises" [value]="Pais.Id_Pais">{{Pais.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificador de Cuentas</label>
                        <input type="text" placeholder="Identificador - Ejem: 0134" class="form-control" name="Identificador" ngModel="{{infoBanco.Identificador}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Apodo</label>
                        <input type="text" placeholder="Apodo" class="form-control" name="Apodo" ngModel="{{infoBanco.Apodo}}" required>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="Colombia">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Comisión Cons. Nac.</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Consignacion_Nacional"
                                        ngModel="{{infoBanco.Comision_Consignacion_Nacional}}" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Comisión 4x1000</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Cuatro_Mil" 
                                    ngModel="{{infoBanco.Comision_Cuatro_Mil}}" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Comisión Cons. Local</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Consignacion_Local"  ngModel="{{infoBanco.Comision_Consignacion_Local}}"
                                        required>
                                </div>
                                <div class="col-md-3">
                                    <label>Max. Cons. Local</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Maximo_Consignacion_Local" ngModel="{{infoBanco.Maximo_Consignacion_Local}}"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row" *ngIf="Venezuela">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Comisión Otros Bancos</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Otros_Bancos" ngModel="{{infoBanco.Comision_Otros_Bancos}}" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Comisión Mayor Valor</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Comision_Mayor_Valor" ngModel="{{infoBanco.Comision_Mayor_Valor}}" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Mayor Valor</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Mayor_Valor" ngModel="{{infoBanco.Mayor_Valor}}" required>
                                </div>
                                <div class="col-md-3">
                                    <label>Max. Trans. Otros Bancos</label>
                                    <input  placeholder="Ejem: 1.0123" class="form-control" name="Maximo_Transferencia_Otros_Bancos"
                                    ngModel="{{infoBanco.Maximo_Transferencia_Otros_Bancos}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles del Banco" name="Detalle" ngModel="{{infoBanco.Detalle}}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-sm" type="button" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a actualizar este banco' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarBanco(FormEditarBanco, ModalEditarBanco)">Guardar</button>
        </div>
    </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el banco" type="error">
</swal>

<swal #saveSwal title="Banco guardado" text="Se ha guardado correctamente el banco" type="success">
</swal>

<swal #deleteSwal title="Banco eliminado" text="Se ha eliminado correctamente el banco" type="success">
</swal>

<swal #confirmacionSwal title="" text="" type=""></swal>