.contenido{
    margin-top: 30px !important;
}
.container{
    background: white;
    margin-top: 30px !important;
}

.transferencia{
    color: #b200b2	;
}

/*.sticky{
    width: 430px !important ;
}*/

/*.modal-lg {
    max-width: 1200px !important;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

modal-dialog modal-lg*/
