.contenido{
    margin-top: 30px !important;
}
.container{
    background: white;
    margin-top: 30px !important;
}

.transferencia{
    color: #b200b2	;
}

.alinear-derecha{
    text-align: right;
}

.titulo-recibo{
    width: 10%;
    font-weight: bold;
    border-right: .8px solid gray;
}

table.modified-table > tbody > tr > td:first-child{
    width: 25%;
    font-weight: bold;
    border-right: .5px solid #e6ecf5;
}


/*.sticky{
    width: 430px !important ;
}*/

/*.modal-lg {
    max-width: 1200px !important;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

modal-dialog modal-lg*/

.custom-input{
    box-shadow: none;
    width: 170px !important;
    display: inline-block;
    border-radius: 6px;
    // border-width: 1px;
    border: 1px solid #e6ecf5;
    font-size: 13px;
    transition: all .2s ease-out;

    &:focus{
        border-color: #51b6c5;
    }
}

.btn-pulse{
    animation: bluepulse 2s infinite;

    &:hover{
        animation: none;
    }
}

//ANIMACIONES
@keyframes bluepulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(26, 128, 211, 0.4);
      box-shadow: 0 0 0 0 rgba(26, 128, 211, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(58, 148, 221, 0);
        box-shadow: 0 0 0 10px rgba(58, 148, 221, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(58, 148, 221, 0);
        box-shadow: 0 0 0 0 rgba(58, 148, 221, 0);
    }
}
