<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Tipos de monedas</h4>
    <button class="pull-right btn btn-info" (click)="ModalMoneda.show()">
      <i class="ti-plus"></i> Agregar Nueva Moneda</button>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <p>Tenemos los tipos de monedas de nuestra empresa</p>
          <div class="table-responsive">
            <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th style="width:50px"></th>
                  <th>Nombre</th>
                  <th style="width:100px">Código</th>
                  <th style="width:130px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Moneda of Monedas">
                  <td style="vertical-align: middle;">
                  </td>
                  <td style="vertical-align: middle;">{{Moneda.Nombre}}</td>
                  <td style="vertical-align: middle;">{{Moneda.Codigo}}</td>
                  <td style="vertical-align: middle;" class="text-center">
                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerMoneda(Moneda.Id_Moneda, ModalVerMoneda)">
                      <i class="ti-search"></i>
                    </button>
                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarMoneda(Moneda.Id_Moneda, ModalEditarMoneda)">
                      <i class="ti-pencil"></i>
                    </button>
                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular esta Moneda, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }"
                      (confirm)="EliminarMoneda(Moneda.Id_Moneda)">
                      <i class="ti-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalMoneda" #ModalMoneda>
  <div class="app-modal-header">
    <h4>Nueva moneda</h4>
  </div>
  <div class="app-modal-body">
    <form #FormMoneda="ngForm">
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre de la moneda" class="form-control" name="Nombre" ngModel="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Código</label>
            <input type="text" placeholder="Código de la moneda" class="form-control" name="Codigo" ngModel="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Orden</label>
            <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control"
              name="Orden" ngModel=0>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-12">
          <h5 *ngIf="titulo(item.Titulo)"> <span class="text-info"> {{item.Titulo}} </span></h5>
        </div>-->
        <div class="col-md-4" *ngFor="let item of Campos; let i = index">
          <div class="form-group">
            <label>{{item.Campo_Visual}}</label>
            <input  class="form-control" name="Diario" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              ngModel=0 (blur)="agregarValor(i,$event.target.value)">
          </div>
        </div>
      </div>

      <h3>Modulos</h3>
      <div class="row">
        <div class="col-md-4" align="center">

          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="cambioCh" id="cambioCh" ngModel class="switch">
              <label for="cambioCh"></label>
            </span>
          </div>

          <label>Cambio</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="giroCh" id="giroCh" ngModel class="switch">
              <label for="giroCh"></label>
            </span>
          </div>

          <label>Giro</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="trasladoCh" id="trasladoCh" ngModel class="switch">
              <label for="trasladoCh"></label>
            </span>
          </div>
          <label>Traslado</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="corresponsalBancarioCh" id="corresponsalBancarioCh" ngModel class="switch">
              <label for="corresponsalBancarioCh"></label>
            </span>
          </div>
          <label>Corresponsal bancario</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="servicioExternoCh" id="servicioExternoCh" ngModel class="switch">
              <label for="servicioExternoCh"></label>
            </span>
          </div>
          <label>Servicio externo</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="gastoCh" id="gastoCh" ngModel class="switch">
              <label for="gastoCh"></label>
            </span>
          </div>

          <label>Gastos</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="transferenciaCh" id="transferenciaCh" ngModel class="switch">
              <label for="transferenciaCh"></label>
            </span>
          </div>
          <label>Transferencia</label>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer ">
    <div class="text-right">
      <button type="submit" class="btn btn-primary" [swal]="{title : '¿Está Seguro?', text: 'Se dispone guardar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarMoneda(FormMoneda, ModalMoneda)">Guardar</button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarMoneda" #ModalEditarMoneda>
  <div class="app-modal-header">
    <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none"
      (click)="OcultarFormularios()">X</button>
    <h4>Editar moneda</h4>
  </div>
  <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
    <form #FormEditarMoneda="ngForm">
      <div class="col-md-4" hidden>
        <div class="form-group">
          <label>Identificación</label>
          <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre de la moneda" class="form-control" name="Nombre" ngModel="{{Nombre}}" (focus)="$event.target.select()"
              (focusout)="boolNombre = true" required #nombreEd="ngModel">
            <div *ngIf="!nombreEd.valid && boolNombre==true" style="color:red">Campo inválido</div>
            <div *ngIf="nombreEd.valid && boolNombre==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Código</label>
            <input type="text" placeholder="Código de la moneda" class="form-control" name="Codigo" ngModel="{{Codigo}}" (focus)="$event.target.select()"
              (focusout)="boolCodigo = true" required #codigoEd="ngModel">
            <div *ngIf="!codigoEd.valid && boolCodigo==true" style="color:red">Campo inválido</div>
            <div *ngIf="codigoEd.valid && boolCodigo==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Orden</label>
            <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control"
              name="Orden" ngModel="{{Orden}}" (focus)="$event.target.select()" (focusout)="boolOrden = true" required #ordenEd="ngModel">
            <div *ngIf="!ordenEd.valid && boolOrden==true" style="color:red">Campo inválido</div>
            <div *ngIf="ordenEd.valid && boolOrden==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
      </div>
      <h3>Datos de Cambios</h3>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Val. Max. Venta en Efectivo</label>
            <input  class="form-control" name="Max_Venta_Efectivo" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              ngModel="{{MaxVentaEfectivo}}" (focus)="$event.target.select()" (focusout)="boolMaxVentaEfectivo = true" required
              #maxVentaEfectivoEd="ngModel">
            <div *ngIf="!maxVentaEfectivoEd.valid && boolMaxVentaEfectivo==true" style="color:red">Campo inválido</div>
            <div *ngIf="maxVentaEfectivoEd.valid && boolMaxVentaEfectivo==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Val. Min. Venta en Efectivo</label>
            <input  class="form-control" name="Min_Venta_Efectivo" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              ngModel="{{MinVentaEfectivo}}" (focus)="$event.target.select()" (focusout)="boolMinVentaEfectivo = true" required
              #minVentaEfectivoEd="ngModel">
            <div *ngIf="!minVentaEfectivoEd.valid && boolMinVentaEfectivo==true" style="color:red">Campo inválido</div>
            <div *ngIf="minVentaEfectivoEd.valid && boolMinVentaEfectivo==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Val. Max. Venta por cuenta</label>
            <input  class="form-control" name="Max_Venta_Cuenta" ngModel="{{MaxVentaCuenta}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolMaxVentaCuenta = true" required #maxVentaCuentaEd="ngModel">
            <div *ngIf="!maxVentaCuentaEd.valid && boolMaxVentaCuenta==true" style="color:red">Campo inválido</div>
            <div *ngIf="maxVentaCuentaEd.valid && boolMaxVentaCuenta==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Val. Min. Venta por cuenta</label>
            <input  class="form-control" name="Min_Venta_Cuenta" ngModel="{{MinVentaCuenta}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolMinVentaCuenta = true" required #minVentaCuentaEd="ngModel">
            <div *ngIf="!minVentaCuentaEd.valid && boolMinVentaCuenta==true" style="color:red">Campo inválido</div>
            <div *ngIf="minVentaCuentaEd.valid && boolMinVentaCuenta==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Precio Venta sugerido</label>
            <input  class="form-control" name="Sugerido_Venta" ngModel="{{SugeridoVenta}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolSugeridoVenta = true" required #sugeridoVentaEd="ngModel">
            <div *ngIf="!sugeridoVentaEd.valid && boolSugeridoVenta==true" style="color:red">Campo inválido</div>
            <div *ngIf="sugeridoVentaEd.valid && boolSugeridoVenta==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Precio de compra sugerido</label>
            <input  class="form-control" name="Sugerido_Compra" ngModel="{{SugeridoCompra}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolSugeridoCompra = true" required #sugeridoCompraEd="ngModel">
            <div *ngIf="!sugeridoCompraEd.valid && boolSugeridoCompra==true" style="color:red">Campo inválido</div>
            <div *ngIf="sugeridoCompraEd.valid && boolSugeridoCompra==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Precio por ventanilla</label>
            <input  class="form-control" name="Precio_Ventanilla" ngModel="{{PrecioVentanilla}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolPrecioVentanilla = true" required #precioVentanillaEd="ngModel">
            <div *ngIf="!precioVentanillaEd.valid && boolPrecioVentanilla==true" style="color:red">Campo inválido</div>
            <div *ngIf="precioVentanillaEd.valid && boolPrecioVentanilla==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Precio de compra Max.</label>
            <input  class="form-control" name="Max_Compra" ngModel="{{MaxCompra}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolMaxCompra = true" required #maxCompraEd="ngModel">
            <div *ngIf="!maxCompraEd.valid && boolMaxCompra==true" style="color:red">Campo inválido</div>
            <div *ngIf="maxCompraEd.valid && boolMaxCompra==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Precio de compra Min.</label>
            <input  class="form-control" name="Min_Compra" ngModel="{{MinCompra}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolMinCompra = true" required #minCompraEd="ngModel">
            <div *ngIf="!minCompraEd.valid && boolMinCompra==true" style="color:red">Campo inválido</div>
            <div *ngIf="minCompraEd.valid && boolMinCompra==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Precio Min. de no cobro</label>
            <input  class="form-control" name="Min_No_Cobro" ngModel="{{MinNoCobro}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolMinNoCobro = true" required #minNoCobroEd="ngModel">
            <div *ngIf="!minNoCobroEd.valid && boolMinNoCobro==true" style="color:red">Campo inválido</div>
            <div *ngIf="minNoCobroEd.valid && boolMinNoCobro==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Redondeo a pesos en efectivo</label>
            <input  class="form-control" name="Redondeo_Pesos_Efectivo" ngModel="{{RedondeoPesosEfectivo}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolRedondeoPesosEfectivo = true" required #redondeoPesosEfectivoEd="ngModel">
            <div *ngIf="!redondeoPesosEfectivoEd.valid && boolRedondeoPesosEfectivo==true" style="color:red">Campo inválido</div>
            <div *ngIf="redondeoPesosEfectivoEd.valid && boolRedondeoPesosEfectivo==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Redondeo a pesos en cuenta</label>
            <input  class="form-control" name="Redondeo_Pesos_Cuenta" ngModel="{{RedondeoPesosCuenta}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              (focus)="$event.target.select()" (focusout)="boolRedondeoPesosCuenta = true" required #redondeoPesosCuentaEd="ngModel">
            <div *ngIf="!redondeoPesosCuentaEd.valid && boolRedondeoPesosCuenta==true" style="color:red">Campo inválido</div>
            <div *ngIf="redondeoPesosCuentaEd.valid && boolRedondeoPesosCuenta==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
      </div>
      <h3>Comisiones</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Comisión efectivo</label>
            <input  class="form-control" name="Comision_Efectivo" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              ngModel={{ComisionEfectivo}} (focus)="$event.target.select()" (focusout)="boolComisionEfectivo = true" required
              #comisionEfectivoEd="ngModel">
            <div *ngIf="!comisionEfectivoEd.valid && boolComisionEfectivo==true" style="color:red">Campo inválido</div>
            <div *ngIf="comisionEfectivoEd.valid && boolComisionEfectivo==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Pagar comisión desde</label>
            <input  class="form-control" name="Pagar_Comision_Desde" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              ngModel={{PagarComisionDesde}} (focus)="$event.target.select()" (focusout)="boolPagarComisionDesde = true" required
              #pagarComisionDesdeEd="ngModel">
            <div *ngIf="!pagarComisionDesdeEd.valid && boolPagarComisionDesde==true" style="color:red">Campo inválido</div>
            <div *ngIf="pagarComisionDesdeEd.valid && boolPagarComisionDesde==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Comisión por recaudo</label>
            <input  class="form-control" name="Comision_Recaudo" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              ngModel={{ComisionRecaudo}} (focus)="$event.target.select()" (focusout)="boolComisionRecaudo = true" required
              #comisionRecaudoEd="ngModel">
            <div *ngIf="!comisionRecaudoEd.valid && boolComisionRecaudo==true" style="color:red">Campo inválido</div>
            <div *ngIf="comisionRecaudoEd.valid && boolComisionRecaudo==true" style="color:green">Datos correctos!</div>
          </div>
        </div>
      </div>
      <h3>Modulos</h3>
      <div class="row">
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="cambioCh3" [(ngModel)]="cambioVal3" id="cambio3" hidden />
            <label for="cambio3"></label>
          </div>
          <input type="number" class="form-control" name="Cambio" ngModel="1" *ngIf="cambioVal3" hidden>
          <input type="number" class="form-control" name="Cambio" [(ngModel)]="cambioMod3" *ngIf="!cambioVal3" hidden>
          <label>Cambio</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="giroCh3" [(ngModel)]="giroVal3" id="giro3" hidden />
            <label for="giro3"></label>
          </div>
          <input type="number" class="form-control" name="Giro" ngModel="1" *ngIf="giroVal3" hidden>
          <input type="number" class="form-control" name="Giro" [(ngModel)]="giroMod3" *ngIf="!giroVal3" hidden>
          <label>Giro</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="trasladoCh3" [(ngModel)]="trasladoVal3" id="traslado3" hidden />
            <label for="traslado3"></label>
          </div>
          <input type="number" class="form-control" name="Traslado" ngModel="1" *ngIf="trasladoVal3" hidden>
          <input type="number" class="form-control" name="Traslado" [(ngModel)]="trasladoMod3" *ngIf="!trasladoVal3" hidden>
          <label>Traslado</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="corresponsalBancarioCh3" [(ngModel)]="corresponsalBancarioVal3" id="corresponsalBancario3" hidden
            />
            <label for="corresponsalBancario3"></label>
          </div>
          <input type="number" class="form-control" name="Corresponsal_Bancario" ngModel="1" *ngIf="corresponsalBancarioVal3" hidden>
          <input type="number" class="form-control" name="Corresponsal_Bancario" [(ngModel)]="corresponsalBancarioMod3" *ngIf="!corresponsalBancarioVal3"
            hidden>
          <label>Corresponsal bancario</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="servicioExternoCh3" [(ngModel)]="servicioExternoVal3" id="servicioExterno3" hidden />
            <label for="servicioExterno3"></label>
          </div>
          <input type="number" class="form-control" name="Servicio_Externo" ngModel="1" *ngIf="servicioExternoVal3" hidden>
          <input type="number" class="form-control" name="Servicio_Externo" [(ngModel)]="servicioExternoMod3" *ngIf="!servicioExternoVal3"
            hidden>
          <label>Servicio externo</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="gastoCh3" [(ngModel)]="gastoVal3" id="gasto3" hidden />
            <label for="gasto3"></label>
          </div>
          <input type="number" class="form-control" name="Gasto" ngModel="1" *ngIf="gastoVal3" hidden>
          <input type="number" class="form-control" name="Gasto" [(ngModel)]="gastoMod3" *ngIf="!gastoVal3" hidden>
          <label>Gastos</label>
        </div>
        <div class="col-md-4" align="center">
          <div class="checkboxTwo">
            <input type="checkbox" name="transferenciaCh3" [(ngModel)]="transferenciaVal3" id="transferencia3" hidden />
            <label for="transferencia3"></label>
          </div>
          <input type="number" class="form-control" name="Transferencia" ngModel="1" *ngIf="transferenciaVal3" hidden>
          <input type="number" class="form-control" name="Transferencia" [(ngModel)]="transferenciaMod3" *ngIf="!transferenciaVal3"
            hidden>
          <label>Transferencia</label>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button class="btn btn-primary btn-sm" [disabled]="!nombreEd.valid || !codigoEd.valid || !ordenEd.valid || !maxVentaEfectivoEd.valid || !minVentaEfectivoEd.valid || !maxVentaCuentaEd.valid || !minVentaCuentaEd.valid || !sugeridoVentaEd.valid || !sugeridoCompraEd.valid || !precioVentanillaEd.valid || !maxCompraEd.valid || !minCompraEd.valid || !minNoCobroEd.valid || !redondeoPesosEfectivoEd.valid || !redondeoPesosCuentaEd.valid || !comisionEfectivoEd.valid || !pagarComisionDesdeEd.valid || !comisionRecaudoEd.valid"
        [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarMoneda(FormEditarMoneda, ModalEditarMoneda)">Guardar</button>
    </div>
  </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar la moneda" type="error">
</swal>

<swal #saveSwal title="Moneda guardada" text="Se ha guardado correctamente la moneda" type="success">
</swal>

<swal #deleteSwal title="Moneda Eliminada" text="Se ha eliminado correctamente la Moneda" type="success">
</swal>