<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Tipos de monedas</h4>
    <button class="pull-right btn btn-info" (click)="ModalMoneda.show()">
      <i class="ti-plus"></i> Agregar Nueva Moneda</button>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <p>Tenemos los tipos de monedas de nuestra empresa</p>
          <div class="table-responsive">
            <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th style="width:50px"></th>
                  <th>Nombre</th>
                  <th style="width:100px">Código</th>
                  <th style="width:130px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Moneda of Monedas">
                  <td style="vertical-align: middle;">
                  </td>
                  <td style="vertical-align: middle;">{{Moneda.Nombre}}</td>
                  <td style="vertical-align: middle;">{{Moneda.Codigo}}</td>
                  <td style="vertical-align: middle;" class="text-center">
                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerMoneda(Moneda.Id_Moneda, ModalVerMoneda)">
                      <i class="ti-search"></i>
                    </button>
                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarMoneda(Moneda.Id_Moneda, ModalEditarMoneda)">
                      <i class="ti-pencil"></i>
                    </button>
                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a eliminar esta Moneda, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Eliminar', cancelButtonText : 'No, Dejame Comprobar!' }"
                      (confirm)="EliminarMoneda(Moneda.Id_Moneda)">
                      <i class="ti-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalMoneda" #ModalMoneda>
  <div class="app-modal-header">
    <h4>Nueva moneda</h4>
    <div *ngIf="Error" class="alert alert-danger">
      <strong>ERROR</strong><br>
      <ul>
        <li *ngFor=" let item of Mensaje">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
  <div class="app-modal-body">
    <form #FormMoneda="ngForm">
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre de la moneda" class="form-control" name="Nombre" ngModel="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Código</label>
            <input type="text" placeholder="Código de la moneda" class="form-control" name="Codigo" ngModel="">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Orden</label>
            <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control"
              name="Orden" ngModel=0>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-12">
          <h5 *ngIf="titulo(item.Titulo)"> <span class="text-info"> {{item.Titulo}} </span></h5>
        </div>
        [checked]="Moneda.TransfEliminar == '1' ? '1' : '0'"
      -->
        <div class="col-md-4" *ngFor="let item of Campos; let i = index">
          <div class="form-group">
            <label>{{item.Campo_Visual}}</label>
            <input type="number" class="form-control" name="Diario" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" ngModel=0
             >
          </div>
        </div>
      </div>

      <h3>Modulos</h3>
      <div class="row">
        <div class="col-md-3" align="center">

          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="Cambio" id="Cambio" ngModel class="switch">
              <label for="Cambio"></label>
            </span>
          </div>

          <label>Cambio</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="Giro" id="Giro" ngModel class="switch">
              <label for="Giro"></label>
            </span>
          </div>

          <label>Giro</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="Traslado" id="Traslado" ngModel class="switch">
              <label for="Traslado"></label>
            </span>
          </div>
          <label>Traslado</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="CorresponsalBancario" id="CorresponsalBancario" ngModel class="switch">
              <label for="CorresponsalBancario"></label>
            </span>
          </div>
          <label>Corresponsal bancario</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="ServicioExterno" id="ServicioExterno" ngModel class="switch">
              <label for="ServicioExterno"></label>
            </span>
          </div>
          <label>Servicio externo</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="Gasto" id="Gasto" ngModel class="switch">
              <label for="Gasto"></label>
            </span>
          </div>

          <label>Gastos</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="Transferencia" id="Transferencia" ngModel class="switch">
              <label for="Transferencia"></label>
            </span>
          </div>
          <label>Transferencia</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input type="checkbox" name="Compras" id="Compras" ngModel class="switch">
              <label for="Compras"></label>
            </span>
          </div>
          <label>Compras</label>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer ">
    <div class="text-right">
      <button *ngIf="Boton" type="submit" class="btn btn-primary" [swal]="{title : '¿Está Seguro?', text: 'Se dispone guardar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarMoneda(FormMoneda, ModalMoneda)">Guardar</button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarMoneda" #ModalEditarMoneda>
  <div class="app-modal-header">
    <h4>Editar moneda</h4>
    <div *ngIf="Error" class="alert alert-danger">
      <strong>ERROR</strong><br>
      <ul>
        <li *ngFor=" let item of Mensaje">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
  <div class="app-modal-body">
    <form #FormEditarMoneda="ngForm">
      <div class="col-md-4" hidden>
        <div class="form-group">
          <label>Identificación</label>
          <input name="Id_Moneda" type="text" placeholder="Id_Moneda" class="form-control" ngModel="{{Moneda.Id_Moneda}}" required>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre de la moneda" class="form-control" name="Nombre" ngModel="{{Moneda.Nombre}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Código</label>
            <input type="text" placeholder="Código de la moneda" class="form-control" name="Codigo" ngModel="{{Moneda.Codigo}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Orden</label>
            <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control"
              name="Orden" ngModel={{Moneda.Orden}}>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-12">
          <h5 *ngIf="titulo(item.Titulo)"> <span class="text-info"> {{item.Titulo}} </span></h5>
        </div>-->
        <div class="col-md-4" *ngFor="let item of Campos; let i = index">
          <div class="form-group">
            <label>{{item.Campo_Visual}}</label>
            <input class="form-control" name="Diario_{{i}}" ngModel="{{item.Valor}}" >
          </div>
        </div>
      </div>

      <h3>Modulos</h3>
      <div class="row">
        <div class="col-md-3" align="center">

          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.Cambio == '1' ? '1' : '0'" type="checkbox" name="Cambio" id="Cambio_Editar" ngModel class="switch">
              <label for="Cambio_Editar"></label>
            </span>
          </div>

          <label>Cambio</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.Giro == '1' ? '1' : '0'" type="checkbox" name="Giro" id="Giro_Editar" ngModel class="switch">
              <label for="Giro_Editar"></label>
            </span>
          </div>

          <label>Giro</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.Traslado == '1' ? '1' : '0'" type="checkbox" name="Traslado" id="Traslado_Editar" ngModel class="switch">
              <label for="Traslado_Editar"></label>
            </span>
          </div>
          <label>Traslado</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.CorresponsalBancario == '1' ? '1' : '0'" type="checkbox" name="CorresponsalBancario" id="CorresponsalBancario_Editar"
                ngModel class="switch">
              <label for="CorresponsalBancario_Editar"></label>
            </span>
          </div>
          <label>Corresponsal bancario</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.ServicioExterno == '1' ? '1' : '0'" type="checkbox" name="ServicioExterno" id="ServicioExterno_Editar"
                ngModel class="switch">
              <label for="ServicioExterno_Editar"></label>
            </span>
          </div>
          <label>Servicio externo</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.Gasto == '1' ? '1' : '0'" type="checkbox" name="Gasto" id="Gasto_Editar" ngModel class="switch">
              <label for="Gasto_Editar"></label>
            </span>
          </div>

          <label>Gastos</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.Transferencia == '1' ? '1' : '0'" type="checkbox" name="Transferencia" id="Transferencia_Editar"
                ngModel class="switch">
              <label for="Transferencia_Editar"></label>
            </span>
          </div>
          <label>Transferencia</label>
        </div>
        <div class="col-md-3" align="center">
          <div class="form-group">
            <span class="switch switch-sm">
              <input [checked]="Moneda.Compras == '1' ? '1' : '0'" type="checkbox" name="Compras" id="Compras_Editar" ngModel class="switch">
              <label for="Compras_Editar"></label>
            </span>
          </div>
          <label>Compras</label>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button class="btn btn-primary btn-sm" [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarMoneda(FormEditarMoneda, ModalEditarMoneda)">Guardar</button>
    </div>
  </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar la moneda" type="error">
</swal>

<swal #saveSwal title="Moneda guardada" text="Se ha guardado correctamente la moneda" type="success">
</swal>

<swal #deleteSwal title="Moneda Eliminada" text="Se ha eliminado correctamente la Moneda" type="success">
</swal>