<div class="card-block">
    <ul class="list-unstyled list-info">
      <li>
        <span class="thumb-img pdd-top-10">
          <i class="ti-control-shuffle text-primary font-size-30"></i>
        </span>
        <div class="info">
          <b class="text-dark font-size-22">Recibos Transferencias</b>
          <p class="no-mrg-btm ">A cuentas extranjeras</p>
        </div>
      </li>
    </ul>

    <div class="my-3">
      <div class="row d-flex justify-content-center" id="transferencias1" *ngIf="Transferencia1">
        <div class="col-md-4">
          <button (click)="CambiarVista('Transferencia')"
            class="btn btn-primary btn-block mrg-top-10 btn-grande">Nuevo Recibo De Transferencia</button>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <div class="tab-success">
                <app-tablatransferenciascajero [ActualizarTabla]="ActulizarTablaRecibos.asObservable()">
                </app-tablatransferenciascajero>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO se modifica paga con, vueltos  -->
      <div class="row" id="transferencias2" *ngIf="Transferencia2" style="margin-top: 50px">
        <div class="col-md-12">
          <form #FormTransferencia="ngForm">
            <div class="row">
              <div class="col-md-3">
                <label class="transferencia">Forma de Pago</label>
                <select id="Forma_Pago" class="form-control"
                  (change)="ControlarValoresSelect($event.target.value)" name="Forma_Pago"
                  [(ngModel)]="TransferenciaModel.Forma_Pago" required>
                  <option value="Efectivo" [selected]>Efectivo</option>
                  <option value="Credito">Credito</option>
                  <option value="Consignacion">Consignación</option>
                </select>
              </div>
              <div class="col-md-3">
                <label class="transferencia">Recibe Para</label>
                <select id="Tipo_Transferencia" (change)="ControlarValoresSelect($event.target.value)"
                  class="form-control" name="Tipo_Transferencia"
                  [(ngModel)]="TransferenciaModel.Tipo_Transferencia" required>
                  <option value="Transferencia">Transferencia</option>
                  <option value="Cliente" *ngIf="TransferenciaModel.Forma_Pago != 'Credito'">Cliente</option>
                </select>
              </div>

              <div class="col-md-3">
                <label class="transferencia">Moneda para el cambio</label>
                <select id="Moneda_Transferencia" class="form-control" name="Moneda_Transferencia"
                  [(ngModel)]="TransferenciaModel.Moneda_Destino" required
                  (change)="SetMonedaTransferencia($event.target.value)">
                  <!-- <option selected value="">Seleccione moneda</option> -->
                  <option *ngFor="let m of MonedasTransferencia" [value]="m.Id_Moneda">{{m.Nombre}}</option>
                </select>
              </div>

              <div class="col-md-3" *ngIf="ControlVisibilidadTransferencia.SelectCliente">
                <label class="transferencia">Seleccione Cliente</label>
                <select class="form-control" name="Id_Tercero_Destino"
                  [(ngModel)]="TransferenciaModel.Id_Tercero_Destino" required>
                  <option value="">Seleccione un cliente</option>
                  <option *ngFor="let c of Clientes" [value]="c.Id_Tercero">{{c.Nombre}}</option>
                </select>
              </div>
            </div>

            <div id="data-container">
              <!-- Para Credito-->
              <div class="row" *ngIf="ControlVisibilidadTransferencia.DatosCredito">
                <div class="col-md-12">
                  <hr class="mrg-top-10 mrg-btm-10">
                  <h5>Crédito</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <label>Tercero</label>
                      <input class="form-control" name="Id_Tercero" type="text" [(ngModel)]="tercero_credito"
                        placeholder="Nombre Tercero" [ngbTypeahead]="search_tercero_credito"
                        [resultTemplate]="rt_tercero_credito" [inputFormatter]="formatter_tercero_credito"
                        (ngModelChange)="AutoCompletarTerceroCredito(tercero_credito)">
                    </div>
                    <div class="col-md-4">
                      <label>Cupo Tercero</label>
                      <input name="Cupo_T" [(ngModel)]="TransferenciaModel.Cupo_Tercero" type="text" disabled
                        class="form-control" placeholder="Cupo disponible" currencyMask
                        [options]="{ thousands: '.' }">
                    </div>
                    <div *ngIf="InputBolsaBolivares" class="col-md-4">
                      <label>Bolsa de Bolivares</label>
                      <input name="SaldoBolivar" [(ngModel)]="TransferenciaModel.Bolsa_Bolivares" type="text"
                        disabled class="form-control" placeholder="Bolsa disponible" currencyMask
                        [options]="{ thousands: '.' }">
                    </div>

                  </div>
                </div>
              </div>

              <!-- Para Consignacion-->
              <div class="row" *ngIf="ControlVisibilidadTransferencia.DatosConsignacion">
                <div class="col-md-12">
                  <hr>
                  <h5>Consignación</h5>
                  <select class="form-control" name="Id_Cuenta_Bancaria"
                    [(ngModel)]="TransferenciaModel.Id_Cuenta_Bancaria">
                    <option value="" selected>Seleccione Cuenta Bancaria</option>
                    <option *ngFor="let c of CuentasPersonales" [value]="c.Id_Cuenta_Bancaria">
                      {{c.Numero_Cuenta}} - {{c.Nombre_Titular}} - {{c.Tipo_de_Cuenta}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- Destinatarios -->
              <div class="row" *ngIf="ControlVisibilidadTransferencia.Destinatarios">
                <div class="col-md-12">
                  <hr class="mrg-top-10 mrg-btm-10">
                  <div class="row">
                    <div class="col-md-6">
                      <h5>Destinatarios</h5>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                      <button class="btn btn-light" (click)="AgregarDestinatarioTransferencia()">
                        Agregar Destinatario <i class="ti-plus"></i>
                      </button>
                    </div>
                  </div>

                  <div *ngFor="let destinatario of ListaDestinatarios; let i= index">
                    <div class="row">

                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="transferencia">N. Documento
                            <i class="ti-pencil" style="cursor:pointer;" *ngIf="destinatario.EditarVisible"
                              (click)="EditarDest2(destinatario.Numero_Documento_Destino, 'editar cuentas', i)"></i>
                          </label>
                          <input type="text" class="form-control" name="Destino_{{i}}" id="Destino_{{i}}"
                            [(ngModel)]="destinatario.id_destinatario_transferencia"
                            [ngbTypeahead]="search_destino2" [resultTemplate]="rt_destino"
                            [inputFormatter]="formatter_destino"
                            (ngModelChange)="AutoCompletarDestinatario(destinatario.id_destinatario_transferencia, i, ListaDestinatarios,destinatario)"
                            (change)="AutoCompletarDestinatario(destinatario.id_destinatario_transferencia, i, ListaDestinatarios,destinatario)"
                            (blur)="validateInputDocumentRetard(destinatario.Numero_Documento_Destino, 'crear especial', i, destinatario)"
                            [disabled]="MonedaParaTransferencia.id == ''" required>
                        </div>

                        <!-- <div class="col-md-2">
                        <div class="form-group">
                          <label class="transferencia">N. Documento
                            <i class="ti-pencil" style="cursor:pointer;" *ngIf="destinatario.EditarVisible"
                              (click)="EditarDest2(destinatario.Numero_Documento_Destino, 'editar cuentas', i)"></i>
                          </label>
                          <input type="text" class="form-control" name="Destino_{{i}}" id="Destino_{{i}}"
                            [(ngModel)]="destinatario.id_destinatario_transferencia"
                            [ngbTypeahead]="search_destino2" [resultTemplate]="rt_destino"
                            [inputFormatter]="formatter_destino"
                            (ngModelChange)="AutoCompletarDestinatario(destinatario.id_destinatario_transferencia, i, ListaDestinatarios)"
                            (change)="AutoCompletarDestinatario(destinatario.id_destinatario_transferencia, i, ListaDestinatarios)"
                            (blur)="EditarDest2Retard(destinatario.Numero_Documento_Destino, 'crear especial', i)"
                            [disabled]="MonedaParaTransferencia.id == ''" required>
                        </div> -->
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="transferencia">Nombre</label>
                          <input name="Nombre_Destino_{{i}}" [(ngModel)]="destinatario.Nombre_Destinatario"
                            type="text" placeholder="Nombre" class="form-control" readonly
                            [disabled]="MonedaParaTransferencia.id == ''">
                        </div>
                      </div>
                      <!-- TODO cuenta por deafult primera -->
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="transferencia">Cuenta</label>
                          <select id="Id_Destinatario_Cuenta_{{i}}" name="Id_Destinatario_Cuenta_{{i}}"
                            [(ngModel)]="destinatario.Id_Destinatario_Cuenta" class="form-control"
                            autocomplete="off" [disabled]="MonedaParaTransferencia.id == ''"
                            (ngModelChange)="ValidarCuentaBancariaDuplicada(i, destinatario.Id_Destinatario_Cuenta)">
                            <option id="opId_Destinatario_Cuenta_{{i}}"
                              *ngFor="let c of destinatario.Cuentas;  index as i;"
                              [value]="c.Id_Destinatario_Cuenta">
                              {{c.Nombre}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="transferencia">Valor {{MonedaParaTransferencia.nombre}}</label>
                          <div class="row">
                            <div class="col-md-10">
                              <input id="Valor_Transferencia_{{i}}" type="text" placeholder="Valor a Transferir"
                                [disabled]="DeshabilitarValor" class="form-control alinear-derecha"
                                name="Valor_Transferencia_{{i}}" [(ngModel)]="destinatario.Valor_Transferencia"
                                required (blur)="ValidarValorTransferirDestinatario2($event.target.value, i)"
                                currencyMask [options]="{ thousands: '.', decimal: ',' }">
                            </div>
                            <div class="col-md-2">
                              <i *ngIf="i > 0" class="ti-trash" style="color:red; cursor:pointer;"
                                (confirm)="EliminarDestinatarioTransferencia(i)"
                                [swal]="{title : 'Eliminar Destinatario', text: '¿Está seguro de querer eliminar este destinatario?' , type : 'error', showCancelButton : true , confirmButtonText: 'Sí, eliminar',cancelButtonText: '¡No, déjame comprobar!'}">
                              </i>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="ControlVisibilidadTransferencia.DatosCambio">
                <!--SECCION DATOS CAMBIO-->
                <div class="col-md-12" *ngIf="!TransferenciaPesos">
                  <hr class="mrg-top-10 mrg-btm-10">
                  <h5>Datos del Cambio</h5>
                  <div class="row mrg-top-20">
                    <div class="col-md-4">
                      <div class="form-group text-center">
                        <label class="transferencia">Moneda Recibida</label>
                        <label class="block-element font-weight-bold">Pesos</label>

                      </div>
                      <div class="form-group">
                        <input *ngIf="TransferenciaModel.Bolsa_Bolivares == '0'"
                          class="form-control alinear-derecha" id="Cantidad_Recibida" type="text"
                          (blur)="CalcularCambioMoneda($event.target.value, 'por origen')" autocomplete="off"
                          placeholder="Valor Recibido" [(ngModel)]="TransferenciaModel.Cantidad_Recibida"
                          name="Cantidad_Recibida" required currencyMask
                          [options]="{ thousands: '.', decimal: ',' }">

                        <input *ngIf="TransferenciaModel.Bolsa_Bolivares != '0'"
                          class="form-control alinear-derecha" id="Cantidad_Recibida" type="text"
                          (blur)="CalcularCambioMoneda($event.target.value, 'por origen')" autocomplete="off"
                          placeholder="Valor Recibido" [(ngModel)]="TransferenciaModel.Cantidad_Recibida"
                          name="Cantidad_Recibida" currencyMask [options]="{ thousands: '.', decimal: ',' }">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group text-center">
                        <label class="transferencia">Tasa de Cambio
                          <!-- <i class="ml-1" [ngClass]="{'ti-unlock':DeshabilitarTasa, 'ti-lock':!DeshabilitarTasa}" style="cursor:pointer;" 
                                                                (click)="DesbloquearTasa()"></i> -->
                        </label>
                        <input id="Tasa_Cambio_Transferencia" type="text" class="form-control alinear-derecha"
                          [disabled]="TransferenciaModel.Cantidad_Transferida == ''" name="Tasa_Cambio"
                          [(ngModel)]="TransferenciaModel.Tasa_Cambio"
                          (blur)="CalcularCambioMoneda($event.target.value, 'por tasa')"
                          placeholder="Tasa cambiaria">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group text-center">
                        <label class="transferencia">Moneda de Transferencia
                        </label>
                        <label
                          class="block-element font-weight-bold">{{MonedaParaTransferencia.nombre == "" ? "Moneda" : MonedaParaTransferencia.nombre}}</label>
                      </div>
                      <div class="form-group">
                        <input *ngIf="TransferenciaModel.Bolsa_Bolivares == '0'" id="Cantidad_Transferida"
                          type="text" placeholder="Valor Transferencia" class="form-control alinear-derecha"
                          [(ngModel)]="TransferenciaModel.Cantidad_Transferida" name="Cantidad_Transferida"
                          required (blur)="CalcularCambioMoneda($event.target.value, 'por destino')"
                          currencyMask [options]="{ thousands: '.', decimal: ',' }">

                        <input *ngIf="TransferenciaModel.Bolsa_Bolivares != '0'" id="Cantidad_Transferida"
                          type="text" placeholder="Valor Transferencia" class="form-control alinear-derecha"
                          [(ngModel)]="TransferenciaModel.Cantidad_Transferida" name="Cantidad_Transferida"
                          (blur)="CalcularCambioMoneda($event.target.value, 'por destino')" currencyMask
                          [options]="{ thousands: '.' }">
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-md-12" *ngIf="TransferenciaPesos">
                  <hr class="mrg-top-10 mrg-btm-10">
                  <h5>Datos del Cambio</h5>
                  <div class="row mrg-top-20">
                    <div class="col-md-4">
                      <div class="form-group text-center">
                        <label class="transferencia">Monto Recibido</label>
                        <input class="form-control alinear-derecha" id="Cantidad_Recibida" type="text"
                          (blur)="ColocarMontoSoloPesos($event.target.value)" autocomplete="off"
                          placeholder="Monto Recibido" [(ngModel)]="TransferenciaModel.Cantidad_Recibida"
                          name="Cantidad_Recibida" required currencyMask
                          [options]="{ thousands: '.', decimal: ',' }">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="ControlVisibilidadTransferencia.DatosRemitente">
                <!--NUEVA SECCION REMITENTE-->
                <div class="col-md-12">
                  <hr class="mrg-top-10 mrg-btm-10">
                  <div class="row">
                    <div class="col-md-12" style="display:flex;align-items: center;">
                      <h5>Datos del Remitente</h5>

                      <div class="form-group pl-2 pt-1">

                        <!-- <button class="btn btn-outline-info btn-rounded btn-xs m-0 btn-pulse"
                          (click)="MostrarBusqueda()" id="btn-search">
                          <i class="ti-search"></i></button> -->
                        <!-- <span id="remSearch" style="display:none;"> -->
                        <!-- <input type="text" class="custom-input" placeholder="Busqueda"
                          name="Numero_Documento_Origen" autocomplete="off" [(ngModel)]="id_remitente"
                          [ngbTypeahead]="search_remitente2" [resultTemplate]="rt_remitente"
                          [inputFormatter]="formatter_remitente"
                          (ngModelChange)="AutoCompletarRemitente(id_remitente, i)">

                        <i class="ti-pencil text-info pl-2 font-size-17" style="cursor:pointer;"
                          *ngIf="EditRemitenteTransferencia && id_remitente != ''"
                          (click)="EditarRemitenteTransferencia(id_remitente, RemitenteModalEnum.Editar_Transferencia)"
                          id="ic_edit_remitente_transferencia"></i>

                        <i class="ti-plus text-success pl-2 font-size-17" style="cursor:pointer;"
                          *ngIf="!EditRemitenteTransferencia && id_remitente != ''"
                          (click)="EditarRemitenteTransferencia(id_remitente, RemitenteModalEnum.Crear_Transferencia)"
                          id="ic_crear_remitente_transferencia"></i> -->
                        <!-- </span> -->

                      </div>
                    </div>
                  </div>
                  <div class="row mrg-top-20">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="transferencia">Número Documento</label>


                        <input type="text" class="custom-input" placeholder="Busqueda"
                          name="Numero_Documento_Origen" autocomplete="off"
                          [(ngModel)]="TransferenciaModel.Documento_Origen" [ngbTypeahead]="search_remitente2"
                          [resultTemplate]="rt_remitente" [inputFormatter]="formatter_remitente"
                          (ngModelChange)="AutoCompletarRemitente(TransferenciaModel.Documento_Origen, i)"
                          value="TransferenciaModel.Documento_Origen">

                        <i class="ti-pencil text-info pl-2 font-size-17" style="cursor:pointer;"
                          *ngIf="EditRemitenteTransferencia"
                          (click)="EditarRemitenteTransferencia(TransferenciaModel.Documento_Origen, RemitenteModalEnum.Editar_Transferencia)"
                          id="ic_edit_remitente_transferencia"></i>

                        <i class="ti-plus text-success pl-2 font-size-17" style="cursor:pointer;"
                          *ngIf="!EditRemitenteTransferencia"
                          (click)="EditarRemitenteTransferencia(TransferenciaModel.Documento_Origen, RemitenteModalEnum.Crear_Transferencia)"
                          id="ic_crear_remitente_transferencia"></i>

                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="transferencia">Nombre</label>
                        <label
                          style="display:block;">{{TransferenciaModel.Nombre_Remitente == "" ? "Nombre Remitente" : TransferenciaModel.Nombre_Remitente}}</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="transferencia">Teléfono</label>
                        <label
                          style="display:block;">{{TransferenciaModel.Telefono_Remitente == "" ? "Telefono Remitente" : TransferenciaModel.Telefono_Remitente}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mrg-top-20">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="transferencia">Observaciones</label>
                    <textarea placeholder="Observaciones" class="form-control" name="Observacion_Transferencia"
                      [(ngModel)]="TransferenciaModel.Observacion_Transferencia"></textarea>
                  </div>
                </div>
              </div>

              <div class="row mrg-top-20">
                <div class="col-md-10">
                  <button [disabled]="!FormTransferencia.valid || validateInputDocumentSmall.includes(true)"
                    id="BotonTransferencia" class="btn btn-primary btn-sm btn-block mrg-top-10"
                    [swal]="{title : '¿Está seguro?', text: 'Se dispone a registrar la transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Sí, guardar',cancelButtonText: '¡No, déjame comprobar!'}"
                    (confirm)="GuardarTransferencia(FormTransferencia)">Guardar Transferencia
                  </button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-danger btn-sm btn-block mrg-top-10"
                    (click)="volverReciboTransferencia(FormTransferencia)">Volver</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>