<div class="card-header">
  <div class="row">
    <div class="col-md-4" style="display:flex; align-items:flex-end;">
      <h5>Todos los bancos registrados</h5>          
    </div>
    <div class="col-md-8">
      <div class="pull-right">
        <button class="btn btn-rounded btn-outline-primary btn-sm" style="display:flex; align-items:center;"
          (click)="AbrirModal('0')">
          <i class="ti-plus font-size-15 mr-2"></i> Nuevo Banco
        </button>
      </div>
    </div>
  </div>                  
</div>
<div class="card-body">
  <table class="table table-striped table-bordered custom-table">
    <thead>
      <tr>
        <th class="custom-thead">Nombre</th>
        <th class="custom-thead" >Apodo</th>
        <th class="custom-thead" style="width:10%;">Identificador</th>
        <th class="custom-thead" style="width:15%;">Pais</th>
        <th class="custom-thead" style="width:10%;">Estado</th>
        <th class="custom-thead" style="width:8%;">Acciones</th>
      </tr>
      <tr>
        <th class="table-filters">
          <input type="text" class="form-control form-control-sm" placeholder="Filtro nombre"
            (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.nombre">
        </th>
        <th class="table-filters">
          <input type="text" class="form-control form-control-sm" placeholder="Filtro apodo"
            (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.apodo">
        </th>
        <th class="table-filters">
          <input type="text" class="form-control form-control-sm" placeholder="Filtro identificador"
            (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.identificador">
        </th>
        <th class="table-filters">
          <select id="pais" class="form-control form-control-sm" (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.pais">
            <option value="" selected>Seleccione</option>
            <option *ngFor="let p of Paises" [value]="p.Id_Pais">{{p.Nombre}}</option>
          </select>
        </th>
        <th class="table-filters">
            <select id="pais" class="form-control form-control-sm" (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.estado">
              <option value="" selected>Seleccione</option>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
        </th>
        <th class="table-filters"></th>
      </tr>
      <tr *ngIf="Cargando">
        <td colspan="6" class="text-center">
          <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
            <h2>CARGANDO BANCOS</h2>
            <img src="{{RutaImagenes}}" style="width:250px;" alt="CARGANDO">
          </div>
        </td>
      </tr>
      <tr *ngIf="Bancos.length == 0 && !Cargando">
        <td colspan="6" class="text-center">
            <i class="ti-alert font-size-20 text-warning"></i>
            <h4>No hay bancos para mostrar!</h4>
        </td>
      </tr>
    </thead>
    <tbody *ngIf="!Cargando">                                            
      <tr *ngFor="let b of Bancos; let i = index;" [ngClass]="{'bg-inactive':b.Estado == 'Inactivo'}">
        <td class="custom-cell">{{b.Nombre}}</td>
        <td class="custom-cell">{{b.Apodo}}</td>
        <td class="custom-cell">{{b.Identificador}}</td>
        <td class="custom-cell">{{b.Pais}}</td>
        <td class="custom-cell">{{b.Estado}}</td>
        <td class="custom-cell">
          <div class="text-center">
            <div ngbDropdown class="dropdown-primary">
              <button ngbDropdownToggle class="btn btn-outline-primary btn-xs btn-rounded waves-effect waves-light " type="button"><i class="ti-angle-down"></i></button>
              <div ngbDropdownMenu>
                <a class="dropdown-item waves-light waves-effect caja-botones accionable" (click)="AbrirModal(b.Id_Banco)">
                  <i class="ti-pencil text-warning"></i> Editar</a>
                <a class="dropdown-item waves-light waves-effect caja-botones accionable" (confirm)="CambiarEstadoBanco(b.Id_Banco)"
                  [swal]="{title : '¿Está Seguro?', text: 'Se dispone a cambiar el estado de este banco' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Cambiar',cancelButtonText: 'No!'}">
                    <i [ngClass]="{'ti-na text-danger':b.Estado == 'Activo', 'ti-back-right text-success':b.Estado == 'Inactivo'}"></i> 
                    {{b.Estado == 'Activo' ? 'Inactivar' : 'Activar'}}</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="paginacion-container" *ngIf="Bancos.length > 0">
    <div class="row">
      <div class="col-md-3">
        <p><b>Mostrando del {{InformacionPaginacion.desde}} al {{InformacionPaginacion.hasta}} de {{ InformacionPaginacion.total }}</b></p>
      </div>
      <div class="col-md-9">
        <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize"
          size="sm" (pageChange)="ConsultaFiltrada(true)" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<app-modalbanco
  [AbrirModal]="AbrirModalCrear.asObservable()"
  (ActualizarTabla)="ConsultaFiltrada()">
</app-modalbanco>