<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header alert alert-primary">
        <div class="row">
          <div class="col-md-1" style="text-align:center;">
            <img class="mt-2" src="../../../../assets/images/transfer.png" alt="icono_transferencia"
              style="width:1.5rem; height:1.5rem;">
          </div>
          <div class="col-md-7" style="font-size: 1.5rem;">
            <label>Transferencias</label>
          </div>
          <div class="col-md-4 text-right">
            <button class="btn btn-outline-primary btn-rounded btn-sm" type="button" (click)="VerCuentas()">Ver
              Cuentas</button>
            <button class="btn btn-outline-danger btn-rounded btn-sm" type="button" (click)="CierreCuentas()">Cerrar
              Cuentas</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered custom-table">
          <thead>
            <tr>
              <th class="custom-thead" style="width: 10%;">Fecha</th>
              <th class="custom-thead">Recibo</th>
              <th class="custom-thead">Cajero</th>
              <th class="custom-thead">Valor</th>
              <th class="custom-thead">Valor Recibo</th>
              <!-- <th class="custom-thead">Cliente</th> -->
              <!-- <th class="custom-thead">Cedula</th> -->
              <th class="custom-thead">Destinatario</th>
              <th class="custom-thead">Cta. Destino</th>

              <th class="custom-thead">Pendiente</th>
              <th class="custom-thead">Estado</th>
              <th class="custom-thead">Acciones</th>
              <!-- <th class="custom-thead">Documento</th> -->
              <!-- <th style="word-wrap: break-word;word-break: break-all;" class="custom-thead">Realizada/Bloqueado Por</th> -->
            </tr>
            <!-- <tr>
              <th class="table-filters">
                <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                  [(ngModel)]="Filtros.fecha" (dateRangeChanged)="dateRangeChanged($event)" placeholder="Filtro Fechas">
                </my-date-range-picker>
              </th>
              <th class="table-filters">
                <input type="text" class="form-control form-control-sm" placeholder="Filtro cod."
                  (change)="ConsultaFiltradaObservable()" [(ngModel)]="Filtros.codigo">
              </th>
              <th class="table-filters">
              </th>
              <th class="table-filters">
              </th>
              <th class="table-filters">
                <input type="text" class="form-control form-control-sm" placeholder="Filtro ced."
                  (change)="ConsultaFiltradaObservable()" [(ngModel)]="Filtros.cedula">
              </th>
              <th class="table-filters">
                <input type="text" class="form-control form-control-sm" placeholder="Filtro cta."
                  (change)="ConsultaFiltradaObservable()" [(ngModel)]="Filtros.cta_destino">
              </th>
              <th class="table-filters">
                <input type="text" class="form-control form-control-sm" placeholder="Filtro dest."
                  (change)="ConsultaFiltradaObservable()" [(ngModel)]="Filtros.nombre_destinatario">
              </th>
              <th class="table-filters"></th>
              <th class="table-filters">
                <select type="text" class="form-control form-control-sm" placeholder="Filtro estado"
                  (change)="ConsultaFiltradaObservable()" [(ngModel)]="Filtros.estado"
                  style="width:80% !important;padding: 0px !important;">
                  <option value="" selected>Todos</option>
                  <option value="Pendiente">Pendiente</option>
                  <option value="Pagada">Pagada</option>
                  <option value="devuelta">Devueltas</option>
                </select>
              </th>
              <th class="table-filters"></th>
            </tr> -->
            <tr *ngIf="Cargando">
              <td colspan="9" class="text-center">
                <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
                  <h2>CARGANDO TRANSFERENCIAS</h2>
                  <img src="{{globales.ruta}}IMAGENES/GIFS/reloj_arena_cargando.gif" style="width:250px;"
                    alt="CARGANDO">
                </div>
              </td>
            </tr>
            <tr *ngIf="TransferenciasListar.length == 0 && !Cargando">
              <td colspan="10" class="text-center">
                <i class="ti-alert font-size-20 text-warning"></i>
                <h4>No hay transferencias pendientes!</h4>
              </td>
            </tr>
          </thead>
          <tbody *ngIf="!Cargando">

            <tr *ngFor="let ts of TransferenciasSeleccionadas; let i = index;" style="background-color: #f7ab31;">
              <!-- <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell text-center"
                style="cursor:pointer;">
                {{ts.Fecha | date:"dd-MM-yyyy HH:mm" }}</td> -->
              <!-- <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="cursor:pointer;">{{ts.Codigo}}</td>
              <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="cursor:pointer;">{{ts.NombreCajero}}</td>
              <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="text-align:right;cursor:pointer;">
                {{ts.Valor_Transferencia | customcurrency:ts.Codigo_Moneda}}({{ts.Tasa_Cambio}})</td> -->




              <!-- <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="text-align:right;cursor:pointer;">{{ts.Valor_Real | customcurrency:ts.Codigo_Moneda}}</td> -->

              <!-- <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="text-align:right;cursor:pointer;">{{ts.Numero_Documento_Destino}}</td> -->

<!-- 
              <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="cursor:pointer;">{{ts.Destinatario}}</td>

              <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="cursor:pointer;">{{ts.Cuenta_Destino  | mask: '0000-0000-0000-0000-0000'}}</td> -->

              <!-- /***************************************************************************************************/ -->

              <!-- <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                    style="cursor:pointer;">{{ts.Funcionario_Bloqueo}}</td> -->
              <!-- <td (click)="DeseleccionarTransferencia(ts.Id_Transferencia_Destinatario)" class="custom-cell"
                style="cursor:pointer;">{{ts.Estado}}</td> -->


              <!-- /***************************************************************************************************/ -->
              <!-- <td class="custom-cell text-center">
                <button class="btn btn-default btn-xs" type="button" title="Pagar Transferencia" style="margin:0;"
                  (click)="BloquearTransferencia(ts)">
                  <i class="ti-money text-success"></i>
                </button>
              </td>
            -->
          </tr> 
            <tr *ngFor="let t of TransferenciasListar; let i = index;" style="cursor:pointer;"
              [ngClass]="{'bg-selected': t.Estado == 'Pagada'}">

              <td (click)="SeleccionarTransferencia(t)" class="custom-cell text-center">

                <!-- <label *ngIf="t.Devolucion != '0'" title="Tiene devoluciones" class="badge badge-danger">D</label> -->
                {{t.Fecha | date:"dd-MM-yyyy HH:mm" }}
              
              </td>

              <td (click)="SeleccionarTransferencia(t)" class="text-center">{{t.Codigo}}</td>

              <td (click)="SeleccionarTransferencia(t)" class="text-center"
                style="cursor:pointer;">{{t.NombreCajero}}</td>

              <td (click)="SeleccionarTransferencia(t)" class="text-center" style="text-align:right;">
                {{t.Valor_Transferencia | customcurrency:t.Codigo_Moneda}}({{t.Tasa_Cambio}})</td>

              <td (click)="SeleccionarTransferencia(t)" class="text-center" style="text-align:right;">
                {{t.Valor_Real | customcurrency:t.Codigo_Moneda}}</td>

              <td (click)="SeleccionarTransferencia(t)" class="text-center" style="text-align:right;">
                {{t.Numero_Documento_Destino}}</td>

              <td (click)="SeleccionarTransferencia(t)" class="text-center">
                {{t.Cuenta_Destino  | mask: '0000-0000-0000-0000-0000' }}</td>


              <!-- <td (click)="SeleccionarTransferencia(t)" class="text-center">{{t.Destinatario}}</td> -->

              <td (click)="SeleccionarTransferencia(t)" class="text-center">{{t.Funcionario_Bloqueo}}</td>
              <td (click)="SeleccionarTransferencia(t)" class="text-center">{{t.Estado}}</td>
              <td class="text-center">

                <button class="btn btn-default btn-xs" type="button" title="Ver Pagos" style="margin:0;"
                  (click)="DevolverTransferencia(t)">
                  <i class="ti-search text-primary"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="paginacion-container" *ngIf="TransferenciasListar.length > 0">
          <div class="row">
            <div class="col-md-4">
              <p><b>Mostrando del {{InformacionPaginacion.desde}} al {{InformacionPaginacion.hasta}} de
                  {{ InformacionPaginacion.total }}</b></p>
            </div>
            <div class="col-md-8">
              <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize"
                [pageSize]="pageSize" size="sm" (pageChange)="ConsultaFiltradaObservable(true)" [boundaryLinks]="true">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-xs'" id="ModalPrueba" #ModalPrueba>
  <div class="app-modal-header" style="margin: 0 auto;">
    <h4>Crear Transferencia</h4>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Cuenta Origen</label>
          <label for="" style="display:block;"><b>{{NombreCuenta}}</b></label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Monto Transferencia</label>
        </div>
      </div>
    </div>
    <form #FormTransferencia="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Nro. Transferencia</label>
            <input class="form-control form-control-sm" type="text" required
              [(ngModel)]="MovimientoBancoModel.Numero_Transferencia" name="Numero_Transferencia">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer" style="margin: 0 auto;">
    <div class="text-center">
      <button id="GuardarInicio" class="btn btn-primary btn-sm"
        [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a guardar esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Guardar', cancelButtonText : 'No, Comprobar!' }"
        (confirm)="GuardarTransferencia(ModalPrueba)" [disabled]="!FormTransferencia.valid">Registrar
      </button>
      <button id="CerrarModal" class="btn btn-default btn-sm" (click)="DesbloquearTransferencia()">Cerrar
      </button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-xs'" id="ModalTransferencia" #ModalTransferencia>
  <div class="app-modal-header" style="margin: 0 auto;">
    <h4>Crear Transferencia</h4>
  </div>
  <div class="app-modal-body">
    <form #FormTransferencia="ngForm">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="cuenta_origen">Cuenta Origen</label>
            <select name="Id_Cuenta_Bancaria" id="cuenta_origen" style="width:90% !important; margin-left:0 !important;"
              class="form-control form-control-sm" (change)="ActualizarValorRealCuenta($event.target.value)"
              [(ngModel)]="MovimientoBancoModel.Id_Cuenta_Bancaria" required>
              <option value="" selected>Seleccion origen</option>
              <option *ngFor="let cb of CuentasBancariasSeleccionadas" [value]="cb.Id_Cuenta_Bancaria">
                {{cb.Codigo_Moneda}} - {{cb.Nombre_Titular}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="">Saldo real</label>
          <div class="row">
            <div class="col-md-12">
              <label for=""
                style="display:block;"><b>{{ValorRealCuenta | customcurrency:CodigoMonedaValorReal}}</b></label>
            </div>
            <!-- <div class="col-md-3">
                  <button class="btn btn-outline-success btn-xs btn-rounded" [disabled]="MovimientoBancoModel.Id_Cuenta_Bancaria == ''"
                    (click)="AbrirModalAbono()">
                    Abono
                  </button>
                </div> -->
          </div>

        </div>
      </div>


      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Para</label>
            <label for="" style="display:block;"><b>{{TransferenciaModel.Destinatario}}</b></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="" style="display:block;">Documento <span>
                {{TransferenciaModel.Type_Documento }} :
              </span><b>{{TransferenciaModel.Numero_Documento_Destino}}</b></label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Cuenta Destino</label>
            <label for=""
              style="display:block;"><b>{{TransferenciaModel.Cuenta_Destino | mask: '0000-0000-0000-0000-0000' }}</b></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="valor">Monto Transferencia</label>
            <input type="text" class="form-control form-control-sm" name="valor"
              [(ngModel)]="MovimientoBancoModel.Valor" style="text-align:right;" required currencyMask
              [options]="{ thousands: '.', decimal: ',' }">
            <label for="" style="display:block;"><small>valor real {{custom | currency:' '}}</small></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Nro. Transferencia</label>
            <input class="form-control form-control-sm" type="text" required
              [(ngModel)]="MovimientoBancoModel.Numero_Transferencia" name="Numero_Transferencia">
            <span></span>
            <!-- <label for="">{{MovimientoBancoModel.Numero_Transferencia}}</label> -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer" style="margin: 0 auto;">
    <div class="text-center">
      <button id="GuardarInicio" class="btn btn-outline-primary btn-sm btn-rounded"
        [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a guardar esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Guardar', cancelButtonText : 'No, Comprobar!' }"
        (confirm)="GuardarTransferencia(ModalTransferencia)" [disabled]="!FormTransferencia.valid">Registrar
      </button>
      <button id="CerrarModal" class="btn btn-outline-danger btn-sm btn-rounded"
        (click)="DesbloquearTransferencia()">Cerrar
      </button>
    </div>
  </div>
</app-modal-basic>

<app-modalpagostransferencia [AbrirModal]="AbrirModalDevolucion.asObservable()"></app-modalpagostransferencia>

<app-modalabonocompracuenta [AbrirModal]="AbrirModalCompra.asObservable()"
  (ActualizarDatos)="ActualizarValorCuentaBancaria()">
</app-modalabonocompracuenta>

<swal title='' text='' type='' #alertSwal></swal>
