<div class="row-fluid">
  <div class="col-md-12">
    <!--<div *ngIf="TransferenciasListar.length == 0" style="text-align:center;">
      <h2>No hay transferencias pendientes!</h2>
    </div>-->
    <table class="table table-striped table-bordered custom-table">
      <thead>
        <tr>
          <th class="custom-thead" style="width:4%;">Fecha</th>
          <th class="custom-thead" style="width:3%;">Recibo</th>
          <th class="custom-thead" style="width:5%;">Cajero</th>
          <th class="custom-thead">Valor</th>
          <th class="custom-thead">Pendiente</th>
          <th class="custom-thead" style="width:5%;">Cédula</th>
          <th class="custom-thead" style="width:9%;">Cta. Destino</th>
          <th class="custom-thead" style="width:12%;">Destinatario</th>
          <th class="custom-thead">Bloqueado Por</th>
          <th class="custom-thead" style="width:7%;">Estado</th>
          <th class="custom-thead" style="width:3%;"></th>
        </tr>
        <tr>
          <th class="table-filters">
            <input type="date" class="form-control form-control-sm" placeholder="Filtro fecha"
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.fecha">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control form-control-sm" placeholder="Filtro cod."
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.codigo">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control form-control-sm" placeholder="Filtro caj."
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.cajero">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control form-control-sm" placeholder="Filtro val."
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.valor">
          </th>
          <th class="table-filters">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control form-control-sm" placeholder="Filtro ced."
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.cedula">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control form-control-sm" placeholder="Filtro cta."
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.cta_destino">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control form-control-sm" placeholder="Filtro dest."
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.nombre_destinatario">
          </th>
          <th class="table-filters">
          </th>
          <th class="table-filters">
              <select type="text" class="form-control form-control-sm" placeholder="Filtro estado"
              (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.estado" style="width:80% !important;padding: 0px !important;">
                <option value="" selected>Seleccione</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Pagada">Pagada</option>
                <option value="Devuelta">Devuelta</option>
              </select>
          </th>
          <th class="table-filters"></th>
        </tr>
        <tr *ngIf="Cargando">
          <td colspan="11" class="text-center">
            <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
              <h2>CARGANDO TRANSFERENCIAS</h2>
              <img src="{{globales.ruta}}IMAGENES/GIFS/reloj_arena_cargando.gif" style="width:250px;" alt="CARGANDO">
            </div>
          </td>
        </tr>
        <tr *ngIf="TransferenciasListar.length == 0 && !Cargando">
          <td colspan="11" class="text-center">
              <i class="ti-alert font-size-20 text-warning"></i>
              <h4>No hay transferencias pendientes!</h4>
          </td>
        </tr>
      </thead>
      <tbody *ngIf="!Cargando">                                            
        <tr *ngFor="let t of TransferenciasListar; let i = index;">
          <td class="custom-cell">{{t.Fecha | date:"dd-MM-yyyy" }}</td>
          <td class="custom-cell">{{t.Codigo}}</td>
          <td class="custom-cell">{{t.NombreCajero}}</td>
          <td class="custom-cell" style="text-align:right;">{{t.Valor_Transferencia | customcurrency:t.Codigo_Moneda}}({{t.Tasa_Cambio}})</td>
          <td class="custom-cell" style="text-align:right;">{{t.Valor_Real | customcurrency:t.Codigo_Moneda}}</td>
          <td class="custom-cell" style="text-align:right;">{{t.Numero_Documento_Destino}}</td>
          <td class="custom-cell">{{t.Cuenta_Destino}}</td>
          <td class="custom-cell">{{t.Destinatario}}</td>
          <td class="custom-cell">{{t.Funcionario_Bloqueo}}</td>
          <td class="custom-cell">{{t.Estado}}</td>
          <td>
            <div class="text-center">
              <div ngbDropdown class="dropdown-primary">
                <button ngbDropdownToggle class="btn btn-outline-primary btn-xs btn-rounded waves-effect waves-light " type="button"><i class="ti-angle-down"></i></button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item waves-light waves-effect caja-botones" (click)="BloquearTransferencia(t)">
                    <i class="ti-money text-success"></i> Pagar</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="paginacion-container" *ngIf="TransferenciasListar.length > 0">
      <div class="row">
        <div class="col-md-3">
          <p><b>Mostrando del {{InformacionPaginacion.desde}} al {{InformacionPaginacion.hasta}} de {{ InformacionPaginacion.total }}</b></p>
        </div>
        <div class="col-md-9">
          <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize"
            size="sm" (pageChange)="ConsultaFiltrada(true)" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-xs'" id="ModalPrueba" #ModalPrueba>
    <div class="app-modal-header" style="margin: 0 auto;">
        <h4>Crear Transferencia</h4>
    </div>
    <div class="app-modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Cuenta Origen</label>
                <label for="" style="display:block;"><b>{{NombreCuenta}}</b></label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Monto Transferencia</label>
                <label for="" style="display:block;"><b>{{MovimientoBancoModel.Valor}}</b></label>
              </div>
            </div>
          </div>
        <form #FormTransferencia="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Nro. Transferencia</label>
                <input class="form-control form-control-sm" type="text" required [(ngModel)]="MovimientoBancoModel.Numero_Transferencia" name="Numero_Transferencia">
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="app-modal-footer" style="margin: 0 auto;">
        <div class="text-center">
            <button 
              id="GuardarInicio" 
              class="btn btn-primary btn-sm" 
              [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a guardar esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Guardar', cancelButtonText : 'No, Comprobar!' }"
              (confirm)="GuardarTransferencia(ModalPrueba)"
              [disabled]="!FormTransferencia.valid">Registrar
            </button>
            <button 
              id="CerrarModal" 
              class="btn btn-default btn-sm" 
              (click)="DesbloquearTransferencia()">Cerrar
            </button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-xs'" id="ModalTransferencia" #ModalTransferencia>
    <div class="app-modal-header" style="margin: 0 auto;">
        <h4>Crear Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormTransferencia="ngForm">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="cuenta_origen">Cuenta Origen</label>
                <select name="Id_Cuenta_Bancaria" id="cuenta_origen" style="width:90% !important; margin-left:0 !important;" class="form-control form-control-sm"
                  [(ngModel)] ="MovimientoBancoModel.Id_Cuenta_Bancaria" required>
                  <option value="" selected>Seleccion origen</option>
                  <option *ngFor="let cb of CuentasBancarias" [value]="cb.Id_Cuenta_Bancaria">{{cb.Nombre_Titular}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="">Saldo real</label>
              <label for="" style="display:block;"><b>{{10000000 | number | puntos}}</b></label>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Para</label>
                <label for="" style="display:block;"><b>{{TransferenciaModel.Destinatario}}</b></label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Cédula</label>
                <label for="" style="display:block;"><b>{{TransferenciaModel.Numero_Documento_Destino}}</b></label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Cuenta Destino</label>
                <label for="" style="display:block;"><b>{{TransferenciaModel.Cuenta_Destino}}</b></label>
              </div>
            </div>            
            <div class="col-md-6">
                <div class="form-group">
                  <label for="valor">Monto Transferencia</label>
                  <input type="text" class="form-control form-control-sm" name="valor" [(ngModel)]="MovimientoBancoModel.Valor" style="text-align:right;"
                    required>
                </div>
              </div>
          </div>        
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Nro. Transferencia</label>
                <input class="form-control form-control-sm" type="text" required [(ngModel)]="MovimientoBancoModel.Numero_Transferencia" name="Numero_Transferencia">
              </div>
            </div>
          </div>
        </form>
    </div>
    <div class="app-modal-footer" style="margin: 0 auto;">
        <div class="text-center">
            <button 
              id="GuardarInicio" 
              class="btn btn-primary btn-sm" 
              [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a guardar esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Guardar', cancelButtonText : 'No, Comprobar!' }"
              (confirm)="GuardarTransferencia(ModalTransferencia)"
              [disabled]="!FormTransferencia.valid">Registrar
            </button>
            <button 
              id="CerrarModal" 
              class="btn btn-default btn-sm" 
              (click)="DesbloquearTransferencia()">Cerrar
            </button>
        </div>
    </div>
</app-modal-basic>

<swal title='' text='' type='' #alertSwal></swal>
