<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Código</th>
      <th>Cajero</th>
      <th>Valor</th>
      <th>Bloqueado Por</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>                                            
    <tr *ngFor="let t of TransferenciasListar; let i = index;">
      <td>{{t.Fecha | date:"MMM d, y" }}</td>
      <td>{{t.Codigo}}</td>
      <td>{{t.NombreCajero}}</td>
      <td>{{t.Cantidad_Transferida | currency}}</td>
      <td>{{t.Funcionario_Bloqueo}}</td>
      <td>
        <div class="text-center">
          <div ngbDropdown class="dropdown-primary">
            <button ngbDropdownToggle class="btn btn-secondary btn-mini waves-effect waves-light " type="button">Acciones <i class="ti-angle-down"></i></button>
            <div ngbDropdownMenu>
              <a class="dropdown-item waves-light waves-effect caja-botones" (click)="ModalPrueba.show()">
                <i class="ti-lock"></i> Bloquear</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-basic [dialogClass]="'modal-xs'" id="ModalPrueba" #ModalPrueba>
    <div class="app-modal-header" style="margin: 0 auto;">
        <h4>Apertura de Cuenta</h4>
    </div>
    <div class="app-modal-body">
        <form #FormMontoInicialCuentaBancaria="ngForm">
          <input type="text">
          <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
        </form>
    </div>
    <div class="app-modal-footer" style="margin: 0 auto;">
        <div class="text-center">
            <button id="GuardarInicio" class="btn btn-primary btn-sm" (click)="ModalPrueba.hide()">Cerrar</button>
        </div>
    </div>
</app-modal-basic>
