<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Transferencias</h4>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-info">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TotalTransferencias}}</h1>
                            <span class="text-white">Transferencias</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-control-shuffle font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TransferenciasRealizadas}}</h1>
                            <span class="text-white">Realizadas</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-thumb-up font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card bg-danger">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TransferenciasDevueltas}}</h1>
                            <span class="text-white">Devueltas</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-thumb-down font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TransferenciasAnuladas}}</h1>
                            <span class="text-white">Anuladas</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-close font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row">
        <!--<div class="col-md-4">
            <div class="row">
                <div class="col-md-12 card min-heigth">
                    <div>
                        <div id="chartdiv" style="height: 500px;font-size: 11px;width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Pendientes -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger">
                                    <thead>
                                        <tr>
                                            <th style="width:150px;">Fecha</th>
                                            <th>Recibo</th>
                                            <th>Cajero</th>
                                            <th style="width:80px">Cuenta Destino</th>
                                            <th>Valor</th>
                                            <th>Bloqueado por</th>
                                            <th style="width:160px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let transferencia of transferencias" class="{{transferencia.EstadoTransferencia == 'Devuelta' ? 'bg-danger text-white' : '' }}">
                                            <td>{{transferencia.Fecha | date:"short" }}</td>
                                            <td>{{transferencia.ReciboCodigo}}</td>
                                            <td>{{transferencia.NombreCajero}}</td>
                                            <td>{{transferencia.Numero_Cuenta}}</td>
                                            <td class="text-right">{{transferencia.Valor_Transferencia_Bolivar |
                                                currency:"BsS."}}</td>
                                            <td>{{transferencia.nombreFuncionario}}</td>
                                            <td class="text-center">
                                                <button *ngIf="Bloqueado(transferencia.Bloqueo,transferencia.Bloqueo_Funcionario)"
                                                    (click)="verificarBloqueo(transferencia.Id_Transferencia_Destinatario,transferencia.Numero_Cuenta)"
                                                    class="btn btn-default btn-xs" type="button" style="margin:0;">
                                                    <i class="fa fa-check"></i>
                                                </button>

                                                <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                                                    (click)="DevolucionTransferencia(transferencia.Id_Transferencia_Destinatario,ModalDevolucionTransferencia)">
                                                    <i class="fa fa-undo"></i>
                                                </button>

                                                <button *ngIf="!Bloqueado(transferencia.Bloqueo,transferencia.Bloqueo_Funcionario)" class="btn btn-default btn-xs"
                                                    [swal]="{title:'¿ Está seguro que desea desbloquearla ?' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Desbloquear', cancelButtonText:'No, Dejame Comprobar!'}"
                                                    type="button" style="margin:0;" (confirm)="BloquearTransferencia(transferencia.Id_Transferencia_Destinatario,transferencia.Bloqueo);bloqueoSwal.show();">
                                                    <i class="fa fa-unlock"></i>
                                                </button>



                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Realizadas -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget card">
                        <div class="card-block">
                            <div class="table-overflow">
                                <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions"
                                    [dtTrigger]="dtTrigger">
                                    <thead>
                                        <tr>
                                            <th style="width:150px;">Fecha</th>
                                            <th>Recibo</th>
                                            <th>Cajero</th>
                                            <th>Cuenta Destino</th>
                                            <th style="width:80px">Valor</th>
                                            <th style="width:160px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let transferencia of transferenciasRealizadas" class="bg-success text-white">
                                            <td>{{transferencia.Fecha | date:"short" }}</td>
                                            <td>{{transferencia.ReciboCodigo}}</td>
                                            <td>{{transferencia.NombreCajero}}</td>
                                            <td>{{transferencia.Numero_Cuenta}}</td>
                                            <td class="text-right">{{transferencia.ValorBancario |
                                                currency:"BsS."}}</td>
                                            <td class="text-center">
                                                <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                                                    (click)="DevolucionTransferencia(transferencia.Id_Transferencia_Destinatario,ModalDevolucionTransferencia, transferencia.ValorBancario)">
                                                    <i class="fa fa-undo"></i>
                                                </button>

                                                <!--
                                                <button *ngIf="!Bloqueado(transferencia.Bloqueo)" class="btn btn-default btn-xs" [swal]="{title:'Está transferencia fue bloqueada por transferencia.Bloqueo_Funcionario ¿ Está seguro que desea desbloquearla ?' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Bloquear', cancelButtonText:'No, Dejame Comprobar!'}"
                                                    type="button" style="margin:0;" (confirm)="BloquearTransferencia(transferencia.Id_Transferencia_Destinatario,transferencia.Bloqueo);bloqueoSwal.show();">
                                                    <i class="fa fa-unlock"></i>
                                                </button> -->

                                                <button *ngIf="!Bloqueado(transferencia.Bloqueo)" class="btn btn-default btn-xs"
                                                    (click)="alertaDesbloqueo(transferencia.Bloqueo_Funcionario)" type="button"
                                                    style="margin:0;">
                                                    <i class="fa fa-unlock"></i>
                                                </button>

                                                <swal #desbloqueoSwal title="" text="" type="" showCancelButton=""
                                                    confirmButtonText="" cancelButtonText="" (confirm)="BloquearTransferencia(transferencia.Id_Transferencia_Destinatario,transferencia.Bloqueo);bloqueoSwal.show();">
                                                </swal>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el documento" type="error">
</swal>

<swal #saveSwal title="Documento guardado" text="Se ha guardado correctamente el documento" type="success">
</swal>

<swal #deleteSwal title="Destinatario Eliminado" text="Se ha Eliminado Correctamente la transferencia" type="success">
</swal>

<swal #bloqueoSwal title="Transferencia Desbloqueada" text="Se ha Desbloqueado Correctamente la transferencia" type="success">
</swal>

<swal #mensajeSwal title="" text="" type="">
</swal>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalDevolucionTransferencia" #ModalDevolucionTransferencia>
    <div class="app-modal-header">
        <h4>Devolución Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormDevolucionTransferencia="ngForm">
            <input hidden name="Id_Transferencia_Destino" type="text" [(ngModel)]="Identificacion">
            <input hidden name="Valor" type="text" [(ngModel)]="valorDevolverTransferencia">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Motivo Devolución</label>
                        <textarea rows="4" cols="50" class="form-control" placeholder="Detalles del Banco" name="Motivo_Devolucion"
                            ngModel></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!FormDevolucionTransferencia.valid" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a devolver esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="RealizarDevolucion(FormDevolucionTransferencia, ModalDevolucionTransferencia)">Devolver</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalReactivarTransferencia" #ModalReactivarTransferencia>
    <div class="app-modal-header">
        <h4>Reactivar Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormReactivarTransferencia="ngForm">
            <input hidden name="Id_Transferencia" type="text" [(ngModel)]="Identificacion">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Motivo Reactivar</label>
                        <textarea rows="4" cols="50" class="form-control" placeholder="Detalles del Banco" name="Motivo_Reactivar"
                            ngModel></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!FormReactivarTransferencia.valid" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a reactivar esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="RealizarReactivacion(FormReactivarTransferencia, ModalReactivarTransferencia)">Reactivar</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCrearTransferenciaBanesco" #ModalCrearTransferenciaBanesco>
    <div class="app-modal-header">
        <h4>Crear Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormCrearTransferenciaBanesco="ngForm">
            <input hidden class="form-control" name="Id_Transferencia_Destino" type="text" [(ngModel)]="idTransferencia"
                required>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Id Cuenta Origen</label>
                        <select class="form-control" name="Id_Cuenta_Bancaria" ngModel required>
                            <option value="">Seleccione Cuenta Origen</option>
                            <option *ngFor="let banco of BancosEmpresa" [value]="banco.Id_Cuenta_Bancaria">{{banco.Numero_Cuenta}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Cuenta Destino</label>
                        <input class="form-control" name="Cuenta_Destino" type="text" [(ngModel)]="CuentaDestino"
                            required readonly>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Para</label>
                        <input class="form-control" name="Recibe" type="text" [(ngModel)]="Recibe" required readonly>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Cedula Destino</label>
                        <input class="form-control" name="CedulaDestino" type="text" [(ngModel)]="CedulaDestino"
                            required readonly>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Monto</label>
                        <input class="form-control" name="Valor" type="text" ngModel="{{Monto | currency:'BsS.'}}"
                            required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Numero Transferencia</label>
                        <input class="form-control" name="Numero_Transferencia" type="text" ngModel required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!FormCrearTransferenciaBanesco.valid" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a realizar esta transferencia con los valores indicados' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="CrearTransferencia(FormCrearTransferenciaBanesco, ModalCrearTransferenciaBanesco)">Guardar</button>
            <button type="submit" class="btn btn-primary" (click)="CancelarBloqueo(idTransferencia,ModalCrearTransferenciaBanesco,FormCrearTransferenciaBanesco)"> Volver</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCrearTransferenciaOtroBanco" #ModalCrearTransferenciaOtroBanco>
    <div class="app-modal-header">
        <h4>Crear Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormCrearTransferenciaOtroBanco="ngForm">
            <input hidden class="form-control" name="Id_Transferencia_Destino" type="text" [(ngModel)]="idTransferencia"
                required>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Id Cuenta Origen</label>
                        <select class="form-control" name="Id_Cuenta_Bancaria" ngModel required>
                            <option value="">Seleccione Cuenta Origen</option>
                            <option *ngFor="let banco of BancosEmpresa" [value]="banco.Id_Cuenta_Bancaria">{{banco.Numero_Cuenta}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Para</label>
                        <input class="form-control" name="Recibe" type="text" [(ngModel)]="Recibe" required readonly>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Cedula Destino</label>
                        <input class="form-control" name="CedulaDestino" type="text" [(ngModel)]="CedulaDestino"
                            required readonly>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Cuenta Destino</label>
                        <input class="form-control" name="Cuenta_Destino" type="text" [(ngModel)]="CuentaDestino"
                            required readonly>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Monto</label>
                        <input class="form-control" name="Valor" type="text" ngModel="{{Monto | currency:'BsS.'}}"
                            required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Numero Transferencia</label>
                        <input class="form-control" name="Numero_Transferencia" type="text" ngModel required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!FormCrearTransferenciaOtroBanco.valid" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a realizar esta transferencia con los valores indicados' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="CrearTransferencia(FormCrearTransferenciaOtroBanco, ModalCrearTransferenciaOtroBanco)">Guardar</button>
            <button type="submit" class="btn btn-primary" (click)="CancelarBloqueo(idTransferencia,ModalCrearTransferenciaOtroBanco,FormCrearTransferenciaOtroBanco)"> Volver</button>
        </div>
    </div>
</app-modal-basic>