<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Transferencias</h4>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TotalTransferencias}}</h1>
                            <span class="text-white">Transferencias</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-control-shuffle font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TransferenciasRealizadas}}</h1>
                            <span class="text-white">Realizadas</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-thumb-up font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TransferenciasDevueltas}}</h1>
                            <span class="text-white">Devueltas</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-thumb-down font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger">
                <div class="card-block" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="no-mrg-top font-size-30">{{conteoTransferencias.TransferenciasAnuladas}}</h1>
                            <span class="text-white">Anuladas</span>
                        </div>
                        <div class="col-md-5 text-center">
                            <i class="ti-close font-size-50 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget card">
                <div class="card-block">
                    <div class="table-overflow">
                        <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions"
                            [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th style="width:150px;">Fecha</th>
                                    <th>Persona Transfiere</th>
                                    <th>Cuenta Origen</th>
                                    <th>Cuenta Destino</th>
                                    <th># Transfe</th>
                                    <th>Recibo</th>
                                    <th>Estado</th>
                                    <th style="width:80px">Valor</th>
                                    <th style="width:130px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transferencia of transferencias" class=" {{transferencia.Bloqueo == 'Si' ? 'bg-warning text-white' : '' }} {{transferencia.Estado == 'Devuelta' ? 'bg-danger text-white' : '' }}">
                                    <td>{{transferencia.Fecha | date:"dd/MM/yy" }}</td>
                                    <td>{{transferencia.Persona_Envia}}</td>
                                    <td>{{transferencia.Cuenta_Origen}}</td>
                                    <td>{{transferencia.Cuenta_Destino}}</td>
                                    <td>{{transferencia.Codigo}}</td>
                                    <td>{{transferencia.Recibo}}</td>
                                    <td>{{transferencia.Estado}}</td>
                                    <td class="text-right">{{transferencia.Valor_Transferencia | currency}}</td>
                                    <td class="text-center">
                                        <button *ngIf="Bloqueado(transferencia.Bloqueo)" [swal]="{title:'¿Está Seguro?',text : 'Se dispone a Bloquear esta Transferencia' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Bloquear', cancelButtonText:'No, Dejame Comprobar!'}"
                                            (confirm)="BloquearCuenta(transferencia.Id_Transferencia,transferencia.Bloqueo)"
                                            class="btn btn-default btn-xs" type="button" style="margin:0;">
                                            <i class="fa fa-lock"></i>
                                        </button>
                                        
                                        <button *ngIf="!Bloqueado(transferencia.Bloqueo)" class="btn btn-default btn-xs"
                                            type="button" style="margin:0;" [swal]="{title:'¿Está Seguro?',text : 'Se dispone a Desbloquear esta Transferencia' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Desbloquear', cancelButtonText:'No, Dejame Comprobar!'}"
                                            (confirm)="BloquearCuenta(transferencia.Id_Transferencia,transferencia.Bloqueo)">
                                            <i class="fa fa-unlock"></i>
                                        </button>

                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                                            [routerLink]="['/transferenciaver',transferencia.Id_Transferencia]">
                                            <i class="ti-receipt"></i>
                                        </button>

                                        <button *ngIf="Devuelto(transferencia.Estado)" class="btn btn-default btn-xs"
                                            type="button" style="margin:0;" (click)="DevolucionTransferencia(transferencia.Id_Transferencia,ModalDevolucionTransferencia)">
                                            <i class="fa fa-undo"></i>
                                        </button>

                                        <button *ngIf="!Devuelto(transferencia.Estado)" class="btn btn-default btn-xs"
                                            type="button" style="margin:0;" (click)="ReactivarTransferencia(transferencia.Id_Transferencia,ModalReactivarTransferencia)">
                                            <i class="fa fa-repeat" ></i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el documento" type="error">
</swal>

<swal #saveSwal title="Documento guardado" text="Se ha guardado correctamente el documento" type="success">
</swal>

<swal #deleteSwal title="Destinatario Eliminado" text="Se ha Eliminado Correctamente la transferencia" type="success">
</swal>

<swal #bloqueoSwal title="Transferencia Bloqueo/Desbloqueo" text="Se ha Bloqueado/Desbloqueado Correctamente la transferencia"
    type="success">
</swal>

<swal #mensajeSwal title="" text="" type="">
</swal>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalDevolucionTransferencia" #ModalDevolucionTransferencia>
    <div class="app-modal-header">
        <h4>Devolución Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormDevolucionTransferencia="ngForm">
            <input hidden name="Id_Transferencia" type="text" [(ngModel)]="Identificacion">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Motivo Devolución</label>
                        <textarea rows="4" cols="50" class="form-control" placeholder="Detalles del Banco" name="Motivo_Devolucion"
                            ngModel></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!FormDevolucionTransferencia.valid" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a devolver esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="RealizarDevolucion(FormDevolucionTransferencia, ModalDevolucionTransferencia)">Guardar
                Información</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalReactivarTransferencia" #ModalReactivarTransferencia>
    <div class="app-modal-header">
        <h4>Reactivar Transferencia</h4>
    </div>
    <div class="app-modal-body">
        <form #FormReactivarTransferencia="ngForm">
            <input hidden name="Id_Transferencia" type="text" [(ngModel)]="Identificacion">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Motivo Reactivar</label>
                        <textarea rows="4" cols="50" class="form-control" placeholder="Detalles del Banco" name="Motivo_Reactivar"
                            ngModel></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!FormReactivarTransferencia.valid" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a reactivar esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="RealizarReactivacion(FormReactivarTransferencia, ModalReactivarTransferencia)">Reactivar</button>
        </div>
    </div>
</app-modal-basic>