<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Grupos</h4>
    <button class="pull-right btn btn-info" (click)="ModalGrupo.show()" ><i class="ti-plus"></i> Agregar Nuevo Cliente</button>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <p>Tenemos los grupos de nuestra empresa</p>
          <div class="table-overflow">
            <table class="table table-hover table-sm table-striped">
              <thead>
                <tr>
                  <th style="width:50px"></th>
                  <th>Nombre</th>
                  <th style="width:100px">Detalle</th>
                  <th style="width:80px;">Padre</th>
                  <th style="width:130px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let grupo of grupos">
                  <td style="vertical-align: middle;">
                    <img src="assets/images/cliente.jpg" class="img img-responsive img-thumbnail" />
                  </td>
                  <td style="vertical-align: middle;">{{grupo.Nombre}}</td>
                  <td style="vertical-align: middle;">{{grupo.Detalle}}</td>
                  <td style="vertical-align: middle;" class="text-center">{{grupo.Nombre_Padre}}</td>
                  <td style="vertical-align: middle;" class="text-center">
                          <button class="btn btn-default btn-xs" type="button" style="margin:0;">
                            <i class="ti-search"></i>
                          </button>
                          <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarGrupo(grupo.Id_Grupo, ModalEditarGrupo)">
                            <i class="ti-pencil"></i>
                          </button>
                          <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                          [swal]="{title:'¿Está Seguro?',text : 'Se dispone a Eliminar este cliente, esta acción no se puede revertir' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Eliminar', cancelButtonText:'No, Dejame Comprobar!'}"
                          (confirm)="EliminarGrupo(grupo.Id_Grupo)">
                            <i class="ti-trash"></i>
                          </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalGrupo" #ModalGrupo>        
  <div class="app-modal-header">
      <h4>Nuevo grupo</h4>
  </div>
  <div class="app-modal-body">
      <form #FormGrupo="ngForm">
          <div class="row">
              <div class="col-md-8">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label>Padre</label>
                      <select class="form-control" required name="Padre" ngModel="">
                          <option value="">Seleccione un padre</option>
                          <option *ngFor="let grupo of grupos" [value]="grupo.Id_Grupo">{{grupo.Nombre}}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Detalles</label>
                      <textarea class="form-control" placeholder="Detalles de este grupo" name="Detalle" ngModel=""></textarea>
                  </div>
              </div>
          </div>
          <div class="modal-footer no-border">
              <div class="text-right">
                  <button type="button" class="btn btn-default btn-sm" (click)="ModalGrupo.hide()">Cancelar</button>
                  <button type="button" class="btn btn-primary btn-sm" (click)="GuardarGrupo(FormGrupo, ModalGrupo)">Guardar</button>
              </div>
          </div> 
      </form>                
  </div>       
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarGrupo" #ModalEditarGrupo>        
  <div class="app-modal-header">
      <h4>Editar grupo</h4>
  </div>
  <div class="app-modal-body">
      <form #FormEditarGrupo="ngForm">
          <div class="col-md-4" hidden>
              <div class="form-group">
                  <label>Identificación</label>
                  <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                  <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="{{Nombre}}">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label>Padre</label>
                      <select class="form-control" required name="Padre" ngModel="{{Padre}}">
                          <option value="">Seleccione un padre</option>
                          <option *ngFor="let grupo of grupos" [value]="grupo.Id_Grupo">{{grupo.Nombre}}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Detalles</label>
                      <textarea class="form-control" placeholder="Detalles de este grupo" name="Detalle" ngModel="{{Detalle}}"></textarea>
                  </div>
              </div>
          </div>
          <div class="modal-footer no-border">
              <div class="text-right">
                  <button type="button" class="btn btn-default btn-sm" (click)="OcultarFormulario(ModalEditarGrupo)">Cancelar</button>
                  <button type="button" class="btn btn-primary btn-sm"
                  [swal]="{title:'¿Está Seguro?',text : 'Se dispone a editar este grupo' , type:'warning', showCancelButton: true, confirmButtonText: 'Guardar cambios', cancelButtonText:'No, regresar a la edición'}"
                  (confirm)="GuardarGrupo(FormEditarGrupo, ModalEditarGrupo)">Guardar</button>
              </div>
          </div> 
      </form>                
  </div>       
</app-modal-basic>

<swal #deleteSwal
title="Grupo eliminado"
text="Se ha eliminado correctamente el grupo"
type="success"
>
</swal>
