<div class="container-fluid">
    <div class="page-title">
      <h4 class="pull-left">Oficinas</h4>
      <button class="pull-right btn btn-info" (click)="ModalOficina.show()"><i class="ti-plus"></i> Agregar Nueva Oficina</button>
    </div> 
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <p>Tenemos registradas todas las oficinas de nuestra empresa</p>
            <div class="table-overflow">
              <table class="table table-hover table-sm table-striped">
                <thead>
                  <tr>
                    <th>Nombre Oficina</th>
                    <th style="width:300px;">Municipio</th>
                    <th style="width:80px"># de Cajas</th>
                    <th style="width:130px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let oficina of oficinas">
                    <td>{{oficina.Nombre}}</td>
                    <td>{{oficina.Municipio}}</td>
                    <td class="text-center">{{oficina.Cajas}}</td>
                    <td class="text-center">
                            <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerOficina(oficina.Id_Oficina, ModalVerOficina)">         <!-- EDITANDO -->
                              <i class="ti-search"></i>
                            </button>
                            <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarOficina(oficina.Id_Oficina, ModalEditarOficina)">
                              <i class="ti-pencil"></i>
                            </button>
                            <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                            [swal]="{title:'¿Está Seguro?',text : 'Se dispone a Eliminar esta oficina, esta acción no se puede revertir' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Eliminar', cancelButtonText:'No, Dejame Comprobar!'}"
                            (confirm)="EliminarOficina(oficina.Id_Oficina)"
                            >
                              <i class="ti-trash"></i>
                            </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalOficina" #ModalOficina>
    <div class="app-modal-header">
        <h4>Nueva Oficina</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormOficinaAgregar="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Oficina" class="form-control" name="Nombre" ngModel="" (focus)="$event.target.select()" (focusout)="boolNombre = true" required #nombreOficina="ngModel">
                        <div *ngIf="!nombreOficina.valid && boolNombre==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="nombreOficina.valid && boolNombre==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" placeholder="Teléfono Oficina" class="form-control" name="Telefono" ngModel="" (focus)="$event.target.select()" (focusout)="boolTelefono = true" required #telefono="ngModel">
                        <div *ngIf="!telefono.valid && boolTelefono==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="telefono.valid && boolTelefono==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" placeholder="Celular Oficina" class="form-control" name="Celular" ngModel="" (focus)="$event.target.select()" (focusout)="boolCelular = true" required #celular="ngModel">
                        <div *ngIf="!celular.valid && boolCelular==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="celular.valid && boolCelular==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" placeholder="Correo Oficina" class="form-control" name="Correo" ngModel="" (focus)="$event.target.select()" (focusout)="boolCorreo = true" required #correo="ngModel">
                        <div *ngIf="!correo.valid && boolCorreo==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="correo.valid && boolCorreo==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" placeholder="Dirección Oficina" class="form-control" name="Direccion" ngModel="" (focus)="$event.target.select()" (focusout)="boolDireccion = true" required #direccion="ngModel">
                        <div *ngIf="!direccion.valid && boolDireccion==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="direccion.valid && boolDireccion==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Departamento</label>
                        <select class="form-control" required name="Id_Departamento" ngModel="" (change)="Municipios_Departamento($event.target.value)" (click)="boolDepartamento=true" required #departamento="ngModel">
                            <option [ngValue]="undefined" value="">Seleccione un Departamento</option>
                            <option *ngFor="let Departamento of Departamentos" [value]="Departamento.Id_Departamento">{{Departamento.Nombre}}</option>
                        </select>
                        <div *ngIf="departamento.value=='' && boolDepartamento==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!departamento.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Municipio</label>
                        <select class="form-control" required name="Id_Municipio" ngModel="" (click)="boolMunicipio=true" required #municipio="ngModel">
                            <option value="">Seleccione un Municipio</option>
                            <option *ngFor="let Municipio of Municipios" [value]="Municipio.Id_Municipio">{{Municipio.Nombre}}</option>
                        </select>
                        <div *ngIf="municipio.value=='' && boolMunicipio==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!municipio.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Datos de Cambios</h3>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Comisión</label>
                        <input currencyMask class="form-control" name="Comision" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" ngModel="" (focus)="$event.target.select()" (focusout)="boolComision = true" required #comision="ngModel">
                        <div *ngIf="!comision.valid && boolComision==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="comision.valid && boolComision==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Mín Compra</label>
                        <input currencyMask class="form-control" name="Min_Compra" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" ngModel="" (focus)="$event.target.select()" (focusout)="boolMinCompra = true" required #minCompra="ngModel">
                        <div *ngIf="!minCompra.valid && boolMinCompra==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="minCompra.valid && boolMinCompra==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Máx Compra</label>
                        <input currencyMask class="form-control" name="Max_Compra" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" ngModel="" (focus)="$event.target.select()" (focusout)="boolMaxCompra = true" required #maxCompra="ngModel">
                        <div *ngIf="!maxCompra.valid && boolMaxCompra==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="maxCompra.valid && boolMaxCompra==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Min Venta</label>
                        <input currencyMask class="form-control" name="Min_Venta" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" ngModel="" (focus)="$event.target.select()" (focusout)="boolMinVenta = true" required #minVenta="ngModel">
                        <div *ngIf="!minVenta.valid && boolMinVenta==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="minVenta.valid && boolMinVenta==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Máx Venta</label>
                        <input currencyMask class="form-control" name="Max_Venta" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" ngModel="" (focus)="$event.target.select()" (focusout)="boolMaxVenta = true" required #maxVenta="ngModel">
                        <div *ngIf="!maxVenta.valid && boolMaxVenta==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="maxVenta.valid && boolMaxVenta==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Valores</label>
                        <input currencyMask class="form-control" name="Valores" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" ngModel="" (focus)="$event.target.select()" (focusout)="boolValores = true" required #valores="ngModel">
                        <div *ngIf="!valores.valid && boolValores==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="valores.valid && boolValores==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
        </form>                
    </div>
    <div class="app-modal-footer">
            <div class="text-right">
                <button class="btn btn-primary btn-sm"
                [disabled]="departamento.value=='' || municipio.value=='' || !nombreOficina.valid || !telefono.valid || !celular.valid || !correo.valid || !direccion.valid || !comision.valid || !minCompra.valid || !maxCompra.valid || !minVenta.valid || !maxVenta.valid || !valores.valid"
                (click)="GuardarOficina(FormOficinaAgregar, ModalOficina)">Guardar</button>
            </div>
    </div>
</app-modal-basic>



<app-modal-basic [dialogClass]="'modal-lg'" id="ModalVerOficina" #ModalVerOficina>
    <div class="app-modal-header">
        <h4>Ver Oficina</h4>
    </div>
    <div class="app-modal-body">
        <form #FormVerOficina="ngForm">
            <div class="row">
                <div class="col-md-4" hidden>
                    <div class="form-group">
                        <label>Identificación</label>
                        <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                <strong><label>Nombre: </label></strong>
                        <label>{{Nombre}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                <strong><label>Teléfono: </label></strong>
                        <label>{{Telefono}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                <strong><label>Celular: </label></strong>
                        <label>{{Celular}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                <strong><label>Correo: </label></strong>
                        <label>{{Correo}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                <strong><label>Dirección: </label></strong>
                        <label>{{Direccion}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                <strong><label>Departamento: </label></strong>
                        <label required name="Id_Departamento" ngModel="{{Departamento}}" (change)="Municipios_Departamento($event.target.value)">
                            <option *ngFor="let Departamento of Departamentos" [value]="Departamento.Id_Departamento">{{Departamento.Nombre}}</option>
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                <strong><label>Municipio: </label></strong>
                        <label required name="Id_Municipio" ngModel="{{Municipio}}">
                            <option *ngFor="let Municipio of Municipios" [value]="Municipio.Id_Municipio">{{Municipio.Nombre}}</option>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Datos de Cambios</h3>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                <strong><label>Comisión: </label></strong>
                        <label>{{Comision}}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                <strong><label>Mín Compra: </label></strong>
                        <label>{{MinCompra}}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                <strong><label>Máx Compra: </label></strong>
                        <label>{{MaxCompra}}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                <strong><label>Min Venta: </label></strong>
                        <label>{{MaxVenta}}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                <strong><label>Máx Venta</label></strong>
                        <label>{{MaxVenta}}</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                <strong><label>Valores: </label></strong>
                        <label>{{Valores}}</label>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="Cerrar(ModalVerOficina)" >Cerrar</button>
                </div>
            </div>
        </form>                
    </div> 
</app-modal-basic>







<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarOficina" #ModalEditarOficina>
    <div class="app-modal-header">
        <h4>Editar Oficina</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarOficina="ngForm">
            <div class="row">
                <div class="col-md-4" hidden>
                    <div class="form-group">
                        <label>Identificación</label>
                        <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Oficina" class="form-control" name="Nombre" ngModel="{{Nombre}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" placeholder="Teléfono Oficina" class="form-control" name="Telefono" ngModel="{{Telefono}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" placeholder="Celular Oficina" class="form-control" name="Celular" ngModel="{{Celular}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" placeholder="Correo Oficina" class="form-control" name="Correo" ngModel="{{Correo}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" placeholder="Dirección Oficina" class="form-control" name="Direccion" ngModel="{{Direccion}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Departamento</label>
                        <select class="form-control" required name="Id_Departamento" ngModel="{{Departamento}}" (change)="Municipios_Departamento($event.target.value)">
                            <option value="">Seleccione un Departamento</option>
                            <option *ngFor="let Departamento of Departamentos" [value]="Departamento.Id_Departamento">{{Departamento.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Municipio</label>
                        <select class="form-control" required name="Id_Municipio" ngModel="{{Municipio}}">
                            <option value="">Seleccione un Municipio</option>
                            <option *ngFor="let Municipio of Municipios" [value]="Municipio.Id_Municipio">{{Municipio.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Datos de Cambios</h3>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Comisión</label>
                        <input type="text" currencyMask placeholder="Comisión Oficina" class="form-control" name="Comision" ngModel="{{Comision}}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Mín Compra</label>
                        <input type="text" currencyMask placeholder="Precio Mínimo Compra" class="form-control" name="Min_Compra" ngModel="{{MinCompra}}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Máx Compra</label>
                        <input type="text" currencyMask placeholder="Precio Máximo Compra" class="form-control" name="Max_Compra" ngModel="{{MaxCompra}}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Min Venta</label>
                        <input type="text" currencyMask placeholder="Precio Máximo Venta" class="form-control" name="Min_Venta" ngModel="{{MinVenta}}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Máx Venta</label>
                        <input type="text" currencyMask placeholder="Precio Máximo Venta" class="form-control" name="Max_Venta" ngModel="{{MaxVenta}}">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Valores</label>
                        <input type="text" currencyMask placeholder="Valores" class="form-control" name="Valores" ngModel="{{Valores}}">
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm"
                        [swal]="{title:'¿Está Seguro?',text : 'Se dispone a editar esta oficina' , type:'warning', showCancelButton: true, confirmButtonText: 'Guardar cambios', cancelButtonText:'No, regresar a la edición'}"
                        (confirm)="GuardarOficina(FormEditarOficina, ModalEditarOficina)">Guardar</button>
                </div>
            </div>
        </form>                
    </div> 
</app-modal-basic>

<swal #saveSwal
title="Documento guardado"
text="Se ha guardado correctamente el documento"
type="success"
>
</swal>

<swal #deleteSwal
  title="Oficina eliminada"
  text="Se ha eliminado correctamente la oficina"
  type="success"
  >
  </swal>
