<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Remitentes</h4>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <app-tablaremitente></app-tablaremitente>
      </div>
    </div>
  </div>
</div>

<!-- <app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarRemitente" #ModalEditarRemitente>
  <div class="app-modal-header">
    <h4>Editar Remitente</h4>
  </div>
  <div class="app-modal-body">
    <form #FormEditarRemitente="ngForm">
      <div class="col-md-4">
        <div class="form-group" hidden>
          <label>Identificación</label>
          <input name="id" readonly type="text" placeholder="Identificación" class="form-control" ngModel="{{RemitenteEditar.Id_Transferencia_Remitente}}"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre" class="form-control" name="Nombre" ngModel="{{RemitenteEditar.Nombre}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Telefono</label>
            <input type="text" placeholder="Telefono" class="form-control" name="Telefono" ngModel="{{RemitenteEditar.Telefono}}">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button class="btn btn-primary btn-sm" type="button" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a actualizar este Remitente' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarRemitente(FormEditarRemitente, ModalEditarRemitente)">Guardar</button>
    </div>
  </div>
</app-modal-basic> -->