.form-control-sm{
    font-size: 11px !important;
    padding: 2px 5px !important;
    height: 22px !important;
    border-radius: 5px !important;
}
.f-9{
    font-size: 9px !important;
}
.floating-label{
    font-size: 12px !important;
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
}

.form-control-sm{
    font-size: 11px !important;
    padding: 2px 5px !important;
    height: 22px !important;
    border-radius: 5px !important;
}
.btn-right{
    float: right;
 }