<div class="container-fluid">
    <div class="page-title">
      <h4 class="pull-left">Cuentas Bancarias</h4>
      <button class="pull-right btn btn-info" (click)="ModalCuenta.show()"><i class="ti-plus"></i> Agregar Nueva Cuenta Bancaria</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <p>Todas las Cuentas Bancarias Propias</p>
            <div class="table-overflow">
              <table class="table table-hover table-sm table-striped">
                <thead>
                  <tr>
                    <th>Numero de Cuenta</th>
                    <th style="width:300px;">Banco</th>
                    <th style="width:200px;">Titular</th>
                    <th style="width:200px;">Saldo al Día</th>
                    <th style="width:130px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cuenta of cuentas">
                    <td>{{cuenta.Numero_Cuenta}}</td>
                    <td>{{cuenta.Banco}}</td>
                    <td>{{cuenta.Nombre_Titular}}</td>
                    <td class="text-right">{{cuenta.Saldo_Inicial}}</td>
                    <td class="text-center">
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerCuenta(cuenta.Id_Cuenta_Bancaria, ModalVerCuenta)">
                            <i class="ti-search"></i>
                        </button>
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarCuenta(cuenta.Id_Cuenta_Bancaria)">
                            <i class="ti-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                        [swal]="{title:'¿Está Seguro?',text : 'Se dispone a eliminar esta cuenta, esta acción no se puede revertir' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Eliminar', cancelButtonText:'No, Dejame Comprobar!'}"
                        (confirm)="EliminarCuenta(cuenta.Id_Cuenta_Bancaria)"
                        >
                            <i class="ti-trash"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCuenta" #ModalCuenta>
    <div class="app-modal-header">
        <h4>Nueva Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormCuenta="ngForm">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cuenta</label>
                        <input type="text" placeholder="Número de Cuenta Bancaria" class="form-control" name="Numero_Cuenta" ngModel="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" required name="Id_Banco" ngModel="">
                            <option value="">Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Titular</label>
                        <input type="text" placeholder="Nombre Titular Cuenta" class="form-control" name="Nombre_Titular" ngModel="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificación Titular</label>
                        <input type="text" currencyMask placeholder="Identificación Titular Cuenta" class="form-control" name="Identificacion_Titular" ngModel="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Saldo Inicial</label>
                        <input type="text" currencyMask placeholder="Saldo Inicial" class="form-control" name="Saldo_Inicial" ngModel="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Saldo Inicial</label>
                        <input type="date" placeholder="Fecha Saldo Inicial" class="form-control" name="Fecha_Inicial" ngModel="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" (click)="GuardarCuenta(FormCuenta, ModalCuenta)">Guardar</button>
                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalVerCuenta" #ModalVerCuenta>
    <div class="app-modal-header">
        <h4>Ver Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormVerCuenta="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                <strong><label>Cuenta: </label></strong>  
                        <label>{{NumeroCuenta}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
      <!--          <strong><label>Banco: </label></strong>
                        <label class="form-control" required name="Id_Banco" ngModel="{{IdBanco}}">
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </label>  -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Titular</label></strong>  
                        <label>{{NombreTitular}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Identificación Titular: </label></strong>
                        <label>{{IdentificacionTitular}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Saldo Inicial: </label></strong> 
                        <label>{{SaldoInicial}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Fecha Saldo Inicial</label></strong>
                        <label>{{FechaInicial}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <label>{{Detalle}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="Cerrar(ModalVerCuenta)" >Cerrar</button>
                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarCuenta" #ModalEditarCuenta>
    <div class="app-modal-header">
        <h4>Editar Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarCuenta="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cuenta</label>
                        <input type="text" placeholder="Número de Cuenta Bancaria" class="form-control" name="Numero_Cuenta" ngModel="{{NumeroCuenta}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" required name="Id_Banco" ngModel="{{IdBanco}}">
                            <option value="">Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Titular</label>
                        <input type="text" placeholder="Nombre Titular Cuenta" class="form-control" name="Nombre_Titular" ngModel="{{NombreTitular}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificación Titular</label>
                        <input type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Identificacion_Titular" ngModel="{{IdentificacionTitular}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Saldo Inicial</label>
                        <input type="text" mask="999.999.999.999.999" placeholder="Saldo Inicial" class="form-control" name="Saldo_Inicial" ngModel="{{SaldoInicial}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Saldo Inicial</label>
                        <input type="date" placeholder="Fecha Saldo Inicial" class="form-control" name="Fecha_Inicial" ngModel="{{FechaInicial}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel="{{Detalle}}"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" 
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar esta cuenta' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarCuenta(FormEditarCuenta, ModalEditarCuenta)"
                    >Guardar</button>
                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>

<swal #deleteSwal
  title="Cuenta eliminada"
  text="Se ha Eliminado Correctamente la cuenta"
  type="success"
  >
  </swal>