<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Cuentas Bancarias</h4>
        <button class="pull-right btn btn-primary btn-sm" (click)="ModalCuenta.show()"><i class="ti-plus"></i> Agregar Nueva Cuenta
            Bancaria</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <p>Todas las Cuentas Bancarias Propias</p>

                    <div class="table-responsive">
                        <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th>Numero de Cuenta</th>
                                    <th>Banco</th>
                                    <th>Titular</th>
                                    <th>Saldo al Día</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cuenta of cuentas" class=" {{cuenta.Estado == 'Inactivo' ? 'bg-danger text-white' : '' }} ">
                                    <td>{{cuenta.Numero_Cuenta}}</td>
                                    <td>{{cuenta.NombreBanco}}</td>
                                    <td>{{cuenta.Nombre_Titular}}</td>
                                    <td class="text-right">{{cuenta.Saldo_Inicial}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerCuenta(cuenta.Id_Cuenta_Bancaria, ModalVerCuenta)">
                                            <i class="ti-search"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarCuenta(cuenta.Id_Cuenta_Bancaria)">
                                            <i class="ti-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a cambiar el estado de esta Cuenta Bancaria, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }"
                                            (confirm)="EstadoCuentaBancaria(cuenta.Id_Cuenta_Bancaria,cuenta.Estado)">
                                            <i class=" {{cuenta.Estado == 'Inactivo' ? 'fa fa-check' : 'ti-close' }} "></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCuenta" #ModalCuenta>
    <div class="app-modal-header">
        <h4>Nueva Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormCuenta="ngForm">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cuenta</label>
                        <input type="text" placeholder="Número de Cuenta Bancaria" class="form-control" name="Numero_Cuenta" ngModel="" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" required name="Id_Banco" ngModel="" >
                            <option value="">Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </select>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Titular</label>
                        <input type="text" placeholder="Nombre Titular Cuenta" class="form-control" name="Nombre_Titular" ngModel="">
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificación Titular</label>
                        <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="" class="form-control"
                            name="Identificacion_Titular" ngModel="" >
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Saldo Inicial</label>
                        <input currencyMask class="form-control" name="Saldo_Inicial" ngModel=0 [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }">
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Saldo Inicial</label>
                        <input type="date" placeholder="Fecha Saldo Inicial" class="form-control" name="Fecha_Inicial" ngModel="" >
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm" 
                [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCuenta(FormCuenta, ModalCuenta)">Guardar</button>
        </div>
    </div>
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarCuenta" #ModalEditarCuenta>
    <div class="app-modal-header">
       <h4>Editar Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarCuenta="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cuenta</label>
                        <input type="text" placeholder="Número de Cuenta Bancaria" class="form-control" name="Numero_Cuenta" ngModel="{{NumeroCuenta}}">
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" required name="Id_Banco" ngModel="{{IdBanco}}" >
                            <option value="">Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Titular</label>
                        <input type="text" placeholder="Nombre Titular Cuenta" class="form-control" name="Nombre_Titular" ngModel="{{NombreTitular}}">
                   </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificación Titular</label>
                        <input type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Identificacion_Titular" ngModel="{{IdentificacionTitular}}">
                    </div>
                </div>                
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Saldo Inicial</label>
                        <input type="date" placeholder="Fecha Saldo Inicial" class="form-control" name="Fecha_Inicial" ngModel="{{FechaInicial}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel="{{Detalle}}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-sm" 
                [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar esta cuenta' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCuenta(FormEditarCuenta, ModalEditarCuenta)">Guardar</button>

        </div>
    </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar la cuenta bancaria" type="error">
</swal>

<swal #saveSwal title="Cuenta Bancaria guardado" text="Se ha guardado correctamente la cuenta bancaria" type="success">
</swal>

<swal #deleteSwal title="Cuenta eliminada" text="Se ha Eliminado Correctamente la cuenta" type="success">
</swal>

<swal #confirmacionSwal title="" text="" type=""></swal>