<div class="container-fluid">
    <div class="page-title">
      <h4 class="pull-left">Cuentas Bancarias</h4>
      <button class="pull-right btn btn-info" (click)="ModalCuenta.show()"><i class="ti-plus"></i> Agregar Nueva Cuenta Bancaria</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <p>Todas las Cuentas Bancarias Propias</p>
            <div class="table-overflow">
              <table class="table table-hover table-sm table-striped">
                <thead>
                  <tr>
                    <th>Numero de Cuenta</th>
                    <th style="width:300px;">Banco</th>
                    <th style="width:200px;">Titular</th>
                    <th style="width:200px;">Saldo al Día</th>
                    <th style="width:130px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cuenta of cuentas">
                    <td>{{cuenta.Numero_Cuenta}}</td>
                    <td>{{cuenta.Banco}}</td>
                    <td>{{cuenta.Nombre_Titular}}</td>
                    <td class="text-right">{{cuenta.Saldo_Inicial}}</td>
                    <td class="text-center">
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerCuenta(cuenta.Id_Cuenta_Bancaria, ModalVerCuenta)">
                            <i class="ti-search"></i>
                        </button>
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarCuenta(cuenta.Id_Cuenta_Bancaria)">
                            <i class="ti-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                        [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular esta Cuenta Bancaria, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }" 
                        (confirm)="EliminarCuenta(cuenta.Id_Cuenta_Bancaria)" 
                        >
                        <i class="ti-trash"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCuenta" #ModalCuenta>
    <div class="app-modal-header">
            <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none" (click)="OcultarFormularios()">X</button>
        <h4>Nueva Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormCuenta="ngForm">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cuenta</label>
                        <input type="text" placeholder="Número de Cuenta Bancaria" class="form-control" name="Numero_Cuenta" ngModel="" (focus)="$event.target.select()" (focusout)="boolCuenta = true" required #cuenta="ngModel">
                        <div *ngIf="!cuenta.valid && boolCuenta==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="cuenta.valid && boolCuenta==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" required name="Id_Banco" ngModel="" (click)="boolBanco=true" required #banco="ngModel">
                            <option value="">Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </select>
                        <div *ngIf="banco.value=='' && boolBanco==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!banco.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Titular</label>
                        <input type="text" placeholder="Nombre Titular Cuenta" class="form-control" name="Nombre_Titular" ngModel="" (focus)="$event.target.select()" (focusout)="boolTitular = true" required #titular="ngModel">
                        <div *ngIf="!titular.valid && boolTitular==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="titular.valid && boolTitular==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificación Titular</label>
                        <input type="text" currencyMask placeholder="Identificación Titular Cuenta" class="form-control" name="Identificacion_Titular" ngModel="" (focus)="$event.target.select()" (focusout)="boolIdTitular = true" required #idTitular="ngModel">
                        <div *ngIf="!idTitular.valid && boolIdTitular==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="idTitular.valid && boolIdTitular==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Saldo Inicial</label>
                        <input type="text" currencyMask placeholder="Saldo Inicial" class="form-control" name="Saldo_Inicial" ngModel="" (focus)="$event.target.select()" (focusout)="boolSaldoInicial = true" required #saldoInicial="ngModel">
                        <div *ngIf="!saldoInicial.valid && boolSaldoInicial==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="saldoInicial.valid && boolSaldoInicial==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Saldo Inicial</label>
                        <input type="date" placeholder="Fecha Saldo Inicial" class="form-control" name="Fecha_Inicial" ngModel="" (focus)="$event.target.select()" (focusout)="boolFechaSaldoInicial = true" required #fechaSaldoInicial="ngModel">
                        <div *ngIf="!fechaSaldoInicial.valid && boolFechaSaldoInicial==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="fechaSaldoInicial.valid && boolFechaSaldoInicial==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>        
    <div class="app-modal-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!cuenta.valid || !titular.valid || !idTitular.valid || !saldoInicial.valid || !fechaSaldoInicial.valid || banco.value==''"
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarCuenta(FormCuenta, ModalCuenta)" >Actualizar Información</button>
            </div>
        </div>
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalVerCuenta" #ModalVerCuenta>
    <div class="app-modal-header">
        <h4>Ver Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormVerCuenta="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                <strong><label>Cuenta: </label></strong>  
                        <label>{{NumeroCuenta}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <strong><label>Banco: </label></strong>  
                                <label>{{Banco}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Identificación Titular: </label></strong>
                        <label>{{IdentificacionTitular}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Titular: </label></strong>  
                        <label>{{NombreTitular}}</label>
                    </div>
                </div>                
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Saldo Inicial: </label></strong> 
                        <label>{{SaldoInicial}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                <strong><label>Fecha Saldo Inicial: </label></strong>
                        <label>{{FechaInicial}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                <strong><label>Detalles: </label></strong>
                        <label>{{Detalle}}</label>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="Cerrar(ModalVerCuenta)" >Cerrar</button>
                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarCuenta" #ModalEditarCuenta>
    <div class="app-modal-header">
        <h4>Editar Cuenta Bancaria</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarCuenta="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Cuenta</label>
                        <input type="text" placeholder="Número de Cuenta Bancaria" class="form-control" name="Numero_Cuenta" ngModel="{{NumeroCuenta}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" required name="Id_Banco" ngModel="{{IdBanco}}">
                            <option value="">Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco">{{Banco.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Titular</label>
                        <input type="text" placeholder="Nombre Titular Cuenta" class="form-control" name="Nombre_Titular" ngModel="{{NombreTitular}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Identificación Titular</label>
                        <input type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Identificacion_Titular" ngModel="{{IdentificacionTitular}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Saldo Inicial</label>
                        <input type="text" mask="999.999.999.999.999" placeholder="Saldo Inicial" class="form-control" name="Saldo_Inicial" ngModel="{{SaldoInicial}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Saldo Inicial</label>
                        <input type="date" placeholder="Fecha Saldo Inicial" class="form-control" name="Fecha_Inicial" ngModel="{{FechaInicial}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel="{{Detalle}}"></textarea>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" 
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar esta cuenta' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarCuenta(FormEditarCuenta, ModalEditarCuenta)"
                    >Guardar</button>

                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>

<swal #saveSwal
title="Documento guardado"
text="Se ha guardado correctamente el documento"
type="success"
>
</swal>

<swal #deleteSwal
  title="Cuenta eliminada"
  text="Se ha Eliminado Correctamente la cuenta"
  type="success"
  >
  </swal>