<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Terceros</h4>
        <button class="pull-right btn btn-info" (click)="ModalTercero.show()">
            <i class="ti-plus"></i> Agregar Nuevo Tercero</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <p>Tenemos los terceros de nuestra empresa</p>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>Ciudad</th>
                                    <th>Telefono</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tercero of terceros" class=" {{tercero.Estado == 'Inactivo' ? 'bg-danger text-white' : '' }} ">
                                    <td style="vertical-align: middle;">{{tercero.Id_Tercero}}</td>
                                    <td style="vertical-align: middle;">{{tercero.Nombre}}</td>
                                    <td style="vertical-align: middle;">{{tercero.Municipio}}</td>
                                    <td style="vertical-align: middle;">{{tercero.Telefono}}</td>
                                    <td style="vertical-align: middle;" >{{tercero.Tipo_Tercero}}</td>
                                    <td style="vertical-align: middle;" class="text-center">
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" [routerLink]="['/tercerover',tercero.Id_Tercero]">
                                            <i class="ti-search"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarTercero(tercero.Id_Tercero, ModalTerceroEditar)">
                                            <i class="ti-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular este Tercero, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }"
                                            (confirm)="EstadoTercero(tercero.Id_Tercero,tercero.Estado )">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalTercero" #ModalTercero>
    <div class="app-modal-header">
        <h4>Nuevo Tercero</h4>
    </div>
    <div class="app-modal-body">
        <form #FormTercero="ngForm">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>T. Doc</label>
                        <select class="form-control" required name="Id_Tipo_Documento" ngModel>
                            <option value="">Seleccione tipo de documento</option>
                            <option *ngFor="let Documento of Documentos" [value]="Documento.Id_Tipo_Documento">{{Documento.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Identificación Tercero"
                            class="form-control" name="Id_Tercero" ngModel="">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Tercero" class="form-control" name="Nombre" ngModel="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" placeholder="Dirección del Tercero" class="form-control" name="Direccion" ngModel="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Barrio</label>
                        <input type="text" placeholder="Barrio del Tercero" class="form-control" name="Barrio" ngModel="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Departamento</label>
                        <select class="form-control" required name="Id_Departamento" ngModel="" (change)="Municipios_Departamento($event.target.value)">
                            <option value="">Seleccione un Departamento</option>
                            <option *ngFor="let Departamento of Departamentos" [value]="Departamento.Id_Departamento">{{Departamento.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Municipio</label>
                        <select class="form-control" required name="Id_Municipio" ngModel="" [(ngModel)]="municipioDefault" (click)="boolMunicipio=true"
                            required #municipio="ngModel">
                            <option value="">Seleccione un Municipio</option>
                            <option *ngFor="let Municipio of Municipios" [value]="Municipio.Id_Municipio">{{Municipio.Nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Teléfono del Tercero"
                            class="form-control" name="Telefono" ngModel="">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Celular del Tercero"
                            class="form-control" name="Celular" ngModel="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" email placeholder="Correo del Tercero" class="form-control" name="Correo" ngModel="">
                    </div>
                </div>
            </div>
            <hr>
            <h3>Otros Datos</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" ngModel name="Tipo">
                            <option value="Cliente">Cliente</option>
                            <option value="Proveedor">Proveedor</option>
                            <option value="Propio">Propio</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Grupo Tercero</label>
                        <select class="form-control" ngModel name="Id_Grupo_Tercero">
                            <optgroup *ngFor="let Grupo of Grupos" label="{{Grupo.Nombre}}">
                                <option *ngFor="let item of Grupo.Hijos" value="{{item.Id_Grupo_Tercero}}">{{item.Nombre}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Crédito</label>
                        <select class="form-control" name="Credito" ng-model="selected" ngModel="No">
                            <option ng-selected="selected" value="No">No</option>
                            <option>Si</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cupo</label>
                        <input type="text" currencyMask placeholder="Cupo de Crédito" class="form-control" name="Cupo" ngModel=0 [options]="{ prefix: 'BsS. ', thousands: '.', decimal: ',' }">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles del Tercero" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarTercero(FormTercero, ModalTercero)">Actualizar Información</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalTerceroEditar" #ModalTerceroEditar>
    <div class="app-modal-header">
        <h4>Editar Tercero</h4>
    </div>
    <div class="app-modal-body">
        <form #FormTerceroEditar="ngForm">
            <input hidden type="text" class="form-control" name="id" ngModel="{{Identificacion}}">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>T. Doc</label>
                        <select class="form-control" required name="Id_Tipo_Documento" ngModel="{{tercero.Id_Tipo_Documento}}">
                            <option value="">Seleccione tipo de documento</option>
                            <option *ngFor="let Documento of Documentos" [value]="Documento.Id_Tipo_Documento">{{Documento.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Identificación</label>
                        <input readonly type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Identificación Tercero"
                            class="form-control" name="Id_Tercero" ngModel="{{tercero.Id_Tercero}}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Tercero" class="form-control" name="Nombre" ngModel="{{tercero.Nombre}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" placeholder="Dirección del Tercero" class="form-control" name="Direccion" ngModel="{{tercero.Direccion}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Barrio</label>
                        <input type="text" placeholder="Barrio del Tercero" class="form-control" name="Barrio" ngModel="{{tercero.Barrio}}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Departamento</label>
                        <select class="form-control" required name="Id_Departamento" ngModel="{{tercero.Id_Departamento}}" (change)="Municipios_Departamento($event.target.value)">
                            <option value="">Seleccione un Departamento</option>
                            <option *ngFor="let Departamento of Departamentos" [value]="Departamento.Id_Departamento">{{Departamento.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Municipio</label>
                        <select class="form-control" required name="Id_Municipio" ngModel="{{tercero.Id_Municipio}}" [(ngModel)]="municipioDefault"
                            (click)="boolMunicipio=true" required #municipio="ngModel">
                            <option value="">Seleccione un Municipio</option>
                            <option *ngFor="let Municipio of Municipios" [value]="Municipio.Id_Municipio">{{Municipio.Nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Teléfono del Tercero"
                            class="form-control" name="Telefono" ngModel="{{tercero.Telefono}}">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="number" step="1" min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Celular del Tercero"
                            class="form-control" name="Celular" ngModel="{{tercero.Celular}}">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" email placeholder="Correo del Tercero" class="form-control" name="Correo" ngModel="{{tercero.Correo}}">
                    </div>
                </div>
            </div>
            <hr>
            <h3>Otros Datos</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" ngModel="{{tercero.Tipo_Tercero}}" name="Tipo">
                            <option value="Cliente">Cliente</option>
                            <option value="Proveedor">Proveedor</option>
                            <option value="Propio">Propio</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Grupo Tercero</label>
                        <select class="form-control" ngModel="{{tercero.Id_Grupo_Tercero}}" name="Id_Grupo_Tercero">
                            <optgroup *ngFor="let Grupo of Grupos" label="{{Grupo.Nombre}}">
                                <option *ngFor="let item of Grupo.Hijos" value="{{item.Id_Grupo_Tercero}}">{{item.Nombre}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Crédito</label>
                        <select class="form-control" name="Credito" ng-model="selected" ngModel="{{tercero.Credito}}">
                            <option ng-selected="selected" value="No">No</option>
                            <option>Si</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cupo</label>
                        <input type="text" currencyMask placeholder="Cupo de Crédito" class="form-control" name="Cupo" ngModel="{{tercero.Cupo}}"
                            [options]="{ prefix: 'BsS. ', thousands: '.', decimal: ',' }">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles del Tercero" name="Detalle" ngModel="{{tercero.Detalle}}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarTercero(FormTerceroEditar, ModalTerceroEditar)">Actualizar Información</button>
        </div>
    </div>
</app-modal-basic>


<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el tercero" type="error">
</swal>

<swal #saveSwal title="Tercero guardado" text="Se ha guardado correctamente el tercero" type="success">
</swal>

<swal #deleteSwal title="Tercero eliminado" text="Se ha eliminado correctamente el Tercero" type="success">
</swal>

<swal #duplicateSwal title="Conflicto" text="La identificación utilizada ya se encuentra registrada en la base de datos."
    type="error">
</swal>

<swal #confirmacionSwal title="" text="" type=""></swal>