<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Traslados</h4>
        <button class="pull-right btn btn-info" (click)="ModalTraslado.show()">
            <i class="ti-plus"></i> Realizar Nuevo Traslado</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget card">
                <div class="card-block">
                    <p>Traslados realizados en nuestro Sistema</p>
                    <div class="table-overflow">
                        <table class="table table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th style="width:150px;">Fecha</th>
                                    <th>Funcionario</th>
                                    <th>Origen</th>
                                    <th>Destino</th>
                                    <th>Detalles</th>
                                    <th>Moneda</th>
                                    <th style="width:80px">Valor</th>
                                    <th style="width:130px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let traslado of traslados">
                                    <td>{{traslado.Fecha | date:"dd/MM/yy" }}</td>
                                    <td>{{traslado.Funcionario}}</td>
                                    <td>{{traslado.Origen}}</td>
                                    <td>{{traslado.Destino}}</td>
                                    <td>{{traslado.Detalle}}</td>
                                    <td>{{traslado.Moneda}}</td>
                                    <td class="text-right">{{traslado.Valor | currency }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;">
                                            <i class="ti-search"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarTraslado(traslado.Id_Traslado, ModalEditarTraslado)">
                                            <i class="ti-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" 
                                            [swal]="{title:'¿Está Seguro?',text : 'Se dispone a Anular esta Transferencia, esta acción no se puede revertir' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Eliminar', cancelButtonText:'No, Dejame Comprobar!'}"
                                            (confirm)="EliminarTraslado(traslado.Id_Traslado)">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalTraslado" #ModalTraslado>
    <div class="app-modal-header">
        <h4>Nuevo Traslado</h4>
    </div>
    <div class="app-modal-body">
        <form #FormTraslado="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="Identificacion_Funcionario" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdentificacionFuncionario}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" required name="Tipo" ngModel="" (change)="SeleccionarTipo($event.target.value)">
                            <option value="">Seleccione tipo de traslado</option>
                            <option value="proveedor-proveedor">Entre proveedores</option>
                            <option value="proveedor-banco">Proveedor a cuenta bancaria</option>
                            <option value="banco-banco">Entre cuentas bancarias</option>
                            <option value="cliente-cliente">Entre clientes</option>
                            <option value="cliente-proveedor">Cliente a proveedor</option>
                            <option value="cliente-banco">Cliente a cuenta bancaria</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Origen</label>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Nombre del origen</label>
                    <input name="Origen" type="text" placeholder="Identificación" class="form-control" ngModel="{{NombreOrigen}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="Origen==='proveedor'">
                    <div class="form-group">
                        <label>Proveedor de origen</label>
                        <select type="text" placeholder="Proveedor de origen" class="form-control" name="Id_Origen" ngModel="" (change)="ObtenerOrigen($event.target.value, 'proveedor')">
                            <option value="">Seleccione proveedor de origen</option>
                            <option value="0">Proveedor 1</option>
                            <option value="1">Proveedor 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Origen==='banco'">
                    <div class="form-group">
                        <label>Banco de origen</label>
                        <select type="text" placeholder="Banco de origen" class="form-control" name="Id_Origen" ngModel="" (change)="ObtenerOrigen($event.target.value, 'banco')">
                            <option value="">Seleccione banco de origen</option>
                            <option value="0">Banco 1</option>
                            <option value="1">Banco 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Origen==='cliente'">
                    <div class="form-group">
                        <label>Cliente de origen</label>
                        <select type="text" placeholder="Cliente de origen" class="form-control" name="Id_Origen" ngModel="" (change)="ObtenerOrigen($event.target.value, 'cliente')">
                            <option value="">Seleccione cliente de origen</option>
                            <option value="0">Cliente 1</option>
                            <option value="1">Cliente 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Destino</label>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Nombre del destino</label>
                    <input name="Destino" type="text" placeholder="Identificación" class="form-control" ngModel="{{NombreDestino}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="Destino==='proveedor'">
                    <div class="form-group">
                        <label>Proveedor de destino</label>
                        <select type="text" placeholder="Proveedor de destino" class="form-control" name="Id_Destino" ngModel="" (change)="ObtenerDestino($event.target.value, 'proveedor')">
                            <option value="">Seleccione proveedor de destino</option>
                            <option value="0">Proveedor 1</option>
                            <option value="1">Proveedor 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Destino==='banco'">
                    <div class="form-group">
                        <label>Banco de destino</label>
                        <select type="text" placeholder="Banco de destino" class="form-control" name="Id_Destino" ngModel="" (change)="ObtenerDestino($event.target.value, 'destino')">
                            <option value="">Seleccione banco de destino</option>
                            <option value="0">Banco 1</option>
                            <option value="1">Banco 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Destino==='cliente'">
                    <div class="form-group">
                        <label>Cliente de destino</label>
                        <select type="text" placeholder="Cliente de destino" class="form-control" name="Id_Destino" ngModel="" (change)="ObtenerDestino($event.target.value, 'cliente')">
                            <option value="">Seleccione cliente de destino</option>
                            <option value="0">Cliente 1</option>
                            <option value="1">Cliente 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Moneda</label>
                        <select type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Moneda" ngModel="">
                            <option value="">Seleccione tipo de moneda</option>
                            <option value="Pesos">Pesos</option>
                            <option value="Bolivares">Bolivares</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Valor</label>
                        <input type="text" placeholder="Saldo Inicial" class="form-control" name="Valor" ngModel="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Estado</label>
                        <select type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Estado" ngModel="">
                            <option value="">Seleccione estado</option>
                            <option value="Enviado">Enviado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" (click)="GuardarTraslado(FormTraslado, ModalTraslado)">Guardar</button>
                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarTraslado" #ModalEditarTraslado>
    <div class="app-modal-header">
        <h4>Editar Traslado</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarTraslado="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación Funcionario</label>
                    <input name="Identificacion_Funcionario" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdentificacionFuncionario}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" required name="Tipo" ngModel="{{Tipo}}" (change)="SeleccionarTipo($event.target.value)">
                            <option value="">Seleccione tipo de traslado</option>
                            <option value="proveedor-proveedor">Entre proveedores</option>
                            <option value="proveedor-banco">Proveedor a cuenta bancaria</option>
                            <option value="banco-banco">Entre cuentas bancarias</option>
                            <option value="cliente-cliente">Entre clientes</option>
                            <option value="cliente-proveedor">Cliente a proveedor</option>
                            <option value="cliente-banco">Cliente a cuenta bancaria</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Origen</label>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Nombre del origen</label>
                    <input name="Origen" type="text" placeholder="Identificación" class="form-control" ngModel="{{NombreOrigen}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="Origen==='proveedor'">
                    <div class="form-group">
                        <label>Proveedor de origen</label>
                        <select type="text" placeholder="Proveedor de origen" class="form-control" name="Id_Origen" ngModel="{{IdOrigen}}" (change)="ObtenerOrigen($event.target.value, 'proveedor')">
                            <option value="">Seleccione proveedor de origen</option>
                            <option value="0">Proveedor 1</option>
                            <option value="1">Proveedor 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Origen==='banco'">
                    <div class="form-group">
                        <label>Banco de origen</label>
                        <select type="text" placeholder="Banco de origen" class="form-control" name="Id_Origen" ngModel="{{IdOrigen}}" (change)="ObtenerOrigen($event.target.value, 'banco')">
                            <option value="">Seleccione banco de origen</option>
                            <option value="0">Banco 1</option>
                            <option value="1">Banco 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Origen==='cliente'">
                    <div class="form-group">
                        <label>Cliente de origen</label>
                        <select type="text" placeholder="Cliente de origen" class="form-control" name="Id_Origen" ngModel="{{IdOrigen}}" (change)="ObtenerOrigen($event.target.value, 'cliente')">
                            <option value="">Seleccione cliente de origen</option>
                            <option value="0">Cliente 1</option>
                            <option value="1">Cliente 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Destino</label>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Nombre del destino</label>
                    <input name="Destino" type="text" placeholder="Identificación" class="form-control" ngModel="{{NombreDestino}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="Destino==='proveedor'">
                    <div class="form-group">
                        <label>Proveedor de destino</label>
                        <select type="text" placeholder="Proveedor de destino" class="form-control" name="Id_Destino" ngModel="{{IdDestino}}" (change)="ObtenerDestino($event.target.value, 'proveedor')">
                            <option value="">Seleccione proveedor de destino</option>
                            <option value="0">Proveedor 1</option>
                            <option value="1">Proveedor 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Destino==='banco'">
                    <div class="form-group">
                        <label>Banco de destino</label>
                        <select type="text" placeholder="Banco de destino" class="form-control" name="Id_Destino" ngModel="{{IdDestino}}" (change)="ObtenerDestino($event.target.value, 'destino')">
                            <option value="">Seleccione banco de destino</option>
                            <option value="0">Banco 1</option>
                            <option value="1">Banco 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="Destino==='cliente'">
                    <div class="form-group">
                        <label>Cliente de destino</label>
                        <select type="text" placeholder="Cliente de destino" class="form-control" name="Id_Destino" ngModel="{{IdDestino}}" (change)="ObtenerDestino($event.target.value, 'cliente')">
                            <option value="">Seleccione cliente de destino</option>
                            <option value="0">Cliente 1</option>
                            <option value="1">Cliente 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Moneda</label>
                        <select type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Moneda" ngModel="{{Moneda}}">
                            <option value="">Seleccione tipo de moneda</option>
                            <option value="Pesos">Pesos</option>
                            <option value="Bolivares">Bolivares</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Valor</label>
                        <input type="text" placeholder="Saldo Inicial" class="form-control" name="Valor" ngModel="{{Valor}}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Estado</label>
                        <select type="text" placeholder="Identificación Titular Cuenta" class="form-control" name="Estado" ngModel="{{Estado}}">
                            <option value="">Seleccione estado</option>
                            <option value="Enviado">Enviado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel="{{Detalle}}"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" 
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este traslado' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarTraslado(FormEditarTraslado, ModalEditarTraslado)">Guardar</button>
                </div>
            </div>
        </form>
    </div>        
</app-modal-basic>

<swal #deleteSwal
  title="Traslado eliminado"
  text="Se ha Eliminado Correctamente el traslado"
  type="success"
  >
  </swal>