<div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <sticky [sticky-offset-top]="95">
                        <a href="#cambios" scrollTo class="card mrg-btm-15 scroll-to">
                            <div class="card-block padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <span class="thumb-img pdd-top-10">
                                                <i class="ti-calendar text-primary font-size-30"></i>
                                            </span>
                                        <div class="info">
                                            <b class="text-dark font-size-18">Cambios Efectivo</b>
                                            <p class="no-mrg-btm ">Compras o Ventas</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="#transferencias" scrollTo class="card mrg-btm-15 scroll-to">
                            <div class="card-block padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <span class="thumb-img pdd-top-10">
                                                <i class="ti-control-shuffle text-primary font-size-30"></i>
                                            </span>
                                        <div class="info">
                                            <b class="text-dark font-size-18">Transferencias</b>
                                            <p class="no-mrg-btm ">A cuentas Extrangeras</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="#giros" scrollTo class="card mrg-btm-15 scroll-to">
                            <div class="card-block padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <span class="thumb-img pdd-top-10">
                                                <i class="ti-wallet text-success font-size-30"></i>
                                            </span>
                                        <div class="info">
                                            <b class="text-dark font-size-18">Giros</b>
                                            <p class="no-mrg-btm">Envío/Recepción Dinero</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="#traslados" scrollTo class="card mrg-btm-15 scroll-to">
                            <div class="card-block padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <span class="thumb-img pdd-top-10">
                                                <i class="ti-reload text-info font-size-30"></i>
                                            </span>
                                        <div class="info">
                                            <b class="text-dark font-size-18">Traslados</b>
                                            <p class="no-mrg-btm">Entre Cajas de la Empresa</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="#corresponsal" scrollTo class="card mrg-btm-15 scroll-to">
                            <div class="card-block padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <span class="thumb-img pdd-top-10">
                                                <i class="ti-money text-warning font-size-30"></i>
                                            </span>
                                        <div class="info">
                                            <b class="text-dark font-size-18">Corresponsal Bancario</b>
                                            <p class="no-mrg-btm">Saldo del día</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a href="#servicios" scrollTo class="card mrg-btm-15 scroll-to">
                            <div class="card-block padding-15">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <span class="thumb-img pdd-top-10">
                                                <i class="ti-truck text-danger font-size-30"></i>
                                            </span>
                                        <div class="info">
                                            <b class="text-dark font-size-18">Servicios Externos</b>
                                            <p class="no-mrg-btm">Consignaciones, Pagos, Trámites</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </sticky>
                </div>
                <div class="col-md-8">
                    <div class="card" id="cambios">
                        <div class="card-block">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="thumb-img pdd-top-10">
                                            <i class="ti-calendar text-primary font-size-30"></i>
                                        </span>
                                    <div class="info">
                                        <b class="text-dark font-size-22">Cambios Efectivo</b>
                                        <p class="no-mrg-btm ">Compras o Ventas</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="mrg-top-10" style="min-height: 470px;">
                               
                            </div>
                        </div>
                    </div>
                    <div class="card" id="transferencias">
                        <div class="card-block">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="thumb-img pdd-top-10">
                                            <i class="ti-control-shuffle text-primary font-size-30"></i>
                                        </span>
                                    <div class="info" style="border-bottom: 1px dotted #ccc;">
                                        <b class="text-dark font-size-22">Transferencias</b>
                                        <p class="no-mrg-btm ">A cuentas Extrangeras</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="mrg-top-10" style="min-height: 470px;">
                                <form #FormTransferencia="ngForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Forma de Pago</label>
                                            <select class="form-control" name="Forma_Pago" ng-init="'Efectivo'" ngModel="Forma_Pago">
                                                <option value="Efectivo">Efectivo</option>
                                                <option value="Credito">Credito</option>
                                                <option value="Consignacion">Consignación</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Recibe Para</label>
                                            <select class="form-control" (change)="SeleccionarTipo($event.target.value)" name="Recibe_Para">
                                                <option value="Transferencia">Transferencia</option>
                                                <option value="Cliente">Cliente</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" *ngIf="Recibe==='Cliente'">
                                            <label>Seleccione Cliente</label>
                                            <select class="form-control" >
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4>Destinatarios</h4>
                                    <div class="row mrg-top-10">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Cédula</label>
                                                <input name="Numero_Documento_Destino" type="text" placeholder="Identificación" class="form-control" ngModel="" required>
                                                <!--<input type="text" name="destinatario" id="Destinatario" class="form-control form-control-sm f-9" [(ngModel)]="Destinatarios" />
                                                <ng-template>
                                                <input type="text" name="destinatario" id="Destinatario" class="form-control form-control-sm f-9" [(ngModel)]="Destinatarios"
                                                    [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" 
                                                />
                                                </ng-template>-->
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Tipo Cuenta</label>
                                                <select class="form-control" ng-model></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cuenta</label>
                                                <input type="text" placeholder="Número de Cuenta" class="form-control" name="Numero_Cuenta_Destino" ngModel="">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <input type="number" placeholder="Valor a Transferir" class="form-control" name="Valor_Transferencia" ngModel="">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4>Datos del Cambio</h4>
                                    <div class="row mrg-top-20">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Moneda recibida</label>
                                                <select class="form-control" name="Moneda_Origen" ngModel="" (change)="CambiarTasa($event.target.selectedIndex)">
                                                        <option value="">Seleccione una moneda</option>
                                                        <option *ngFor="let Moneda of Monedas" [value]="Moneda.Nombre">{{Moneda.Nombre}}</option>
                                                </select>
                                            </div>
                                        </div>  
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Precio sugerido</label>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Moneda de transferencia</label>
                                                <select class="form-control" name="Moneda_Destino" ngModel="" >
                                                    <option value="">Seleccione una moneda</option>
                                                    <option *ngFor="let Moneda of Monedas" [value]="Moneda.Nombre">{{Moneda.Nombre}}</option> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input id="Cantidad_Enviada" type="text" placeholder="Precio" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" placeholder="Pesos" class="form-control" name="Tasa_Cambio" ngModel="{{PrecioSugerido}}" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input id="Cantidad_Recibida" type="text" placeholder="Precio" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Costo</label>
                                                <input type="text" placeholder="Precio" class="form-control" name="Costo_Transferencia" ngModel="{{Costo}}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-sm btn-info btn-block" (click)="RealizarCambio()">Realizar Cambio</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4>Datos del remitente</h4>
                                    <div class="row mrg-top-20">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tipo de documento</label>
                                                <select class="form-control" name="Tipo_Documento_Origen" ngModel="">
                                                    <option value="">Seleccione un documento</option>
                                                    <option *ngFor="let Documento of Documentos" [value]="Documento.Id_Tipo_Documento">{{Documento.Nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Número de documento</label>
                                                <input type="text" placeholder="Número de documento" class="form-control" name="Numero_Documento_Origen" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input type="text" placeholder="Nombre del remitente" class="form-control" name="Persona_Envia" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input type="text" placeholder="Teléfono del remitente" class="form-control" name="Telefono_Envia" ngModel>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="row mrg-top-20">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Observaciones</label>
                                                <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mrg-top-20">
                                        <div class="col-md-12">
                                            <button class="btn btn-info btn-sm btn-block" (click)="GuardarTransferencia(FormTransferencia)">Guardar Transferencia</button>
                                        </div>
                                    </div>
                               </form>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="giros">
                        <div class="card-block">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="thumb-img pdd-top-10">
                                            <i class="ti-wallet text-success font-size-30"></i>
                                        </span>
                                    <div class="info">
                                        <b class="text-dark font-size-22">Giros</b>
                                        <p class="no-mrg-btm">Envío/Recepción Dinero</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="mrg-top-30" style="min-height: 470px;">
                                <form #FormGiroRemitente="ngForm">    
                                    <h4>Remitente</h4>                                
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Número de documento</label>
                                            <input type="text" placeholder="Número de documento" class="form-control" name="Documento_Remitente" ngModel="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nombre</label>
                                            <input type="text" placeholder="Nombre" class="form-control" name="Nombre" ngModel="">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Apellido</label>
                                            <input type="text" placeholder="Apellido" class="form-control" name="Apellido" ngModel="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Teléfono</label>
                                            <input type="text" placeholder="Teléfono" class="form-control" name="Telefono" ngModel="">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Celular</label>
                                            <input type="text" placeholder="Celular" class="form-control" name="Celular" ngModel="">
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                                <form #FormGiroDestinatario="ngForm">
                                    <h4>Destinatario</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Número de documento</label>
                                            <input type="text" placeholder="Número de documento" class="form-control" name="Documento_Destinatario" ngModel="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nombre</label>
                                            <input type="text" placeholder="Nombre" class="form-control" name="Nombre" ngModel="">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Apellido</label>
                                            <input type="text" placeholder="Apellido" class="form-control" name="Apellido" ngModel="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Teléfono</label>
                                            <input type="text" placeholder="Teléfono" class="form-control" name="Telefono" ngModel="">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Celular</label>
                                            <input type="text" placeholder="Celular" class="form-control" name="Celular" ngModel="">
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                                <form #FormGiro="ngForm">
                                    <h4>Datos del giro</h4>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Identificación</label>
                                            <input name="Identificacion_Funcionario" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdentificacionFuncionario}}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Oficina</label>
                                            <input name="Id_Oficina" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdOficina}}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Caja</label>
                                            <input name="Id_Caja" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdCaja}}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Estado</label>
                                            <input name="Estado" type="text" placeholder="Identificación" class="form-control" ngModel="{{Estado}}" required>
                                        </div>
                                    </div>
                                    <div class="row mrg-top-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Valor del envio</label>
                                                <input type="text" placeholder="Precio" class="form-control" name="Valor_Recibido" ngModel="" (blur)="CalcularTotal($event.target.value)">
                                            </div>
                                        </div>  
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Comisión</label>
                                                <input type="text" placeholder="Precio" class="form-control" name="Comision" ngModel="{{Costo}}" readonly>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Libre</label>
                                                <input type="checkbox" placeholder="Precio" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Valor total</label>
                                                <input type="text" placeholder="Precio" class="form-control" readonly name="Valor_Total" ngModel="{{ValorTotal}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Entregado</label>
                                                <input type="text" placeholder="valor" class="form-control" name="Valor_Entrega" ngModel="{{ValorEntrega}}" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Observaciones</label>
                                                <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel>
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-sm btn-info btn-block" (click)="RealizarGiro(FormGiroRemitente, FormGiroDestinatario, FormGiro)">Hacer giro</button>
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="traslados">
                        <div class="card-block">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="thumb-img pdd-top-10">
                                            <i class="ti-reload text-info font-size-30"></i>
                                        </span>
                                    <div class="info">
                                        <b class="text-dark font-size-22">Traslados</b>
                                        <p class="no-mrg-btm">Entre Cajas de la Empresa</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="mrg-top-30" style="min-height: 470px;">
                                <form #FormTraslado="ngForm">
                                    <h4>Datos del traslado</h4>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Cajero Origen</label>
                                            <select name="Id_Cajero_Origen" class="form-control" name="Id_Cajero_Origen" ngModel="{{IdCaja}}">
                                                <option value="">seleccione una opción</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cajero de destino</label>
                                            <select name="Id_Cajero_Destino" class="form-control" ngModel="">
                                                <option value="">seleccione una opción</option>
                                                <option *ngFor="let Caja of Cajas" value="{{Caja.Id_Caja}}">{{Caja.Nombre}}</option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Moneda</label>
                                            <select name="Id_Moneda" class="form-control" ngModel="">
                                                <option value="">seleccione una opción</option>
                                                <option *ngFor="let Moneda of Monedas" value="{{Moneda.Id_Moneda}}">{{Moneda.Nombre}}</option>
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Valor</label>
                                            <input name="Valor" type="text" placeholder="Identificación" class="form-control" ngModel="" required>
                                        </div>
                                    </div>
                                    <div class="row mrg-top-20">                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Observaciones</label>
                                                <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel="">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-sm btn-info btn-block" (click)="RealizarTraslado(FormTraslado)">Hacer traslado</button>
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="corresponsal">
                        <div class="card-block">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="thumb-img pdd-top-10">
                                            <i class="ti-money text-warning font-size-30"></i>
                                        </span>
                                    <div class="info">
                                        <b class="text-dark font-size-22">Corresponsal Bancario</b>
                                        <p class="no-mrg-btm">Saldo del día</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="mrg-top-30" style="min-height: 470px;">
                                <form #FormCorresponsal="ngForm">
                                    <h4>Datos del corresponsal</h4>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Cajero Origen</label>
                                            <input type="text" name="id" class="form-control" ngModel="{{IdCorresponsal}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label>Cajero Origen</label>
                                            <input type="text" name="Identificacion_Funcionario" class="form-control" ngModel="{{IdentificacionFuncionario}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Corresponsal</label>
                                                <select name="Id_Corresponsal_Bancario" class="form-control" ngModel="{{CorresponsalBancario}}" (change)="ConsultarCorresponsal($event.target.value)">
                                                    <option value="">seleccione un corresponsal</option>
                                                    <option *ngFor="let CorresponsalBancario of CorresponsalesBancarios" value="{{CorresponsalBancario.Id_Corresponsal_Bancario}}">{{CorresponsalBancario.Nombre}}</option>
                                                </select>                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <input name="Valor" type="text" placeholder="Comisión" class="form-control" ngModel="{{ValorCorresponsal}}">                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mrg-top-20">                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Detalles</label>
                                                <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel="{{DetalleCorresponsal}}">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-sm btn-info btn-block" (click)="GuardarCorresponsal(FormCorresponsal)">Guardar</button>
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="servicios">
                        <div class="card-block">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="thumb-img pdd-top-10">
                                            <i class="ti-truck text-danger font-size-30"></i>
                                        </span>
                                    <div class="info">
                                        <b class="text-dark font-size-22">Servicios Externos</b>
                                        <p class="no-mrg-btm">Consignaciones, Pagos, Trámites</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="mrg-top-30" style="min-height: 470px;"> 
                                <form #FormServicio="ngForm">
                                    <h4>Datos del servicio</h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Servicio</label>
                                                <select name="Servicio_Externo" class="form-control" ngModel="" (change)="AsignarComisionServicioExterno($event.target.value)">
                                                    <option value="">seleccione un servicio</option>
                                                    <option *ngFor="let ServicioExterno of ServiciosExternos" value="{{ServicioExterno.Id_Servicio_Externo}}">{{ServicioExterno.Nombre}}</option>
                                                </select>                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Comisión</label>
                                                <input name="Comision" type="text" placeholder="Comisión" class="form-control" ngModel="{{ComisionServicioExterno}}" readonly>                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Moneda</label>
                                                <select name="Moneda" class="form-control" ngModel="">
                                                    <option value="">seleccione una opción</option>
                                                    <option *ngFor="let Moneda of Monedas" value="{{Moneda.Nombre}}">{{Moneda.Nombre}}</option>
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <input type="text" class="form-control" name="Valor" ngModel="">                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mrg-top-20">                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Observaciones</label>
                                                <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel="">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-sm btn-info btn-block" (click)="GuardarServicio(FormServicio)">Guardar</button>
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>