<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <sticky [sticky-offset-top]="95">
                <a href="#cambios" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-15">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-calendar text-primary font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Cambios Efectivo</b>
                                    <p class="no-mrg-btm ">Compras o Ventas</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#transferencias" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-15">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-control-shuffle text-primary font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Transferencias</b>
                                    <p class="no-mrg-btm ">A cuentas Extranjeras</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#giros" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-15">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-wallet text-success font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Giros</b>
                                    <p class="no-mrg-btm">Envío/Recepción Dinero</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#traslados" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-15">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-reload text-info font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Traslados</b>
                                    <p class="no-mrg-btm">Entre Cajas de la Empresa</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#corresponsal" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-15">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-money text-warning font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Corresponsal Bancario</b>
                                    <p class="no-mrg-btm">Saldo del día</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
                <a href="#servicios" scrollTo class="card mrg-btm-15 scroll-to">
                    <div class="card-block padding-15">
                        <ul class="list-unstyled list-info">
                            <li>
                                <span class="thumb-img pdd-top-10">
                                    <i class="ti-truck text-danger font-size-30"></i>
                                </span>
                                <div class="info">
                                    <b class="text-dark font-size-18">Servicios Externos</b>
                                    <p class="no-mrg-btm">Consignaciones, Pagos, Trámites</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </a>
            </sticky>
        </div>
        <div class="col-md-9">
            <div class="card" id="cambios">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                <i class="ti-calendar text-primary font-size-30"></i>
                            </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Cambios Efectivo</b>
                                <p class="no-mrg-btm ">Compras o Ventas</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-10" style="min-height: 470px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Moneda Origen</label>
                                    <select class="form-control" placeholder="Origen" name="Forma_Pago">
                                    </select>    
                                </div>

                                <div class="form-group">
                                    <label>Destino</label>
                                    <select class="form-control" placeholder="Destino" name="Forma_Pago">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Tasa Cambio</label>
                                    <input type="text" placeholder="Cambio" class="form-control" name="Identificacion_Funcionario" ngModel="{{IdentificacionFuncionario}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mrg-top-20">
                                    <label>Valor</label>
                                    <input type="text" placeholder="V" class="form-control" name="Identificacion_Funcionario" ngModel="{{IdentificacionFuncionario}}">
                                </div>

                                <div class="form-group">
                                    <label>Vueltos</label>
                                    <input type="text" placeholder="" class="form-control" name="Identificacion_Funcionario" ngModel="{{IdentificacionFuncionario}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-info">CAMBIAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="transferencias">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                <i class="ti-control-shuffle text-primary font-size-30"></i>
                            </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Transferencias</b>
                                <p class="no-mrg-btm ">A cuentas Extranjeras</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-10" style="min-height: 470px;">
                        <form #FormTransferencia="ngForm">
                            <div class="row">
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Identificación funcionario</label>
                                        <input type="text" placeholder="Valor a Transferir" class="form-control" name="Identificacion_Funcionario" ngModel="{{IdentificacionFuncionario}}">
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Identificación funcionario</label>
                                        <input type="text" placeholder="Valor a Transferir" class="form-control" name="Id_Oficina" ngModel="{{IdOficina}}">
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Identificación funcionario</label>
                                        <input type="text" placeholder="Valor a Transferir" class="form-control" name="Id_Caja" ngModel="{{IdCaja}}">
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Identificación funcionario</label>
                                        <input type="text" placeholder="Valor a Transferir" class="form-control" name="Estado" ngModel="{{Estado}}">
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Identificación funcionario</label>
                                        <input type="text" placeholder="Valor a Transferir" class="form-control" name="Costo_Transferencia" ngModel="{{Costo}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Forma de Pago</label>
                                    <select class="form-control" placeholder="Seleccione una forma de pago" name="Forma_Pago">
                                        <option value="Efectivo">Efectivo</option>
                                        <option value="Credito">Credito</option>
                                        <option value="Consignacion">Consignación</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Recibe Para</label>
                                    <select class="form-control" (change)="SeleccionarTipo($event.target.value)" name="Recibe_Para">
                                        <option value="Transferencia">Transferencia</option>
                                        <option value="Cliente">Cliente</option>
                                    </select>
                                </div>
                                <div class="col-md-6" *ngIf="Recibe==='Cliente'">
                                    <label>Seleccione Cliente</label>
                                    <select class="form-control" name="Id_Tercero" ngModel="">
                                        <option value=""></option>
                                        <option *ngFor="let Cliente of Clientes" [value]="Cliente.Id_Tercero">{{Cliente.Nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mrg-top-10 mrg-btm-10">
                            <div *ngIf="Recibe==='Transferencia'">
                                <h5>Destinatarios</h5>
                                <div *ngFor="let Envio of Envios; let i= index">                                    
                                    <div class="row mrg-top-10">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Número Documento</label>
                                                <input name="Numero_Documento_Destino{{i}}" type="text" placeholder="Número Documento" class="form-control" [(ngModel)]="Envio.Numero_Documento_Destino" autocomplete="off"
                                                    required list="browsers" (ngModelChange)="AutoCompletarDestinatario($event)" (blur)="LlenarValoresDestinatario($event.target.value, i)">
                                                <datalist id="browsers" (select)="LlenarValoresDestinatario($event.target.value)">
                                                    <option *ngFor="let Destinatario of DestinatariosFiltrados" [value]="Destinatario.Id_Destinatario">{{Destinatario.Nombre}}</option>
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cuenta</label>
                                                <select name="Id_Cuenta_Destino{{i}}" [(ngModel)]="Envio.Id_Cuenta_Destino" class="form-control" autocomplete="off">
                                                    <option value="">Seleccione una cuenta</option>
                                                    <option *ngFor="let Cuenta of Envio.Cuentas" [value]="Cuenta.Id_Cuenta_Destinatario">{{Cuenta.Numero_Cuenta}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <input type="number" placeholder="Valor a Transferir" (ngModelChange)="AutoCompletarDestinatario($event)" (blur)="NuevoDestinatario()" class="form-control" name="Valor_Transferencia{{i}}" [(ngModel)]="Envio.Valor_Transferencia">
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>                            
                            <hr class="mrg-top-10 mrg-btm-10">
                            <h5>Datos del Cambio</h5>
                            <div class="row mrg-top-20">
                                <div class="col-md-4">
                                    <div class="form-group text-center">
                                        <label>Moneda Recibida</label>
                                        <select class="form-control" name="Moneda_Origen" ngModel="{{MonedaRecibida}}">
                                            <option value="">Seleccione una Moneda</option>
                                            <option *ngFor="let Moneda of Monedas" [value]="Moneda.Nombre">{{Moneda.Nombre}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input id="Cantidad_Enviada" type="text" currencyMask (ngModelChange)="RealizarCambio($event, 'transferir')" autocomplete="off" placeholder="Precio" class="form-control" [(ngModel)]="CantidadRecibida" name="Cantidad_Recibida">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-center">
                                        <label>Tasa de Cambio</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" currencyMask placeholder="Pesos" autocomplete="off" class="form-control" name="Tasa_Cambio" ngModel="{{PrecioSugerido}}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group text-center">
                                        <label>Moneda de Transferencia</label>
                                        <select class="form-control" name="Moneda_Destino" ngModel="{{MonedaTransferencia}}" (change)="CambiarTasa($event.target.selectedIndex)">
                                            <option value="">Seleccione una Moneda</option>
                                            <option *ngFor="let Moneda of Monedas" [value]="Moneda.Nombre">{{Moneda.Nombre}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input id="Cantidad_Recibida" (blur)="NuevoDestinatario()" autocomplete="off" (ngModelChange)="RealizarCambio($event, 'recibir')" 
                                        currencyMask type="text" placeholder="Precio" class="form-control" [(ngModel)]="CantidadTransferida" name="Total_Transferencia">
                                    </div>
                                </div>
                            </div>
                            <hr class="mrg-top-10 mrg-btm-10">
                            <h5>Datos del Remitente</h5>
                            <div class="row mrg-top-20">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Número Documento</label>
                                        <input type="text" placeholder="Número Documento" class="form-control" name="Numero_Documento_Origen" ngModel autocomplete="off"
                                        required list="remitentes" (ngModelChange)="AutoCompletarRemitente($event)" (blur)="LlenarValoresRemitente($event.target.value, i)">
                                        <datalist id="remitentes" (select)="LlenarValoresRemitente($event.target.value)">
                                            <option *ngFor="let Remitentente of RemitentesFiltrados" [value]="Remitentente.Id_Transferencia_Remitente">{{Remitentente.Nombre}}</option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" placeholder="Nombre Remitente" readonly autocomplete="off" class="form-control" name="Persona_Envia" ngModel="{{DatosRemitente.Nombre}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" placeholder="Teléfono Remitente" readonly autocomplete="off" class="form-control" name="Telefono_Envia" ngModel="{{DatosRemitente.Telefono}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <textarea placeholder="Observaciones" class="form-control" autocomplete="off" name="Detalle" ngModel>
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-20" *ngIf="Recibe==='Transferencia'">
                                <div class="col-md-12">
                                    <button class="btn btn-info btn-sm btn-block" (click)="GuardarTransferencia(FormTransferencia)">Guardar Transferencia</button>
                                </div>
                            </div>
                            <div class="row mrg-top-20" *ngIf="Recibe==='Cliente'">
                                <div class="col-md-12">
                                    <button class="btn btn-info btn-sm btn-block" (click)="GuardarMovimiento(FormTransferencia)">Guardar Movimiento</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card" id="giros">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                <i class="ti-wallet text-success font-size-30"></i>
                            </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Giros</b>
                                <p class="no-mrg-btm">Envío/Recepción Dinero</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30" style="min-height: 470px;">
                        <div class="row">
                            <div class="col-md-6">
                                <form #FormGiroRemitente="ngForm">
                                    <button class="btn btn-sm btn-success pull-right"><i class="ti ti-hand-point-up"></i></button>
                                    <h4>Remitente</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Número de documento</label>
                                                <input type="text" placeholder="Ejem: 1100543987" class="form-control" name="Documento_Remitente" ngModel="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nombre Completo</label>
                                                <input type="text" placeholder="Ejem: Pepito Perez" class="form-control" name="Nombre" ngModel="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input type="text" placeholder="Ejem: 318 3555555" class="form-control" name="Telefono" ngModel="">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form #FormGiroDestinatario="ngForm">
                                    <h4>Destinatario</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Número de Documento</label>
                                                <input type="text" placeholder="Ejem: 93567876" class="form-control" name="Documento_Destinatario" ngModel>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nombre Completo</label>
                                                <input type="text" placeholder="Ejem: Juan Sanchez" class="form-control" name="Nombre" ngModel="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Teléfono</label>
                                                <input type="text" placeholder="Ejem: 6543424" class="form-control" name="Telefono" ngModel="">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <h4>Datos del giro</h4>
                        <form #FormGiro="ngForm">
                            <div class="row" hidden>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Identificación</label>
                                        <input name="Identificacion_Funcionario" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdentificacionFuncionario}}"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Oficina</label>
                                        <input name="Id_Oficina" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdOficina}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Caja</label>
                                        <input name="Id_Caja" type="text" placeholder="Identificación" class="form-control" ngModel="{{IdCaja}}" required>
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input name="Estado" type="text" placeholder="Identificación" class="form-control" ngModel="{{Estado}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Valor a Enviar</label>
                                        <input type="text" placeholder="Precio" class="form-control" name="Valor_Recibido" ngModel="" (blur)="CalcularTotal($event.target.value)">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Comisión</label>
                                        <input type="text" placeholder="Precio" class="form-control" name="Comision" ngModel="{{Costo}}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group text-center">
                                        <label>Libre</label>
                                        <input type="checkbox" placeholder="Precio" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Total</label>
                                        <input type="text" placeholder="Precio" class="form-control" readonly name="Valor_Total" ngModel="{{ValorTotal}}">
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label>Entregado</label>
                                        <input type="text" placeholder="valor" class="form-control" name="Valor_Entrega" ngModel="{{ValorEntrega}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel>
                                            </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-sm btn-success btn-block" (click)="RealizarGiro(FormGiroRemitente, FormGiroDestinatario, FormGiro)">Hacer giro</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card" id="traslados">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                <i class="ti-reload text-info font-size-30"></i>
                            </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Traslados</b>
                                <p class="no-mrg-btm">Entre Cajas de la Empresa</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30" style="min-height: 470px;">
                        <form #FormTraslado="ngForm">
                            <h4>Datos del traslado</h4>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label>Cajero Origen</label>
                                    <select name="Id_Cajero_Origen" class="form-control" name="Id_Cajero_Origen" ngModel="{{IdCaja}}">
                                        <option value="">seleccione una opción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cajero de destino</label>
                                        <select name="Id_Cajero_Destino" class="form-control" ngModel="">
                                            <option value="">seleccione una opción</option>
                                            <option *ngFor="let Caja of Cajas" value="{{Caja.Id_Caja}}">{{Caja.Nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Moneda</label>
                                        <select name="Id_Moneda" class="form-control" ngModel="">
                                            <option value="">Seleccione una Opción</option>
                                            <option *ngFor="let Moneda of Monedas" value="{{Moneda.Id_Moneda}}">{{Moneda.Nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input name="Valor" type="text" placeholder="$ 100.000" class="form-control" ngModel="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel="" style="min-height:150px !important;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-sm btn-info btn-block" (click)="RealizarTraslado(FormTraslado)">Hacer traslado</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card" id="corresponsal">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                <i class="ti-money text-warning font-size-30"></i>
                            </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Corresponsal Bancario</b>
                                <p class="no-mrg-btm">Saldo del día</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30" style="min-height: 470px;">
                        <form #FormCorresponsal="ngForm">
                            <h4>Datos del corresponsal</h4>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label>Cajero Origen</label>
                                    <input type="text" name="id" class="form-control" ngModel="{{IdCorresponsal}}">
                                </div>
                            </div>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label>Cajero Origen</label>
                                    <input type="text" name="Identificacion_Funcionario" class="form-control" ngModel="{{IdentificacionFuncionario}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Corresponsal</label>
                                        <select name="Id_Corresponsal_Bancario" class="form-control" ngModel="{{CorresponsalBancario}}" (change)="ConsultarCorresponsal($event.target.value)">
                                            <option value="">seleccione un corresponsal</option>
                                            <option *ngFor="let CorresponsalBancario of CorresponsalesBancarios" value="{{CorresponsalBancario.Id_Corresponsal_Bancario}}">{{CorresponsalBancario.Nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input name="Valor" type="text" placeholder="Comisión" class="form-control" ngModel="{{ValorCorresponsal}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Detalles</label>
                                        <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel="{{DetalleCorresponsal}}">
                                            </textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-sm btn-info btn-block" (click)="GuardarCorresponsal(FormCorresponsal)">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card" id="servicios">
                <div class="card-block">
                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="thumb-img pdd-top-10">
                                <i class="ti-truck text-danger font-size-30"></i>
                            </span>
                            <div class="info">
                                <b class="text-dark font-size-22">Servicios Externos</b>
                                <p class="no-mrg-btm">Consignaciones, Pagos, Trámites</p>
                            </div>
                        </li>
                    </ul>
                    <div class="mrg-top-30" style="min-height: 470px;">
                        <form #FormServicio="ngForm">
                            <h4>Datos del servicio</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Servicio</label>
                                        <select name="Servicio_Externo" class="form-control" ngModel="" (change)="AsignarComisionServicioExterno($event.target.value)">
                                            <option value="">seleccione un servicio</option>
                                            <option *ngFor="let ServicioExterno of ServiciosExternos" value="{{ServicioExterno.Id_Servicio_Externo}}">{{ServicioExterno.Nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Comisión</label>
                                        <input name="Comision" type="text" placeholder="Comisión" class="form-control" ngModel="{{ComisionServicioExterno}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Moneda</label>
                                        <select name="Moneda" class="form-control" ngModel="">
                                            <option value="">seleccione una opción</option>
                                            <option *ngFor="let Moneda of Monedas" value="{{Moneda.Nombre}}">{{Moneda.Nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input type="text" class="form-control" name="Valor" ngModel="">
                                    </div>
                                </div>
                            </div>
                            <div class="row mrg-top-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Observaciones</label>
                                        <textarea placeholder="Observaciones" class="form-control" name="Detalle" ngModel="">
                                            </textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-sm btn-info btn-block" (click)="GuardarServicio(FormServicio)">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalDestinatario" #ModalDestinatario>
        <div class="app-modal-header">
            <h4>Nuevo Destinatario</h4>
        </div>
        <div class="app-modal-body" id="Destinatario">
            <form #FormDestinatario="ngForm">
                <div class="row">                    
                    <div class="col-md-6" hidden>
                        <div class="form-group">
                            <label>indice</label>
                            <input type="text" placeholder="Identificación Cliente" class="form-control" name="Id_Destinatario" ngModel="{{Cedula}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Identificación</label>
                            <input type="text" placeholder="Identificación Cliente" class="form-control" name="Id_Destinatario" ngModel="{{Cedula}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" placeholder="Nombre Cliente" class="form-control" name="Nombre" ngModel="">
                        </div>
                    </div>
                </div>
            </form>
            <h3>Cuentas Asociadas</h3>
            <form #FormCuenta="ngForm">                  
                <div class="row" *ngFor="let Cuenta of Cuentas; let i= index">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Numero de Cuenta</label>
                            <input type="number" (blur)="AgregarFormCuenta()" (ngModelChange)="AutoSeleccionarBanco($event, i)" placeholder="Número de Cuenta sin Espacios" class="form-control" name="Numero_Cuenta{{i}}" [(ngModel)]="Cuenta.Numero_Cuenta">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tipo de cuenta</label>
                            <select class="form-control" name="Tipo_Cuenta{{i}}" [(ngModel)]="Cuenta.Tipo_Cuenta">
                                <option value="">Seleccione un tipo de cuenta</option>
                                <option *ngFor="let TipoCuenta of TipoCuentas" [value]="TipoCuenta.Nombre">{{TipoCuenta.Nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>País</label>
                            <select class="form-control" (blur)="AgregarFormCuenta()" name="Pais{{i}}" [(ngModel)]="Cuenta.Pais">
                                <option value="">Seleccione País</option>
                                <option *ngFor="let Pais of Paises" [value]="Pais.Nombre">{{Pais.Nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Banco</label>
                            <select class="form-control" (blur)="AgregarFormCuenta()" name="Banco{{i}}" [(ngModel)]="Cuenta.Banco">
                                <option value="">Seleccione Banco</option>
                                <option *ngFor="let Banco of Bancos" [value]="Banco.Nombre" >{{Banco.Nombre}}</option>
                            </select>
                        </div>
                    </div>                    
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" id="detalleText" placeholder="Detalles del Destinatario" name="Detalle" [(ngModel)]="Detalle"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-border" id="guardar">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" (click)="GuardarDestinatario(FormDestinatario)">Guardar</button>
                </div>
            </div>     
        </div>    
    </app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalRemitente" #ModalRemitente>
    <div class="app-modal-header">
        <h4>Nuevo Remitente</h4>
    </div>
    <div class="app-modal-body">
        <form #FormRemitente="ngForm">
            <div class="row">                    
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="text" placeholder="Identificación Cliente" class="form-control" name="Id_Transferencia_Remitente" ngModel="{{IdRemitente}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Cliente" class="form-control" name="Nombre" ngModel="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" placeholder="Detalles del Destinatario" name="Telefono" ngModel="">
                    </div>
                </div>
            </div>
            <hr>
        </form>            
        <div class="modal-footer no-border" id="guardar">
            <div class="text-right">
                <button class="btn btn-primary btn-sm" (click)="GuardarRemitente(FormRemitente)">Guardar</button>
            </div>
        </div>     
    </div>    
</app-modal-basic>

<swal #warnSwal
  title="Documento invalido"
  text="El documento ingresado debe tener una longitud mínima de 5 números"
  type="warning"
  >
</swal>

<swal #warnTotalSwal
  title="Valor invalido"
  text="El valor total de la transferencia no es suficiente para realizar las transferencias individuales."
  type="warning"
  >
</swal>

<swal #destinatarioCreadoSwal
  title="El destinatario a sido creado"
  text="Ahora podra ingresar el documento del destinatario para una nueva transferencia."
  type="success"
  >
</swal>

<swal #transferenciaExitosaSwal
  title="La transferencia se realizo con exito"
  text="Se ha registrado exitosamente la transferencia"
  type="success"
  (confirm)="ResetValues()"
  >
</swal>

<swal #movimientoExitosoSwal
  title="El movimiento se realizo con exito"
  text="Se ha registrado exitosamente el movimiento"
  type="success"
  >
</swal>

<swal #remitenteCreadoSwal
  title="El remitente a sido creado"
  text="Ahora podra ingresar el documento del remitente para una nueva transferencia."
  type="success"
  >
</swal>

<swal #bancoNoIdentificadoSwal
  title="Número de cuenta incorrecto"
  text="El número de cuenta introducido no coincide con ninguno de los bancos en nuestra base de datos."
  type="warning">
</swal>