.btn-grande{
    height: 80px;
    font-size: 30px;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_filter input{
    height: auto !important;
    font-size: 10px !important;
    line-height: 1 !important;
}