<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th style="width:15%"></th>
      <th class="text-center" colspan="2">Bolivares Soberanos</th>
      <th class="text-center" colspan="2">Pesos</th>
    </tr>
    <tr>
      <th class="text-center">Modulos</th>
      <th class="text-center">Ingresos</th>
      <th class="text-center">Egresos</th>
      <th class="text-center">Ingresos</th>
      <th class="text-center">Egresos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" style="cursor:pointer;">Cambios</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
    </tr>
    <tr>
      <td class="text-center">Transferencias</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
    </tr>
    <tr>
      <td class="text-center">Traslados</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
    </tr>
    <tr>
      <td class="text-center">Giros</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
    </tr>
    <tr>
      <td class="text-center">Corresponsales</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
    </tr> 
    <tr>
      <td class="text-center">Servicios</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
      <td class="text-right">70.000</td>
    </tr>                
  </tbody>
</table>
