.grande{
    font-weight: bold;
    font-size: 15px;
}

.table {
    td{
        vertical-align: middle;
    }
}

.ajuste{
    background: #f1f1f1 !important;
}

.esconder {
    display: none
}

.botonFlotante{
    position: fixed;
    display:scroll;
    bottom:10px;
    right:10px;
}