<div class="card-header">
  <div class="row">
    <div class="col-md-4" style="display:flex; align-items:flex-end;"> 
      <h5>Destinatario giros</h5>       
    </div>
    <div class="col-md-8">
      <div class="pull-right">
        <button class="btn btn-rounded btn-outline-primary btn-sm" style="display:flex; align-items:center;"
          (click)="AbrirModal('0')">
          <i class="ti-plus font-size-15 mr-2"></i> Nuevo dest. giro
        </button>
      </div>
    </div>
  </div>                  
</div>
<div class="card-body">
  <table class="table table-striped table-bordered custom-table">
    <thead>
      <tr>
        <th class="custom-thead" style="width:15%;">Documento</th>
        <th class="custom-thead" >Nombre</th>
        <th class="custom-thead" style="width:13%;">Telefono</th>
        <th class="custom-thead" style="width:13%;">Estado</th>
        <th class="custom-thead" style="width:8%;">Acciones</th>
      </tr>
      <tr>
        <th class="table-filters">
          <input type="text" class="form-control" placeholder="Filtro documento"
            (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.documento">
        </th>
        <th class="table-filters">
          <input type="text" class="form-control" placeholder="Filtro nombre"
            (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.nombre">
        </th>
        <th class="table-filters">
        </th>
        <th class="table-filters">
          <select id="estado" class="form-control" (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.estado">
            <option value="" selected>Seleccione</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </th>
        <th class="table-filters"></th>
      </tr>
      <tr *ngIf="Cargando">
        <td colspan="5" class="text-center">
          <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
            <h2>CARGANDO DESTINATARIO PARA GIROS</h2>
            <img src="{{RutaGifCargando}}" style="width:250px;" alt="CARGANDO">
          </div>
        </td>
      </tr>
      <tr *ngIf="DestinatariosGiros.length == 0 && !Cargando">
        <td colspan="5" class="text-center">
            <i class="ti-alert font-size-20 text-warning"></i>
            <h4>No hay destinatarios giros para mostrar!</h4>
        </td>
      </tr>
    </thead>
    <tbody *ngIf="!Cargando">                                            
      <tr *ngFor="let dg of DestinatariosGiros; let i = index;" [ngClass]="{'bg-inactive':dg.Estado == 'Inactivo'}">
        <td class="custom-cell">{{dg.Documento_Destinatario}}</td>
        <td class="custom-cell">{{dg.Nombre_Destinatario}}</td>
        <td class="custom-cell">{{dg.Telefono_Destinatario}}</td>
        <td class="custom-cell text-center">{{dg.Estado}}</td>
        <td class="custom-cell">
          <div class="text-center">
            <div ngbDropdown class="dropdown-primary">
              <button ngbDropdownToggle class="btn btn-outline-primary btn-xs btn-rounded waves-effect waves-light " type="button"><i class="ti-angle-down"></i></button>
              <div ngbDropdownMenu>
                <a class="dropdown-item waves-light waves-effect caja-botones accionable" (click)="AbrirModal(dg.Documento_Destinatario)">
                  <i class="ti-pencil text-warning"></i> Editar</a>
                <a class="dropdown-item waves-light waves-effect caja-botones accionable" (confirm)="CambiarEstadoDestinatarioGiro(dg.Documento_Destinatario)"
                  [swal]="{title : '¿Está Seguro?', text: 'Se dispone a cambiar el estado de este destinatario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Cambiar',cancelButtonText: 'No!'}">
                    <i [ngClass]="{'ti-na text-danger':dg.Estado == 'Activo', 'ti-back-right text-success':dg.Estado == 'Inactivo'}"></i> 
                    {{dg.Estado == 'Activo' ? 'Inactivar' : 'Activar'}}</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="paginacion-container" *ngIf="DestinatariosGiros.length > 0">
    <div class="row">
      <div class="col-md-4">
        <p style="font-size:11px;"><b>Mostrando del {{InformacionPaginacion.desde}} al {{InformacionPaginacion.hasta}} de {{ InformacionPaginacion.total }}</b></p>
      </div>
      <div class="col-md-8">
        <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize"
          size="sm" (pageChange)="ConsultaFiltrada(true)" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
  
<app-modaldestinatariogiro
  [AbrirModal]="AbrirModalAgregar.asObservable()"
  (ActualizarTabla)="ConsultaFiltrada()">
</app-modaldestinatariogiro>