table.cierre-caja-table > tbody > tr > td{
    height: 12px;
    font-size: 13px;    
    font-weight: bold;
}

table.cierre-caja-table > thead > tr > th{
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

input.sp-text{
    text-align: right;
}