<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Cajas</h4>
        <button class="pull-right btn btn-primary btn-sm" (click)="ModalCaja.show()">
            <i class="ti-plus"></i> Agregar Nueva Caja</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <app-tablacajas></app-tablacajas>
            </div>
        </div>
    </div>
</div>

<!-- <app-modal-basic [dialogClass]="'modal-lg'" id="ModalCaja" #ModalCaja>
    <div class="app-modal-header">
        <h4>Nueva Caja</h4>
        <button type="button" class="close basic-close" (click)="ModalCaja.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <form #FormCajaAgregar="ngForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="" (focus)="$event.target.select()"
                            (focusout)="boolNombre = true" required #nombreCaja="ngModel">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Oficina</label>
                        <select class="form-control" required name="Id_Oficina" ngModel="" [(ngModel)]="oficinaDefault" (click)="boolOficina=true"
                            required #oficina="ngModel">
                            <option value="">Seleccione una Oficina</option>
                            <option *ngFor="let Oficina of Oficinas" [value]="Oficina.Id_Oficina">{{Oficina.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>MAC</label>
                        <input type="text" placeholder="MAC" class="form-control" name="MAC" ngModel="" (focus)="$event.target.select()" (focusout)="boolNombre = true"
                            required #Mac="ngModel">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Esta Caja" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!nombreCaja.valid || oficina.value==''" [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCaja(FormCajaAgregar, ModalCaja)">Guardar Información</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarCaja" #ModalEditarCaja>
    <div class="app-modal-header">
       <h4>Editar Caja</h4>
       <button type="button" class="close basic-close" (click)="ModalEditarCaja.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <form #FormEditarCaja="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="{{Nombre}}" (focus)="$event.target.select()"
                            (focusout)="boolNombre = true" required #nombreCajaEd="ngModel">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Oficina</label>
                        <select class="form-control" required name="Id_Oficina" ngModel="{{Oficina}}" (click)="boolOficina=true" required #oficinaEd="ngModel">
                            <option value="">Seleccione una Oficina</option>
                            <option *ngFor="let Oficina of Oficinas" [value]="Oficina.Id_Oficina">{{Oficina.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>MAC</label>
                        <input type="text" placeholder="MAC" class="form-control" name="MAC" ngModel="{{MAC}}" (focus)="$event.target.select()" (focusout)="boolNombre = true"
                            required #MacEd="ngModel">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Esta Caja" name="Detalle" ngModel="{{Detalles}}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="!nombreCajaEd.valid || oficinaEd.value==''" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a actualizar esta caja' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCaja(FormEditarCaja, ModalEditarCaja)">Actualizar</button>
        </div>
    </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar la caja" type="error">
</swal>

<swal #saveSwal title="Caja creada" text="Se ha creado correctamente la caja" type="success">
</swal>

<swal #deleteSwal title="Caja eliminada" text="Se ha eliminado correctamente la caja" type="success">
</swal>

<swal #confirmacionSwal title="" text="" type=""></swal> -->