<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Cajas</h4>
        <button class="pull-right btn btn-info" (click)="ModalCaja.show()">
            <i class="ti-plus"></i> Agregar Nueva Caja</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <p>Tenemos registradas todas las cajas de la compañía</p>
                    <div class="table-overflow">
                        <table class="table table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th style="width:220px;">Nombre Caja</th>
                                    <th style="width:220px;">Nombre Oficina</th>
                                    <th style="width:170px;">MAC</th>
                                    <th>Detalle</th>
                                    <th style="width:100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let caja of cajas">
                                    <td>{{caja.Nombre}}</td>
                                    <td>{{caja.Oficina}}</td>
                                    <td>{{caja.MAC}}</td>
                                    <td>{{caja.Detalle}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarCaja(caja.Id_Caja)">
                                            <i class="ti-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular esta Caja, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }"
                                            (confirm)="EliminarCaja(caja.Id_Caja)">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCaja" #ModalCaja>
    <div class="app-modal-header">
        <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none"
            (click)="OcultarFormularios()">X</button>
        <h4>Nueva Caja</h4>
    </div>
    <div class="app-modal-body">
        <form #FormCajaAgregar="ngForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="" (focus)="$event.target.select()"
                            (focusout)="boolNombre = true" required #nombreCaja="ngModel">
                        <div *ngIf="!nombreCaja.valid && boolNombre==true" style="color:red">Campo inválido</div>
                        <div *ngIf="nombreCaja.valid && boolNombre==true" style="color:green">Datos correctos!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Oficina</label>
                        <select class="form-control" required name="Id_Oficina" ngModel="" [(ngModel)]="oficinaDefault" (click)="boolOficina=true"
                            required #oficina="ngModel">
                            <option value="">Seleccione una Oficina</option>
                            <option *ngFor="let Oficina of Oficinas" [value]="Oficina.Id_Oficina">{{Oficina.Nombre}}</option>
                        </select>
                        <div *ngIf="oficina.value=='' && boolOficina==true" style="color:red">Campo inválido</div>
                        <div *ngIf="!oficina.value==''" style="color:green">Datos correctos!</div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <label>MAC</label>
                            <input type="text" placeholder="MAC" class="form-control" name="MAC" ngModel="" (focus)="$event.target.select()"
                            (focusout)="boolNombre = true" required #Mac="ngModel">
                        <div *ngIf="!Mac.valid && boolNombre==true" style="color:red">Campo inválido</div>
                        <div *ngIf="Mac.valid && boolNombre==true" style="color:green">Datos correctos!</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Esta Caja" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!nombreCaja.valid || oficina.value==''" [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCaja(FormCajaAgregar, ModalCaja)">Actualizar Información</button>
        </div>
    </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarCaja" #ModalEditarCaja>
    <div class="app-modal-header">
        <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none"
            (click)="OcultarFormularios()">X</button>
        <h4>Editar Caja</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarCaja="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Caja" class="form-control" name="Nombre" ngModel="{{Nombre}}" (focus)="$event.target.select()"
                            (focusout)="boolNombre = true" required #nombreCajaEd="ngModel">
                        <div *ngIf="!nombreCajaEd.valid && boolNombre==true" style="color:red">Campo inválido</div>
                        <div *ngIf="nombreCajaEd.valid && boolNombre==true" style="color:green">Datos correctos!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Oficina</label>
                        <select class="form-control" required name="Id_Oficina" ngModel="{{Oficina}}" (click)="boolOficina=true" required #oficinaEd="ngModel">
                            <option value="">Seleccione una Oficina</option>
                            <option *ngFor="let Oficina of Oficinas" [value]="Oficina.Id_Oficina">{{Oficina.Nombre}}</option>
                        </select>
                        <div *ngIf="oficinaEd.value=='' && boolOficina==true" style="color:red">Campo inválido</div>
                        <div *ngIf="!oficinaEd.value==''" style="color:green">Datos correctos!</div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                            <label>MAC</label>
                            <input type="text" placeholder="MAC" class="form-control" name="MAC" ngModel="{{MAC}}" (focus)="$event.target.select()"
                            (focusout)="boolNombre = true" required #MacEd="ngModel">
                        <div *ngIf="!MacEd.valid && boolNombre==true" style="color:red">Campo inválido</div>
                        <div *ngIf="MacEd.valid && boolNombre==true" style="color:green">Datos correctos!</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles de Esta Caja" name="Detalle" ngModel="{{Detalles}}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="!nombreCajaEd.valid || oficinaEd.value==''" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a Guardar este Paciente' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCaja(FormEditarCaja, ModalEditarCaja)">Guardar</button>
        </div>
    </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el documento" type="error">
</swal>

<swal #saveSwal title="Documento guardado" text="Se ha guardado correctamente el documento" type="success">
</swal>

<swal #deleteSwal title="Caja eliminada" text="Se ha eliminado correctamente la caja" type="success">
</swal>