<div class="page-body">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-md-offset-4">
      <div class="card">
        <form #FormPerfil="ngForm" ng-submit="" style="padding-bottom: 0px;">
          <div class="card-body" style="padding-bottom: 0px;">
            <div class="row invoive-info" style="margin-bottom: 0; padding-bottom: 0px;">
              <div class="col-md-12">
                <h4>Crear Prefil</h4>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" placeholder="Nombre del Perfil" class="form-control form-control-sm" name="Nombre"
                    ngModel="{{Cabecera.Nombre}}">
                  <input type="hidden" placeholder="Nombre del Perfil" class="form-control form-control-sm" name="id"
                    [(ngModel)]="id">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Detalles</label>
                  <input type="text" placeholder="Detalles del Perfil" class="form-control form-control-sm"
                    name="Detalle" [(ngModel)]="Cabecera.Detalle">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tablero</label>
                  <select class="form-control form-control-sm" name="Tablero" [(ngModel)]="Cabecera.Tablero">
                    <option value="tablerogerencia">Gerencia</option>
                    <option value="tablerocajeroprincipal">Cajero Principal</option>
                    <option value="tablerocajero">Cajero</option>
                    <option value="tableroconsultor">Consultor</option>
                    <option value="tableroauditor">Auditor</option>
                  </select>
                </div>
              </div>

            </div>

            <hr>
            <div class="row">
              <div class="col-md-12 col-md-offset-4">
                <div class="text-right">
                  <button type="submit" class="btn btn-primary"
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarPerfil(FormPerfil)">Actualizar Información</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<swal #confirmacionSwal title="" text="" type=""></swal>
