
.checkboxTwo {
    width: 30px;
    height: 20px;
    background: #52a064;

    border-radius: 25px;
    position: relative;
}

/**
 * Create the line for the circle to move across
 */
 .checkboxTwo:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 7px;
    height: 1px;
    width: 10px;
    background: #111;
}

/**
 * Create the circle to click
 */
 .checkboxTwo label {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 6px;
    background: #ddd;
}

/**
 * Create the click event for the checkbox
 */
 .checkboxTwo input[type=checkbox]:checked + label {
    left: 17px;
    background: #d5dcd5;
}
.caja{
     
    font-size: 11px!important;
   
}
.borde{
    border-right: 2px solid #B4B4B4;
}