.btn-xs{
    font-size: 10px !important;
    padding: 3px !important;
    margin:0 !important;
}
.btn-superior{
    font-size: 14px !important;
    padding: 7px !important;
}
.header-modulos{
    padding: 2px 11px !important;
    background-color: rgba(0, 0, 0, 0.02) !important;
}

  