<div class="card-block">
  <ul class="list-unstyled list-info">
    <li>
      <span class="thumb-img pdd-top-10">
        <i class="ti-wallet text-danger font-size-30"></i>
      </span>
      <div class="info">
        <b class="text-dark font-size-22">Egresos</b>
        <p class="no-mrg-btm ">Gestion de egresos</p>
      </div>
    </li>
  </ul>

  <div class="my-3 ">
    <div class="row d-flex justify-content-center" id="Egresos1">
      <div class="col-md-4">
        <button class="btn btn-danger btn-block mrg-top-10 btn-grande text-center" (click)="AbrirModal('0')">
          Nuevo Egreso
        </button>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="tab-success">
            <div class="card-body">
              <h5>Últimos Egresos Registros</h5>
              <table class="table table-striped table-bordered custom-table">
                <thead>
                  <tr>
                    <th class="custom-thead">Código</th>
                    <th class="custom-thead">Funcionario</th>
                    <th class="custom-thead">Grupo</th>
                    <th class="custom-thead">Tercero</th>
                    <th class="custom-thead">Moneda</th>
                    <th class="custom-thead">Valor Egreso</th>
                    <th class="custom-thead">Acciones</th>
                  </tr>
                  <tr>
                    <th class="table-filters">
                      <input type="text" class="form-control" placeholder="Filtro codigo" (change)="ConsultaFiltrada()"
                        [(ngModel)]="Filtros.codigo">
                    </th>
                    <th class="table-filters">
                      <input type="text" class="form-control" placeholder="Filtro funcionario"
                        (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.funcionario">
                    </th>
                    <th class="table-filters">
                      <select id="grupo" class="form-control" (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.grupo">
                        <option value="" selected>Todos</option>
                        <option *ngFor="let gt of GruposTerceros" [value]="gt.Id_Grupo_Tercero">{{gt.Nombre_Grupo}}
                        </option>
                      </select>
                    </th>
                    <th class="table-filters">
                      <input type="text" class="form-control" placeholder="Filtro tercero" (change)="ConsultaFiltrada()"
                        [(ngModel)]="Filtros.tercero">
                    </th>
                    <th class="table-filters">
                      <select id="moneda" class="form-control" (change)="ConsultaFiltrada()"
                        [(ngModel)]="Filtros.moneda">
                        <option value="" selected>Todas</option>
                        <option *ngFor="let m of Monedas" [value]="m.Id_Moneda">{{m.Nombre}}</option>
                      </select>
                    </th>
                    <th class="table-filters"></th>
                    <th class="table-filters"></th>
                  </tr>
                  <tr *ngIf="Cargando">
                    <td colspan="7" class="text-center">
                      <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
                        <h2>CARGANDO EGRESOS</h2>
                        <img src="{{RutaGifCargando}}" style="width:250px;" alt="CARGANDO">
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="Egresos.length == 0 && !Cargando">
                    <td colspan="7" class="text-center">
                      <i class="ti-alert font-size-20 text-warning"></i>
                      <h4>No hay egresos para mostrar!</h4>
                    </td>
                  </tr>
                </thead>
                <tbody *ngIf="!Cargando">
                  <tr
                    *ngFor="let e of Egresos | paginate: {  id: 'egresos', itemsPerPage: pageSize, currentPage: page, totalItems: TotalItems }"
                    [ngClass]="{'bg-anulada':e.Estado == 'Anulado'}">
                    <td class="text-center">{{e.Codigo}}</td>
                    <td class="text-center">{{e.Nombre_Funcionario}}</td>
                    <td class="text-center">{{e.Nombre_Grupo}}</td>
                    <td class="text-center">{{e.Nombre_Tercero}}</td>
                    <td class="text-center">{{e.Nombre_Moneda}}</td>
                    <td class="text-right">{{e.Valor | customcurrency:e.Codigo_Moneda}}</td>
                    <td class="text-center" [ngClass]="{'bg-white':e.Estado != 'Anulado'}">
                      <div class="text-center" *ngIf="e.Estado != 'Anulado'">
                        <div ngbDropdown class="dropdown-primary">
                          <button ngbDropdownToggle
                            class="btn btn-outline-primary btn-xs btn-rounded waves-effect waves-light "
                            type="button"><i class="ti-angle-down"></i></button>
                          <div ngbDropdownMenu>

                            <a class="dropdown-item waves-light waves-effect caja-botones accionable"
                              (confirm)="AnularEgreso(e.Id_Egreso)"
                              [swal]="{title : '¿Está Seguro?', text: 'Se dispone a anular este egreso' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Anular',cancelButtonText: 'No!'}">
                              <i
                                [ngClass]="{'ti-na text-danger':e.Estado == 'Activo', 'ti-back-right text-success':e.Estado == 'Anulado'}"></i>
                              {{e.Estado == 'Activo' ? 'Anular' : 'Activar'}}</a>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div id="paginacion-container" *ngIf="Egresos.length > 0">
                <div class="row">
                  <div class="col-md-12">
                    <pagination-controls id="egresos" (pageChange)="page = $event " previousLabel="Anterior"
                      nextLabel="Siguiente" responsive="true"></pagination-controls>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-modalegreso [AbrirModal]="AbrirModalAgregar.asObservable()" (ActualizarTabla)="ConsultaFiltrada()">
  </app-modalegreso>
  
  <swal #alertSwal title="" html="" type="" text=""></swal>
