<div class="card modulos" id="transferencias">
  <div class="card-header header-modulos">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled list-info">
          <li>
            <span class="thumb-img pdd-top-10">
              <i class="ti-control-shuffle text-primary font-size-30"></i>
            </span>
            <div class="info">
              <b class="text-dark font-size-22">Recaudos</b>
              <p class="no-mrg-btm "></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <button (click)="CambiarVista('Transferencia')" class="btn btn-primary float-right mrg-top-10 btn-superior"><i
            class="fa fa-plus"></i>
          Nuevo
          Recaudo</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div style="min-height: 470px;">
      <div class="row" id="transferencias1" *ngIf="Transferencia1">
        <div class="col-md-12">
          <h5>Mis movimientos </h5>
          <app-tabla-recaudo [ActualizarTabla]="ActulizarTablaRecibos.asObservable()"></app-tabla-recaudo>
        </div>
      </div>

      <div class="row" id="transferencias2" *ngIf="Transferencia2" style="margin-top: 50px">
        <div class="col-md-12">
          <form #FormTransferencia="ngForm">
            <div class="row">
              <div class="col-md-3">
                <label class="transferencia font-size-18">Forma de Pago</label>
                <select id="Forma_Pago" class="form-control font-size-18"
                  (change)="ControlarValoresSelect($event.target.value)" name="Forma_Pago"
                  [(ngModel)]="TransferenciaModel.Forma_Pago" required tabindex="1">
                  <option value="Efectivo">Efectivo</option>
                </select>
              </div>

              <div class="col-md-3">
                <label class="transferencia font-size-18">Moneda para el cambio</label>
                <select id="Moneda_Transferencia" class="form-control font-size-18" name="Moneda_Transferencia"
                  [(ngModel)]="TransferenciaModel.Moneda_Destino" required
                  (change)="SetMonedaTransferencia($event.target.value)" tabindex="3">
                  <option *ngFor="let m of MonedasTransferencia" [value]="m.Id_Moneda">
                    {{m.Nombre}}</option>
                </select>
              </div>

              <!-- <div class="col-md-3">
                <label class="transferencia font-size-18">Comisión</label>
                <div class="w-100"> </div>
                <label class="transferencia font-size-18">
                  {{TransferenciaModel.Porcentaje_Recauda}} %
                </label>
              </div> -->

            </div>


            <div class="row" *ngIf="ControlVisibilidadTransferencia.DatosRemitente">
              <div class="col-md-12">
                <hr class="mrg-top-10 mrg-btm-10">
                <div class="row">
                  <div class="col-md-12" style="display:flex;align-items: center;">
                    <h5>Datos del Remitente</h5>

                    <div class="form-group pl-2 pt-1">

                    </div>
                  </div>
                </div>
                <div class="row mrg-top-20">
                  <div class="col-md-4">
                    <div class="form-group">

                      <label class="transferencia font-size-18" style="display:block;">Número
                        Documento</label>


                      <input type="text" class="form-control font-size-18" placeholder="Busqueda"
                        name="Numero_Documento_Origen" autocomplete="off"
                        [(ngModel)]="TransferenciaModel.Documento_Origen" [ngbTypeahead]="search_remitente2"
                        [resultTemplate]="rt_remitente" [inputFormatter]="formatter_remitente_custom"
                        (ngModelChange)="AutoCompletarRemitente(TransferenciaModel.Documento_Origen, i)"
                        value="TransferenciaModel.Documento_Origen" required tabindex="9">

                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="transferencia font-size-18">Nombre</label>
                      <input class="form-control font-size-18 py-3" style="height: 30px;" value="{{TransferenciaModel.Nombre_Remitente
                        == '' ? 'Nombre Remitente' :
                        TransferenciaModel.Nombre_Remitente}}" readonly>
                    </div>

                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="transferencia font-size-18">Teléfono</label>
                      <input class="form-control font-size-18 py-3" style="height: 30px;" value="{{TransferenciaModel.Telefono_Remitente
                          == '' ? 'Telefono Remitente' :
                          TransferenciaModel.Telefono_Remitente}}" readonly>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row" *ngIf="ControlVisibilidadTransferencia.DatosCambio">
              <div class="col-md-12" *ngIf="!TransferenciaPesos">
                <hr class="mrg-top-10 mrg-btm-10">
                <div class="row mrg-top-20">
                  <div class="col-md-4">
                    <div class="form-group text-center">
                      <label class="transferencia font-size-18">Cantidad
                        Recibida</label>
                    </div>
                    <div class="form-group">
                      <input *ngIf="TransferenciaModel.Bolsa_Bolivares == '0'; "
                        class="font-size-18 form-control alinear-derecha" id="Cantidad_Recibida" type="text"
                        (blur)="CalcularCambioMoneda($event.target.value, 'por origen')" autocomplete="off"
                        placeholder="Valor Recibido" [(ngModel)]="TransferenciaModel.Cantidad_Recibida"
                        name="Cantidad_Recibida" required currencyMask
                        [options]="{ thousands: '.' , decimal: ',' ,  precision: '0'}" tabindex="7"
                        [readonly]="TransferenciaModel.Porcentaje_Recauda == 0">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" *ngIf="TransferenciaPesos">
                <hr class="mrg-top-10 mrg-btm-10">
                <h5>Datos del Cambio</h5>
                <div class="row mrg-top-20">
                  <div class="col-md-4">
                    <div class="form-group text-center">
                      <label class="transferencia font-size-18">Monto
                        Recibido</label>
                      <input class="font-size-18 form-control alinear-derecha" id="Cantidad_Recibida" type="text"
                        (blur)="ColocarMontoSoloPesos($event.target.value)" autocomplete="off"
                        placeholder="Monto Recibido" [(ngModel)]="TransferenciaModel.Cantidad_Recibida"
                        name="Cantidad_Recibida" required currencyMask
                        [options]="{ thousands: '.' , decimal: ',' ,  precision: '0'}">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="data-container">
              <!-- Destinatarios -->
              <div class="row" *ngIf="ControlVisibilidadTransferencia.Destinatarios">
                <div class="col-md-12">
                  <hr class="mrg-top-10 mrg-btm-10">
                  <div class="row">
                    <div class="col-md-6">
                      <h5>Destinatarios</h5>
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                      <button class="btn btn-light" (click)="AgregarDestinatarioTransferencia()">
                        Agregar Destinatario <i class="ti-plus"></i>
                      </button>
                    </div>
                  </div>

                  <!-- /**************************************************************************************************************************************************************************************************************/ -->
                  <div *ngFor="let destinatario of ListaDestinatarios; let i= index">
                    <div class="row">

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="transferencia font-size-18">N. Documento
                            <i class="ti-pencil" style="cursor:poin ter;" *ngIf="destinatario.EditarVisible"
                              (click)="EditarDest2(destinatario.Numero_Documento_Destino, 'editar cuentas', i)"></i>
                          </label>
                          <input type="text" class="form-control font-size-18" name="Destino_{{i}}" id="Destino_{{i}}"
                            [(ngModel)]="destinatario.id_destinatario_transferencia" [ngbTypeahead]="search_destino2"
                            [resultTemplate]="rt_destino" [inputFormatter]="formatterClienteCambioCompra"
                            (ngModelChange)="AutoCompletarDestinatario(destinatario.id_destinatario_transferencia, i, ListaDestinatarios,destinatario)"
                            (change)="AutoCompletarDestinatario(destinatario.id_destinatario_transferencia, i, ListaDestinatarios,destinatario)"
                            (blur)="validateInputDocumentRetard(destinatario.Numero_Documento_Destino, 'crear especial', i, destinatario)"
                            required tabindex="5">
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="transferencia font-size-18">Nombre</label>
                          <input name="Nombre_Destino_{{i}}" [(ngModel)]="destinatario.Nombre_Destinatario" type="text"
                            placeholder="Nombre" class="form-control font-size-18" readonly
                            [disabled]="MonedaParaTransferencia.id == ''">
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="transferencia font-size-18">A enviar</label>
                          {{ (MonedaParaTransferencia.nombre != '' && MonedaParaTransferencia.nombre != undefined ) ? MonedaParaTransferencia.nombre.Codigo : '' }}
                          <input id="Valor_Transferencia_{{i}}" type="text" placeholder="Valor a Transferir"
                            [disabled]="DeshabilitarValor" class="font-size-18 form-control alinear-derecha"
                            name="Valor_Transferencia_{{i}}" [(ngModel)]="destinatario.Valor_Transferencia" required
                            currencyMask [options]="{ thousands: '.' , decimal: ',' ,  precision: '0'}">
                          <div class="col-md-1">
                            <i *ngIf="i > 0" class="ti-trash" style="color:red; cursor:pointer;"
                              (confirm)="EliminarDestinatarioTransferencia(i)"
                              [swal]="{title : 'Eliminar Destinatario', text: '¿Está seguro de querer eliminar este destinatario?' , type : 'error', showCancelButton : true , confirmButtonText: 'Sí, eliminar',cancelButtonText: '¡No, déjame comprobar!'}">
                            </i>
                            <!-- </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="transferencia font-size-18">Comision</label>

                          <input type="text" placeholder="0" disabled class="font-size-18 form-control alinear-derecha"
                            name="comison"
                            value="{{ (destinatario.pct * destinatario.Valor_Transferencia)/100 | currency:' ': false:'1.0-0' }}">

                        </div>
                      </div>
                      <!-- /**************************************************************************************************************************************************************************************************************/ -->

                    </div>


                  </div>
                </div>
              </div>

              <div class="row mrg-top-20">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="transferencia font-size-18">Observaciones</label>
                    <textarea placeholder="Observaciones" style="width: 100%;" name="Observacion_Transferencia"
                      [(ngModel)]="TransferenciaModel.Observacion_Transferencia" tabindex="10"></textarea>
                  </div>
                </div>
              </div>

              <div class="row mrg-top-20">
                <div class="col-md-10">
                  <button [disabled]="!FormTransferencia.valid || validateInputDocumentSmall.includes(true)"
                    id="BotonTransferencia" class="btn btn-primary btn-sm btn-block mrg-top-10 font-size-20"
                    [swal]="{title : '¿Está seguro?', text: 'Se dispone a registrar la transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Sí, guardar',cancelButtonText: '¡No, déjame comprobar!'}"
                    (confirm)="GuardarTransferencia(FormTransferencia)" tabindex="11">Guardar Transferencia
                  </button>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-secondary btn-sm btn-block mrg-top-10 font-size-20"
                    (click)="volverReciboTransferencia(FormTransferencia)" tabindex="12">Volver</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #rt_destino let-r="result" let-t="term">
  <span class="f-9">{{ r.id_destinatario }}
    <strong>{{r.Nombre}}</strong>
  </span>
</ng-template>

<ng-template #rt_tercero_credito let-r="result" let-t="term">
  <span class="f-9">
    {{r.Id_Tercero}}
    <strong>{{r.Nombre}}</strong>
  </span>
</ng-template>

<ng-template #rt_remitente let-r="result" let-t="term">
  <span class="f-9">{{ r.id_remitente }}
    <strong>{{r.Nombre}}</strong>
  </span>
</ng-template>

<swal #alertSwal title="" html="" type="" text=""></swal>
