<table class="table table-bordered table-sm table-hover custom-table">
    <thead>
        <tr>
            <th class="custom-thead text-center">Tipo Documento</th>
            <th class="custom-thead text-center">Nro. Identificación</th>
            <th class="custom-thead text-center">Nombres y Apellidos</th>
            <th class="custom-thead text-center">Tipo Tercero</th>
            <th class="custom-thead text-center">Grupo</th>
            <th class="custom-thead text-center">Departamento</th>
            <th class="custom-thead text-center">Ciudad</th>
            <th class="custom-thead text-center">Direccion</th>
            <th class="custom-thead text-center">Celular</th>
            <th class="custom-thead text-center">Correo</th>
            <th class="custom-thead text-center">Tercero desde</th>
            <th class="custom-thead text-center">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td class="custom-cell text-center">{{TerceroModel.Tipo_Documento}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Id_Tercero}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Nombre}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Tipo_Tercero}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Grupo_Tercero}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Departamento}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Municipio}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Direccion}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Celular}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Correo}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Tercero_Desde}}</td>
          <td class="custom-cell text-center">{{TerceroModel.Estado}}</td>
        </tr>
    </tbody>
</table>