<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Tipo Documento:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Tipo_Documento}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Nro Identificación:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Id_Tercero}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Nombres y Apellidos:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Nombre}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Tipo Tercero:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Tipo_Tercero}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Grupo:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Grupo_Tercero}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Departamento:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Departamento}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Ciudad:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Municipio}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Direccion:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Direccion}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Celular:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Celular}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Correo:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Correo}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Tercero desde:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Tercero_Desde}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color:#007bff;" class="font-weight-bold">Estado:</label>
                    <label style="color:#5ba7f9;" class="block-element">{{TerceroModel.Estado}}</label>
                </div>
            </div>
        </div>
    </div>
</div>