<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card" *ngFor="let Municipio of Municipios; let i = index">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne{{i}}"
                                    aria-expanded="true" aria-controls="collapseOne{{i}}">
                                    <h5 class="mb-0"> {{ Municipio.Nombre }} <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne{{i}}" class="collapse " role="tabpanel" aria-labelledby="headingOne{{i}}"
                                data-parent="#accordionEx">
                                <div class="card-body">
                                    <div class="accordion md-accordion" id="accordionEx1" role="tablist"
                                        aria-multiselectable="true">

                                        <!-- Accordion card 1 -->
                                        <div class="card" *ngFor="let Item of Municipio.Caja; let j = index">
                                            <div class="card-header" role="tab" id="headingOne2">
                                                <a data-toggle="collapse" data-parent="#accordionEx1" href="#collapseOne{{i}}{{j}}"
                                                    aria-expanded="true" aria-controls="collapseOne{{i}}">

                                                    <h5 class="mb-0"> {{ Item.Nombre }} <i class="fa fa-angle-down rotate-icon"></i>
                                                    </h5>

                                                </a>
                                            </div>
                                            <div id="collapseOne{{i}}{{j}}" class="collapse " role="tabpanel"
                                                aria-labelledby="headingOne2{{i}}" data-parent="#accordionEx">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table" style="font-size: 12px">
                                                            <tr>
                                                                <th>Movimiento</th>
                                                                <th style="text-align: center">$</th>
                                                                <th style="text-align: center">BsS.</th>
                                                            </tr>
                                                            <tr *ngFor="let subItem of Item.Movimientos ">
                                                                <td class="text-center" style="width:100px !important;">
                                                                    {{subItem.modulo}}
                                                                </td>
                                                                <td class="text-center" *ngIf="subItem.Moneda_Origen == 'Pesos'">{{
                                                                    subItem.Ingreso | currency: "$." }}</td>
                                                                <td class="text-center" *ngIf="subItem.Moneda_Origen == 'Pesos'">{{
                                                                    0 | currency: "BsS." }}</td>
                                                                <td class="text-center" *ngIf="subItem.Moneda_Origen == 'Bolivares'">{{
                                                                    0 | currency: "$." }}</td>
                                                                <td class="text-center" *ngIf="subItem.Moneda_Origen == 'Bolivares'">{{
                                                                    subItem.Ingreso | currency: "BsS." }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Accordion card 1 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                    </div>
                    <!-- Accordion wrapper -->
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input id="datefield" type="date" placeholder="Valor" class="form-control" name="Fecha" ngModel
                            (change)="Historial($event.target.value)">
                    </div>
                    <div id="chartdiv" style="height: 500px;font-size: 11px;width: 100%;"></div>
                </div>

            </div>
        </div>


    </div>