<div class="container-fluid">
    <div class="page-title">
      <h4 class="pull-left">Perfiles de Privilegios</h4>
      <button class="pull-right btn btn-info" (click)="ModalPerfil.show()"><i class="ti-plus"></i> Agregar Nuevo Perfil</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <p>Todos los perfiles con privilegios dentro del sistema</p>
            <div class="table-overflow">
              <table class="table table-hover table-sm table-striped">
                <thead>
                  <tr>
                    <th>Nombre del Perfil</th>
                    <th style="width:130px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let perfil of perfiles">
                    <td>{{perfil.Nombre}}</td>
                    <td class="text-center">
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerPerfil(perfil.Id_Perfil, ModalVerPerfil)">
                            <i class="ti-search"></i>
                        </button>
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarPerfil(perfil.Id_Perfil)">
                            <i class="ti-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                        [swal]="{title:'¿Está Seguro?',text : 'Se dispone a eliminar este perfil, esta acción no se puede revertir' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Eliminar', cancelButtonText:'No, Dejame Comprobar!'}"
                        (confirm)="EliminarPerfil(perfil.Id_Perfil)"
                        >
                            <i class="ti-trash"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalPerfil" #ModalPerfil>
    <div class="app-modal-header">
            <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none" (click)="OcultarFormularios()">X</button>
        <h4>Nuevo Perfil de Privilegios</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormPerfil="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre del Perfil" class="form-control" name="Nombre" ngModel="" (focus)="$event.target.select()" (focusout)="boolNombre = true" required #nombre="ngModel">
                        <div *ngIf="!nombre.valid && boolNombre==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="nombre.valid && boolNombre==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <input type="text" placeholder="Detalles del Perfil" class="form-control" name="Detalle" ngModel="">
                    </div>
                </div>
            </div>
            <hr>
            <h4>Privilegios</h4>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Transferencias</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Traslados</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Cajas/POS</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Giros</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Corresponsales Bancarios</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Servicios Externos</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Configuración</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" >Indicadores Gráficos</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-12" align="center" style="padding: 2px 0;">Reportes</div>
            </div>
            <div class="row" style="border-style: solid; border-width:1px">
                    <div class="col-md-4" align="center" style=" padding: 2px 0;">
                            <input type="checkbox" ng-checked="all" style="margin-right: 3px"><label>Ver</label>
                    </div>
                    <div class="col-md-4" align="center" style=" padding: 2px 0;">
                            <input type="checkbox" ng-checked="all"><label>Editar</label>
                    </div>
                    <div class="col-md-4" align="center" style=" padding: 2px 0;">
                            <input type="checkbox" ng-checked="all"><label>Eliminar</label>
                    </div>
            </div>


            
        </form>    
    </div>        
    <div class="app-modal-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!nombre.valid"
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarPerfil(FormPerfil, ModalPerfil)" >Actualizar Información</button>
            </div>
        </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalVerPerfil" #ModalVerPerfil>
    <div class="app-modal-header">
        <h4>Ver Perfil de Privilegios</h4>
    </div>
    <div class="app-modal-body">
        <form #FormVerPerfil="ngForm">
                <div class="col-md-4" hidden>
                    <div class="form-group">
                        <label>Identificación</label>
                        <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                <strong><label>Nombre: </label></strong>
                        <input type="text" placeholder="Nombre del Perfil" class="form-control" name="Nombre" ngModel="{{Nombre}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <input type="text" placeholder="Detalles del Perfil" class="form-control" name="Detalle" ngModel="{{Detalle}}">
                    </div>
                </div>
            </div>
            <hr>
            <h4>Privilegios</h4>
            <div class="row">
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Transferencias</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Traslados</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;">
                    <div class="form-group">
                        <label>Cajas/Pos</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Giros</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Corresponsales Bancarios</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;">
                    <div class="form-group">
                        <label>Servicios Externos</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Configuración</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Indicadores Gráficos</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;">
                    <div class="form-group">
                        <label>Reportes</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="Cerrar(ModalVerPerfil)" >Cerrar</button>
                </div>
            </div>
        </form>    
    </div>        
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarPerfil" #ModalEditarPerfil>
    <div class="app-modal-header">
        <h4>Editar Perfil de Privilegios</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarPerfil="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre del Perfil" class="form-control" name="Nombre" ngModel="{{Nombre}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <input type="text" placeholder="Detalles del Perfil" class="form-control" name="Detalle" ngModel="{{Detalle}}">
                    </div>
                </div>
            </div>
            <hr>
            <h4>Privilegios</h4>
            <div class="row">
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Transferencias</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Traslados</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;">
                    <div class="form-group">
                        <label>Cajas/Pos</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Giros</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Corresponsales Bancarios</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;">
                    <div class="form-group">
                        <label>Servicios Externos</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Configuración</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;border-right: 0;">
                    <div class="form-group">
                        <label>Indicadores Gráficos</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center" style="border: 1px dotted #c5c5c5;">
                    <div class="form-group">
                        <label>Reportes</label>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Ver</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Editar</label>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="checkbox checkbox-inline checkbox-primary">
                                    <input type="checkbox" >
                                    <label for="form-4-1">Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm"
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este perfil' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarPerfil(FormEditarPerfil, ModalEditarPerfil)">Guardar</button>
                </div>
            </div>
        </form>    
    </div>        
</app-modal-basic>

<swal #saveSwal
title="Documento guardado"
text="Se ha guardado correctamente el documento"
type="success"
>
</swal>

<swal #deleteSwal
  title="Perfil Eliminado"
  text="Se ha eliminado correctamente el perfil"
  type="success"
  >
  </swal>