<div class="card-header bg-light">

  <ul class="list-unstyled list-info">
    <li>
      <span class="thumb-img pdd-top-10">
      </span>
      <div class="info">
        <b class="text-dark font-size-22">Agentes externos registrados</b>
        <p class="no-mrg-btm ">Gestion  agentes Externos</p>
      </div>
    </li>
  </ul>

  <div class="my-3">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <button (click)="AbrirModal('0')" class="btn btn-info btn-block mrg-top-10 btn-grande">Nuevo agente
          externo</button>
      </div>

    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped custom-table">
      <thead>
        <tr>
          <th class="custom-thead" style=""></th>
          <th class="custom-thead" style="">Identificación</th>
          <th class="custom-thead">Nombre</th>
          <th class="custom-thead" style="">Estado</th>
          <th class="custom-thead" style="">Acciones</th>
        </tr>
        <tr>
          <th class="table-filters"></th>
          <th class="table-filters">
            <input type="text" class="form-control" placeholder="Filtro identificacion" (change)="ConsultaFiltrada()"
              [(ngModel)]="Filtros.identificacion">
          </th>
          <th class="table-filters">
            <input type="text" class="form-control" placeholder="Filtro nombre" (change)="ConsultaFiltrada()"
              [(ngModel)]="Filtros.nombre">
          </th>
          <th class="table-filters">
            <select id="estado" class="form-control" (change)="ConsultaFiltrada()" [(ngModel)]="Filtros.estado">
              <option value="" selected>Seleccione</option>
              <option value="Activo">Activo</option>
              <option value="Inactivo">Inactivo</option>
            </select>
          </th>
          <th class="table-filters"></th>
          <th class="table-filters"></th>
        </tr>
        <tr *ngIf="Cargando">
          <td colspan="5" class="text-center">
            <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
              <h2>CARGANDO AGENTES EXTERNOS</h2>
              <img src="{{RutaGifCargando}}" style="width:250px;" alt="CARGANDO">
            </div>
          </td>
        </tr>
        <tr *ngIf="AgentesExternos.length == 0 && !Cargando">
          <td colspan="5" class="text-center">
            <i class="ti-alert font-size-20 text-warning"></i>
            <h4>No hay agentes externos para mostrar!</h4>
          </td>
        </tr>
      </thead>
      <tbody *ngIf="!Cargando" style="font-size: 0.8em;">
        <tr class="p-0 m-0" *ngFor="let ae of AgentesExternos; let i = index;">
          <td class="text-right">
            <div class="list-info text-center">
              <img class="thumb-img" src="assets/images/user.jpg" alt="">
            </div>
          </td>
          <td class="text-right">{{ae.Documento | mask:'000.000.000.000'}}</td>
          <td class="text-right">
            {{ae.Nombre}}

            <div class="info">
              <span class="text-muted">Cupo: {{ae.Cupo | customcurrency }}</span>
            </div>

          </td>
          <td class="custom-cell text-center">
            <div class="relative mrg-top-10"> 
              <span class="status" [ngClass]="{'online':ae.Estado == 'Activo'}"> </span>
              <span>{{ae.Estado}}</span>
            </div>
          </td>
          <td class="text-right">
            <div class="text-center">
              <!-- <div ngbDropdown class="dropdown-primary"> -->
                <!-- <button ngbDropdownToggle class="btn btn-outline-primary btn-xs btn-rounded waves-effect waves-light "
                  type="button"><i class="ti-angle-down"></i></button> -->
                <!-- <div ngbDropdownMenu> -->
                <a class=" waves-effect  accionable"
                  (click)="AbrirModal(ae.Id_Agente_Externo)">
                  <i class="ti-pencil text-warning"></i> </a>
                <a class=" waves-effect  accionable"
                  (confirm)="CambiarEstadoAgenteExterno(ae.Id_Agente_Externo)"
                  [swal]="{title : '¿Está Seguro?', text: 'Se dispone a cambiar el estado de este agente externo' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Cambiar',cancelButtonText: 'No!'}">
                  <i
                    [ngClass]="{'ti-trash text-danger':ae.Estado == 'Activo', 'ti-back-right text-success':ae.Estado == 'Inactivo'}"></i>
                  {{ae.Estado == 'Activo' ? '' : 'Activar'}}</a>
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="paginacion-container" *ngIf="AgentesExternos.length > 0">
      <div class="row">
        <div class="col-md-4">
          <p style="font-size:11px;"><b>Mostrando del {{InformacionPaginacion.desde}} al
              {{InformacionPaginacion.hasta}}
              de {{ InformacionPaginacion.total }}</b></p>
        </div>
        <div class="col-md-8">
          <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize"
            [pageSize]="pageSize" size="sm" (pageChange)="ConsultaFiltrada(true)" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modalagenteexterno [AbrirModal]="AbrirModalAgregar.asObservable()" (ActualizarTabla)="ConsultaFiltrada()">
</app-modalagenteexterno>
