<div class="card" [ngClass]="CardClass">
  <div class="card-block" style="padding:5px;">
      <div class="row">
          <div class="col-md-7">
              <h5 class="no-mrg-top" style="color:white;">{{CantidadMostrar}}</h5>
          </div>
          <div class="col-md-5 text-center" style="display:flex; align-items:center;">
              <i class="font-size-20 text-white" [ngClass]="IconoCard"></i>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="text-white" style="padding:5px 0px;">{{TituloCard}}</span>

        </div>
      </div>
  </div>
</div>
