<div class="card" [ngClass]="CardClass">
  <div class="card-block" style="padding:10px;">
      <div class="row">
          <div class="col-md-7">
              <h1 class="no-mrg-top">{{CantidadMostrar}}</h1>
          </div>
          <div class="col-md-5 text-center" style="display:flex; align-items:center;">
              <i class="font-size-30 text-white" [ngClass]="IconoCard"></i>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="text-white">{{TituloCard}}</span>
        </div>
      </div>
  </div>
</div>
