<div class="card" style="margin-bottom:10px;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img 
          class="img-circle img-responsive" 
          src="../../../assets/images/cliente.jpg" 
          alt="funcionario-img">
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-10">
              <div><small> Michael Magthel</small></div>
              <div><small> Oficina Principal Arauquita</small></div>
              <div class="row">
                <div class="col-md-6">
                    <i class="ti-alarm-clock text-info"></i> <small>8:00 am</small>
                </div>
                <div class="col-md-6">
                    <i class="ti-alarm-clock text-danger"></i> <small>8:00 am</small>
                </div>
              </div>
          </div>
          <div class="col-md-2">
              <i class="ti-check text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>