<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Crear Funcionario</h4>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <form #FormFuncionarioCrear="ngForm">
            <form-wizard style="border:0 !important;">
              <!--INICIO INFORMACION PERSONAL-->
              <wizard-step [title]="'Información Personal'">
                <div class="content2">
                  <form #FormInfoFuncionario="ngForm">
                    <div>
                      <h5>Información Personal</h5>
                      <hr>
                      <div class="row">
                        <div class="col-md-3">
                          <div style="text-align: center">
                            <label style="display: block" for="Foto">
                              <img src="assets/images/user.jpg" style="height: 200px;width: 200px; cursor: pointer;"
                                class="thumb-img img-circle img-thumbnail img-responsive" id="foto_visual">
                            </label>
                            <div class="col-md-6">
                              <input name="Foto" id="Foto" [(ngModel)]="funcionario.Foto" type="file" accept="image/png, image/jpeg"
                                class="form-control form-control-sm text-right f-9" style="display: none;" (change)="CargaFoto($event)">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="number" min="0" name="Identificacion_Funcionario" [(ngModel)]="funcionario.Identificacion_Funcionario"
                                  class="form-control form-control-sm f-9" id="identificacion" required 
                                  (blur)="validarIdentificacion($event.target.value)" 
                                  (input)="validarLongitud($event.target.value)" />
                                <label class="floating-label">Identificación (*)</label>

                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" name="Nombres" [(ngModel)]="funcionario.Nombres" class="letras form-control form-control-sm"
                                  id="nombres" (focusout)="boolNombresIP = true" required #nombresInformacionPersonalEd="ngModel" />
                                <label class="floating-label">Nombres (*)</label>

                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" name="Apellidos" [(ngModel)]="funcionario.Apellidos" class="letras form-control form-control-sm"
                                  id="apellidos" (focusout)="boolApellidosIP = true" required
                                  #apellidosInformacionPersonalEd="ngModel" />
                                <label class="floating-label">Apellidos (*)</label>

                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input class="form-control form-control-sm" type="date" name="Fecha_Nacimiento"
                                  [(ngModel)]="funcionario.Fecha_Nacimiento" id="fnac" required (focusout)="boolNacimientoIP = true"
                                  #nacimientoInformacionPersonalEd="ngModel" />
                                <label class="floating-label" for="floating-label">Fecha de Nacimiento: (*)</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input class="form-control form-control-sm" type="text" name="Lugar_Nacimiento"
                                  [(ngModel)]="funcionario.Lugar_Nacimiento" id="lnac" (focusout)="boolLugarNacimientoIP = true"
                                  required #lugarnacimientoInformacionPersonalEd="ngModel" />
                                <label class="floating-label">Lugar de Nacimiento (*)</label>

                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <select class="form-control form-control-sm" name="Tipo_Sangre" [(ngModel)]="funcionario.Tipo_Sangre"
                                  id="sangre" (focusout)="boolTipoSangreIP = true" required
                                  #tiposangreInformacionPersonalEd="ngModel">
                                  <option value="">Seleccione</option>
                                  <option value="O+">O+</option>
                                  <option value="O-">O-</option>
                                  <option value="A+">A+</option>
                                  <option value="A-">A-</option>
                                  <option value="B+">B+</option>
                                  <option value="B-">B-</option>
                                  <option value="AB+">AB+</option>
                                  <option value="AB-">AB-</option>
                                </select>
                                <label class="floating-label">Tipo de sangre (*)</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">

                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <input type="number" name="Telefono" [(ngModel)]="funcionario.Telefono" class="telefono form-control form-control-sm"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolTelefonoIP = true"
                              required #telefonoInformacionPersonalEd="ngModel">
                            <label class="floating-label">Teléfono Fijo</label>

                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <input type="number" name="Celular" [(ngModel)]="funcionario.Celular" class="celular form-control form-control-sm"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolCelularIP = true"
                              required #celularInformacionPersonalEd="ngModel">
                            <label class="floating-label">Celular</label>

                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="email" name="Correo" [(ngModel)]="funcionario.Correo" class="form-control form-control-sm"
                              (focusout)="boolCorreoIP = true" required #correoInformacionPersonalEd="ngModel">
                            <label class="floating-label">Correo electrónico</label>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" name="Direccion_Residencia" [(ngModel)]="funcionario.Direccion_Residencia"
                              class="form-control form-control-sm" id="residencia" (focusout)="boolDireccionIP = true"
                              required #direccionInformacionPersonalEd="ngModel" />
                            <label class="floating-label">Dirección de Residencia (*)</label>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Estado_Civil" [(ngModel)]="funcionario.Estado_Civil"
                              id="civil" (focusout)="boolEstadoCivilIP = true" required #estadocivilInformacionPersonalEd="ngModel">
                              <option value="">Seleccione</option>
                              <option value="Soltero(a)">Soltero(a)</option>
                              <option value="Casado(a)">Casado(a)</option>
                              <option value="Divorciado(a)">Divorciado(a)</option>
                              <option value="Viudo(a)">Viudo(a)</option>
                              <option value="Union Libre">Union Libre</option>
                            </select>
                            <label class="floating-label">Estado Civil (*)</label>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Hijos" [(ngModel)]="funcionario.Hijos" id="hijos"
                              (focusout)="boolHijosIP = true" required #hijosInformacionPersonalEd="ngModel">
                              <option value="">Seleccione</option>
                              <option value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                            <label class="floating-label">Hijos (*)</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Grado_Instruccion" [(ngModel)]="funcionario.Grado_Instruccion"
                              id="educacion" (focusout)="boolGradoIP = true" required #gradoInformacionPersonalEd="ngModel">
                              <option value="">Seleccione</option>
                              <option value="Primarios">Primarios</option>
                              <option value="Secundarios">Secundarios</option>
                              <option value="Tecnicos">Técnicos</option>
                              <option value="Tecnologos">Tecnólogos</option>
                              <option value="Profesionales">Profesionales</option>
                              <option value="Especializacion">Especialización</option>
                              <option value="Maestria">Maestría</option>
                            </select>
                            <label class="floating-label">Grado de instrucción (*)</label>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group">
                            <input type="text" name="Titulo_Estudio" [(ngModel)]="funcionario.Titulo_Estudio" class="letras form-control form-control-sm"
                              id="titulo" (focusout)="boolTituloIP = true" required #tituloInformacionPersonalEd="ngModel" />
                            <label class="floating-label">Nombre del Título (*)</label>

                          </div>
                        </div>
                      </div>
                      <h5>Información Empresa</h5>
                      <hr>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Id_Grupo" [(ngModel)]="funcionario.Id_Grupo"
                              (change)="Dependencia_Grupo($event.target.value)" (focusout)="boolGrupoIP = true"
                              #grupoInformacionPersonalEd="ngModel" required id="grupo">
                              <option value="">Seleccione Grupo</option>
                              <option *ngFor="let Grupo of Grupos" [value]="Grupo.Id_Grupo">{{Grupo.Nombre}}</option>
                            </select>
                            <label class="floating-label">Grupo (*)</label>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Id_Dependencia" [(ngModel)]="funcionario.Id_Dependencia"
                              (change)="Cargo_Dependencia($event.target.value)" id="dependencia" (focusout)="boolDependenciaIP = true"
                              required #dependenciaInformacionPersonalEd="ngModel">
                              <option value="">Seleccione Dependencia</option>
                              <option *ngFor="let Dependencia of Dependencias" [value]="Dependencia.Id_Dependencia">{{Dependencia.Nombre}}</option>
                            </select>
                            <label class="floating-label">Dependencia (*)</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Id_Cargo" [(ngModel)]="funcionario.Id_Cargo"
                              required id="cargo" (focusout)="boolCargoIP = true" #cargoInformacionPersonalEd="ngModel">
                              <option value="">Seleccione Cargo</option>
                              <option *ngFor="let Cargo of Cargos " [value]="Cargo.Id_Cargo">{{Cargo.Nombre}}</option>
                            </select>
                            <label class="floating-label">Cargo (*)</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <input type="number" name="Salario" [(ngModel)]="funcionario.Salario" class="dinero form-control form-control-sm"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolSalarioIP = true"
                              required #salarioInformacionPersonalEd="ngModel" />
                            <label class="floating-label">Salario (*)</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <input class="form-control form-control-sm f-9" type="date" name="Fecha_Ingreso" [(ngModel)]="funcionario.Fecha_Ingreso"
                              (focusout)="boolIngresoIP = true" required #ingresoInformacionPersonalEd="ngModel" />
                            <label for="floating-label">Fecha de Ingreso: (*)</label>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <input class="form-control form-control-sm f-9" name="Saldo_Inicial_Peso" [(ngModel)]="funcionario.Saldo_Inicial_Peso"
                              (focusout)="boolIngresoIP = true" required #ingresoInformacionPersonalEd="ngModel" />
                            <label for="floating-label">Saldo Inicial Peso</label>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <input class="form-control form-control-sm f-9" name="Saldo_Inicial_Bolivar" [(ngModel)]="funcionario.Saldo_Inicial_Bolivar"
                              (focusout)="boolIngresoIP = true" required #ingresoInformacionPersonalEd="ngModel" />
                            <label for="floating-label">Saldo Inicial Bolivar</label>
                          </div>
                        </div>

                      </div>
                      <h5>Dotación</h5>
                      <hr>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Talla_Camisa" [(ngModel)]="funcionario.Talla_Camisa"
                              (focusout)="boolCamisaIP = true" required #camisaInformacionPersonalEd="ngModel">
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                              <option value="XS">XS</option>
                              <option value="S">S</option>
                              <option value="M">M</option>
                              <option value="L">L</option>
                              <option value="XL">XL</option>
                              <option value="XXL">XXL</option>
                              <option value="XXXL">XXXL</option>
                            </select>
                            <label class="floating-label">Talla de Camisa (*)</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Talla_Pantalon" [(ngModel)]="funcionario.Talla_Pantalon"
                              (focusout)="boolPantalonIP = true" required #pantalonInformacionPersonalEd="ngModel">
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                              <option value="0">0</option>
                              <option value="2">2</option>
                              <option value="4">4</option>
                              <option value="6">6</option>
                              <option value="8">8</option>
                              <option value="10">10</option>
                              <option value="12">12</option>
                              <option value="14">14</option>
                              <option value="16">16</option>
                              <option value="18">18</option>
                              <option value="20">20</option>
                              <option value="22">22</option>
                              <option value="24">24</option>
                              <option value="26">26</option>
                              <option value="28">28</option>
                              <option value="30">30</option>
                              <option value="32">32</option>
                              <option value="34">34</option>
                              <option value="36">36</option>
                              <option value="38">38</option>
                              <option value="40">40</option>
                              <option value="42">42</option>
                            </select>
                            <label class="floating-label">Talla de Pantalón (*)</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control form-control-sm" name="Talla_Botas" [(ngModel)]="funcionario.Talla_Botas"
                              (focusout)="boolBotasIP = true" required #botasInformacionPersonalEd="ngModel">
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                              <option value="33">33</option>
                              <option value="34">34</option>
                              <option value="35">35</option>
                              <option value="36">36</option>
                              <option value="37">37</option>
                              <option value="38">38</option>
                              <option value="39">39</option>
                              <option value="40">40</option>
                              <option value="41">41</option>
                              <option value="42">42</option>
                              <option value="43">43</option>
                              <option value="44">44</option>
                              <option value="45">45</option>
                              <option value="46">46</option>
                            </select>
                            <label class="floating-label">Talla de Calzado (*)</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  
                </div>
              </wizard-step>
              <!--FIN INFORMACION PERSONAL-->
              <!--INICIO INFORMACION CONTACTO EMERGENCIA-->
              <wizard-step [title]="'Contacto Emergencia'">
                <div class="content2">
                  <div>
                    <h5>Contacto Emergecia</h5>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="Nombre" [(ngModel)]="contacto_emergencia.Nombre" class="letras form-control form-control-sm"
                            (focusout)="boolNombreCE = true" required #nombreContactoEmergenciaEd="ngModel" />
                          <label class="floating-label">Nombre Completo (*)</label>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" name="Parentesco" [(ngModel)]="contacto_emergencia.Parentesco" class="letras form-control form-control-sm"
                            (focusout)="boolParentescoCE = true" required #parentescoContactoEmergenciaEd="ngModel" />
                          <label class="floating-label">Parentesco (*)</label>

                        </div>
                      </div>
                    </div>
                    <div class="row" id="3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="number" name="Celular" [(ngModel)]="contacto_emergencia.Celular" class="celular form-control form-control-sm"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolCelularCE = true"
                            required #celularContactoEmergenciaEd="ngModel" />
                          <label class="floating-label">Celular</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="number" name="Telefono" [(ngModel)]="contacto_emergencia.Telefono" class="telefono form-control form-control-sm"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolTelefonoCE = true"
                            required #telefonoContactoEmergenciaEd="ngModel" />
                          <label class="floating-label">Teléfono Fijo</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Direccion" [(ngModel)]="contacto_emergencia.Direccion" class="telefono form-control form-control-sm"
                            (focusout)="boolDireccionCE = true" required #direccionContactoEmergenciaEd="ngModel" />
                          <label class="floating-label">Dirección de Residencia</label>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </wizard-step>
              <!--FIN INFORMACION CONTACTO EMERGENCIA-->
              <!--INICIO INFORMACION EXPERIENCIA LABORAL-->
              <wizard-step [title]="'Experiencia Laboral'">
                <div class="content">
                  <div>
                    <h5>Experiencia Laboral 1</h5>
                    <hr>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Nombre_Empresa" [(ngModel)]="experiencia[0].Nombre_Empresa" class="form-control form-control-sm"
                            (focusout)="boolEmpresaEL1 = true" #empresaExperienciaLaboral1Ed="ngModel" />
                          <label class="floating-label">Empresa</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Cargo" [(ngModel)]="experiencia[0].Cargo" class="letras form-control form-control-sm"
                            (focusout)="boolCargoEL1 = true" #cargoExperienciaLaboral1Ed="ngModel" />
                          <label class="floating-label">Cargo</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Jefe" [(ngModel)]="experiencia[0].Jefe" class="letras form-control form-control-sm"
                            (focusout)="boolJefeEL1 = true"  #jefeExperienciaLaboral1Ed="ngModel" />
                          <label class="floating-label">Jefe Inmediato</label>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control form-control-sm" type="date" name="Ingreso_Empresa" [(ngModel)]="experiencia[0].Ingreso_Empresa"
                            (focusout)="boolFechaIngresoEL1 = true"  #fechaingresoExperienciaLaboral1Ed="ngModel" />
                          <label class="floating-label" for="floating-label">Fecha de ingreso:</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control form-control-sm" type="date" name="Retiro_Empresa" [(ngModel)]="experiencia[0].Retiro_Empresa"
                            (focusout)="boolFechaRetiroEL1 = true"  #fecharetiroExperienciaLaboral1Ed="ngModel" />
                          <label class="floating-label" for="floating-label">Fecha de retiro:</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Telefono" [(ngModel)]="experiencia[0].Telefono" class="form-control"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolTelefonoEL1 = true"
                             #telefonoExperienciaLaboral1Ed="ngModel" />
                          <label class="floating-label">Numero de Contacto</label>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea name="Labores" [(ngModel)]="experiencia[0].Labores" class="autosi form-control form-control-sm"
                            cols="5" rows="5" style="overflow: hidden; word-wrap: break-word; resize: vertical;"
                            (focusout)="boolLaboresEL1 = true"  #laboresExperienciaLaboral1Ed="ngModel"></textarea>
                          <label class="floating-label">Tareas Realizadas</label>

                        </div>
                      </div>
                    </div>
                    <h5>Experiencia Laboral 2</h5>
                    <hr>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Nombre_Empresa" [(ngModel)]="experiencia[1].Nombre_Empresa" class="form-control form-control-sm"
                            (focusout)="boolEmpresaEL2 = true"  #empresaExperienciaLaboral2Ed="ngModel" />
                          <label class="floating-label">Empresa</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Cargo" [(ngModel)]="experiencia[1].Cargo" class="letras form-control form-control-sm"
                            (focusout)="boolCargoEL2 = true"  #cargoExperienciaLaboral2Ed="ngModel" />
                          <label class="floating-label">Cargo</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Jefe" [(ngModel)]="experiencia[1].Jefe" class="letras form-control form-control-sm"
                            (focusout)="boolJefeEL2 = true"  #jefeExperienciaLaboral2Ed="ngModel" />
                          <label class="floating-label">Jefe Inmediato</label>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control form-control-sm" type="date" name="Ingreso_Empresa" [(ngModel)]="experiencia[1].Ingreso_Empresa"
                            (focusout)="boolFechaIngresoEL2 = true"  #fechaingresoExperienciaLaboral2Ed="ngModel" />
                          <label class="floating-label" for="floating-label">Fecha de ingreso:</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control form-control-sm" type="date" name="Retiro_Empresa" [(ngModel)]="experiencia[1].Retiro_Empresa"
                            (focusout)="boolFechaRetiroEL2 = true"  #fecharetiroExperienciaLaboral2Ed="ngModel" />
                          <label class="floating-label" for="floating-label">Fecha de retiro:</label>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="Telefono" [(ngModel)]="experiencia[1].Telefono" class="form-control form-control-sm"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolTelefonoEL2 = true"
                             #telefonoExperienciaLaboral2Ed="ngModel" />
                          <label class="floating-label">Número de Contacto</label>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea name="Labores" [(ngModel)]="experiencia[1].Labores" class="autosi form-control form-control-sm"
                            cols="5" rows="5" style="overflow: hidden; word-wrap: break-word; resize: vertical;"
                            (focusout)="boolLaboresEL2 = true"  #laboresExperienciaLaboral2Ed="ngModel"></textarea>
                          <label class="floating-label">Tareas Realizadas</label>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </wizard-step>
              <!--FIN INFORMACION EXPERIENCIA LABORAL-->
              <!--INICIO INFORMACION REFERENCIAS PERSONALES-->
              <wizard-step [title]="'Referencias Personales'">
                <div class="content">
                  <h5>Referencia 1</h5>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" name="Nombres" [(ngModel)]="referencias[0].Nombres" class="letras form-control form-control-sm"
                          (focusout)="boolNombreRP1 = true"  #nombreReferenciasPersonales1Ed="ngModel" />
                        <label class="floating-label" for="codigo">Nombre completo</label>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" name="Profesion" [(ngModel)]="referencias[0].Profesion" class="letras form-control form-control-sm"
                          (focusout)="boolProfesionRP1 = true"  #profesionReferenciasPersonales1Ed="ngModel" />
                        <label class="floating-label" for="codigo">Nombre de la profesión/cargo</label>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" name="Empresa" [(ngModel)]="referencias[0].Empresa" class="form-control form-control-sm"
                          (focusout)="boolEmpresaRP1 = true"  #empresaReferenciasPersonales1Ed="ngModel" />
                        <label class="floating-label" for="codigo">Nombre de la empresa</label>

                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <input type="text" name="Telefono" [(ngModel)]="referencias[0].Telefono" class="celular form-control form-control-sm"
                          onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolTelefonoRP1 = true"
                           #telefonoReferenciasPersonales1Ed="ngModel" />
                        <label class="floating-label" for="codigo">Numero de contacto</label>

                      </div>
                    </div>
                  </div>
                </div>
                <h5>Referencia 2</h5>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" name="Nombres" [(ngModel)]="referencias[1].Nombres" class="letras form-control form-control-sm"
                        (focusout)="boolNombreRP2 = true"  #nombreReferenciasPersonales2Ed="ngModel" />
                      <label class="floating-label" for="codigo">Nombre completo</label>

                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" name="Profesion" [(ngModel)]="referencias[1].Profesion" class="letras form-control form-control-sm"
                        (focusout)="boolProfesionRP2 = true"  #profesionReferenciasPersonales2Ed="ngModel" />
                      <label class="floating-label" for="codigo">Nombre de profesión/cargo</label>

                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" name="Empresa" [(ngModel)]="referencias[1].Empresa" class="form-control form-control-sm"
                        (focusout)="boolEmpresaRP2 = true"  #empresaReferenciasPersonales2Ed="ngModel" />
                      <label class="floating-label" for="codigo">Nombre de empresa</label>

                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <input type="text" name="Telefono" [(ngModel)]="referencias[1].Telefono" class="celular form-control form-control-sm"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57" (focusout)="boolTelefonoRP2 = true"
                         #telefonoReferenciasPersonales2Ed="ngModel" />
                      <label class="floating-label" for="codigo">Numero de contacto</label>

                    </div>
                  </div>
                </div>
              </wizard-step>
              <!--FIN INFORMACION REFERENCIAS PERSONALES-->
              <!--INICIO CUENTAS ASOCIADAS-->
              <wizard-step [title]="'Cuentas Asociadas'">
                <div class="content2">
                  <div>
                    <h5>Cuentas Asociadas</h5>
                    <hr>
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="floating-label">Cuentas Asociadas</label>
                          <ng-select [ngClass]="'ng-select' " class="cuentas" [options]="CuentasBancarias" name="Cuentas_Asociadas" [(ngModel)]="CuentasAsociadas" [multiple]="true"></ng-select>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </wizard-step>
              <!--FIN CUENTAS ASOCIADAS-->
              <!--INICIO INFORMACION PRIVILEGIOS-->
              <wizard-step [title]="'Privilegios'" (onComplete)="GuardarFuncionario(FormFuncionarioCrear)">
                
                <h5>Privilegios</h5>
                <hr>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Perfil</label>
                      <select class="form-control form-control-sm" (change)="AsignarPermisos($event.target.value)" required name="Id_Perfil"
                        ngModel>
                        <option value="">Seleccione</option>
                        <option *ngFor="let Perfil of Perfiles; let i=index" [value]="Perfil.Id_Perfil">{{Perfil.Nombre}}</option>

                      </select>
                    </div>
                  </div>

                </div>

                <div class="row titulo">
                  <div *ngFor="let item of Permisos; let i = index" id="fila{{i}}" class="col-md-3 borde">
                    <h5 class="m-t-15">{{item.Titulo_Modulo}}</h5>

                    <div class="row m-t-20 m-b-10">
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <span class="switch switch-sm">

                                <input type="checkbox" name="Ver{{i}}" id="item.Ver{{i}}" (click)="CambiarVer(i)"
                                  [checked]="item.Ver==='1' ? true : false" class="switch">
                                <!-- <input type="hidden" name="Ver"  [(ngModel)]="item.Ver" value="0" class="switch" >-->
                                <label for="item.Ver{{i}}"></label>
                              </span>
                              <label style="text-align: center; margin-left: 5px;"> Ver</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <span class="switch switch-sm">

                                <input type="checkbox" name="Crear" id="item.Crear{{i}}" [checked]="item.Crear==='1' ? true : false"
                                  class="switch" (click)="CambiarCrear(i)">
                                <label for="item.Crear{{i}}"></label>
                              </span>
                              <label style="text-align: center">Crear</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <span class="switch switch-sm">
                                <input type="checkbox" name="{{item.Modulo}}-Editar" id="{{item.Modulo}}-Editar"
                                  [checked]="item.Editar==='1' ? true : false" class="switch" (click)="CambiarEditar(i)">
                                <label for="{{item.Modulo}}-Editar"></label>
                              </span>
                              <label style="text-align: center">Editar</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <span class="switch switch-sm">
                                <input type="checkbox" name="{{item.Modulo}}-Eliminar" id="{{item.Modulo}}-Eliminar"
                                  [checked]="item.Eliminar==='1' ? true : false" class="switch" (click)="CambiarEliminar(i)">
                                <label for="{{item.Modulo}}-Eliminar"></label>
                              </span>
                              <label style="text-align: center">Eliminar</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row m-t-30">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="pull-right">
                        <button class="btn btn-outline-primary btn-rounded btn-sm"
                          [disabled]="!FormFuncionarioCrear.valid"
                          [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este funcionario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No, Comprobar!'}"
                          (confirm)="GuardarFuncionario(FormFuncionarioCrear)">
                          <i class="ti-save mr-2"></i> Guardar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </wizard-step>
              <!--FIN INFORMACION PRIVILEGIOS-->
            </form-wizard>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el documento" type="error">
</swal>

<swal #saveSwal title="Documento guardado" text="Se ha guardado correctamente el documento" type="success">
</swal>

<swal #deleteSwal title="Caja eliminada" text="Se ha eliminado correctamente la caja" type="success">
</swal>

<swal #confirmacionSwal title="" text="" type=""></swal>