<div class="container-fluid">
    <div class="page-title">
      <h4 class="pull-left">Crear Funcionario</h4>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
              <form-wizard style="border:0 !important;">
                  <wizard-step [title]="'Información Personal'">
                      <div class="row" >
                        <div class="col-md-4">
                          <div class="form-group">
                             <input type="number"  min="0" name="funcionario[Identificacion_Funcionario]" class="form-control" id="identificacion" required />
                             <label class="floating-label" >Identificación (*)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                             <input type="text" name="funcionario[Nombres]" class="letras form-control" id="nombres" required />
                             <label class="floating-label" >Nombres (*)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                             <input type="text"  name="funcionario[Apellidos]" class="letras form-control" id="apellidos" required />
                             <label class="floating-label" >Apellidos (*)</label>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                          <div class="form-group">
                            <input class="form-control" type="date" name="funcionario[Fecha_Nacimiento]" id="fnac" required />
                            <label for="text-input">Fecha de Nacimiento: (*)</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                             <input class="form-control" type="text" name="funcionario[Lugar_Nacimiento]"  id="lnac" required />
                           <label class="floating-label" >Lugar de Nacimiento (*)</label> 
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Tipo_Sangre]"  id="sangre" required >
                              <option value="">Seleccione</option>
                              <option value="O+">O+</option> 
                              <option value="O-">O-</option> 
                              <option value="A+">A+</option>
                              <option value="A-">A-</option> 
                              <option value="B+">B+</option>
                              <option value="B-">B-</option> 
                              <option value="AB+">AB+</option>
                              <option value="AB-">AB-</option> 
                            </select>
                             <label class="floating-label" >Tipo de sangre (*)</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                          
                        </div>
                        
                        <div class="col-md-3">
                          <div class="form-group">
                             <input  type="text" name="funcionario[Telefono]" class="telefono form-control">
                             <label class="floating-label" >Teléfono Fijo</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                             <input  type="text" name="funcionario[Celular]" class="celular form-control">
                             <label class="floating-label" >Celular</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                             <input  type="email" name="funcionario[Correo]" class="form-control">
                             <label class="floating-label" >Correo electrónico</label>
                            </div>
                        </div>
                      </div>
                      <div class="row" > 
                        <div class="col-md-12">
                          <div class="form-group">
                             <input  type="text" name="funcionario[Direccion_Residencia]" class="form-control"  id="residencia" required />
                             <label class="floating-label" >Dirección de Residencia (*)</label>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Estado_Civil]"  id="civil" required> 
                              <option value="">Seleccione</option>
                              <option value="Soltero(a)">Soltero(a)</option>
                              <option value="Casado(a)">Casado(a)</option>
                              <option value="Divorciado(a)">Divorciado(a)</option>
                              <option value="Viudo(a)">Viudo(a)</option>
                              <option value="Union Libre">Union Libre</option>
                           </select>
                             <label class="floating-label" >Estado Civil (*)</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Hijos]" required  id="hijos" >
                              <option value="">Seleccione</option>
                              <option value="0">0</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                             <label class="floating-label" >Hijos (*)</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                             <select class="form-control"  name="funcionario[Grado_Instruccion]"  required  id="educacion">
                              <option value="">Seleccione</option>
                              <option value="Primarios">Primarios</option>
                              <option value="Secundarios">Secundarios</option>
                              <option value="Tecnicos">Técnicos</option>
                              <option value="Tecnologos">Tecnólogos</option>
                              <option value="Profesionales">Profesionales</option>
                              <option value="Especializacion">Especialización</option>
                              <option value="Maestria">Maestría</option>
                            </select>
                             <label class="floating-label" >Grado de instrucción (*)</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group">
                               <input type="text" name="funcionario[Titulo_Estudio]" class="letras form-control" required  id="titulo"/>
                               <label class="floating-label" >Nombre del Título (*)</label>
                          </div>
                        </div>
                      </div>
                      <h5>Información Empresa</h5><hr>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                              <select class="form-control" name="funcionario[Id_Grupo]"  required  id="grupo">
                                <option value="">Seleccione</option>
                              </select>
                               <label class="floating-label" >Perfil (*)</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                              <select class="form-control" name="funcionario[Id_Cargo]"  required  id="cargo">
                                <option value="">Seleccione Cargo</option>
                              </select>
                               <label class="floating-label" >Cargo(*)</label>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                          <div class="form-group">
                              <select class="form-control" name="funcionario[Id_Proceso]"  required  id="proceso">
                                <option value="">Seleccione Proceso</option>
                              </select>
                               <label class="floating-label" >Proceso (*)</label>
                            </div>
                        </div> -->
                        <div class="col-md-2">
                          <div class="form-group">
                             <input type="text" name="funcionario[Salario]"  class="dinero form-control" required  id="salario" />
                             <label class="floating-label" >Salario (*)</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <input class="form-control" type="date" name="funcionario[Fecha_Ingreso]" required  id="ingreso" />
                            <label for="text-input">Fecha de Ingreso: (*)</label>
                            
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                              <select class="form-control" name="funcionario[Tipo_Turno]"  required  id="tipo_turno">
                                <option value="">Seleccione</option>
                                <option>Rotativo</option>
                                <option>Fijo</option>
                                <option>Mixto</option>
                                <option>Libre</option>
                              </select>
                               <label class="floating-label" >Tipo Turno (*)</label>
                            </div>
                        </div>
                        <div class="col-md-6" id="turno_div" style="display:none;">
                          <div class="form-group">
                              <select class="form-control" name="funcionario[Id_Turno]" id="turno">
                                <option value="0">Seleccione</option>
                              </select>
                               <label class="floating-label" >Turno (*)</label>
                            </div>
                        </div>
                        
                        <!--<div class="col-md-6" id="lider_div" style="display:none;">
                          <div class="form-group">
                              <select class="form-control" name="funcionario[Lider_Grupo]" id="lider_grupo" disabled>
                                <option value="">Seleccione</option>
                                <option value="91349408">Juan Carlos Correa Balaguera</option>
                                <option value="1099207252">Johan Manuel Guayacundo Herreño</option>
                                <option value="1098788848">Daniel Eduardo Cabra Luna</option> 
                              </select>
                               <label class="floating-label" >Lider de Grupo (*)</label>
                            </div>
                        </div> -->
                        
                      </div>
                      <h5>Dotación</h5><hr>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Talla_Camisa]" required  id="camisa" >
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                              <option value="XS">XS</option>
                              <option value="S">S</option>
                              <option value="M">M</option>
                              <option value="L">L</option>
                              <option value="XL">XL</option>
                              <option value="XXL">XXL</option>
                              <option value="XXXL">XXXL</option>
                            </select>
                             <label class="floating-label" >Talla de Camisa (*)</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Talla_Pantalon]" required  id="pantalon" >
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                            </select>
                             <label class="floating-label" >Talla de Pantalón (*)</label>
                            </div>
                        </div>
                        <!--<div class="col-md-3">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Talla_Bata]" required  id="bata" />
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                              <option value="XS">XS</option>
                              <option value="S">S</option>
                              <option value="M">M</option>
                              <option value="L">L</option>
                              <option value="XL">XL</option>
                              <option value="XXL">XXL</option>
                              <option value="XXXL">XXXL</option>
                            </select>
                             <label class="floating-label" >Talla de Bata (*)</label>
                            </div>
                        </div> -->
                        <div class="col-md-3">
                          <div class="form-group">
                             <select class="form-control" name="funcionario[Talla_Botas]" required  id="botas" >
                              <option value="">Seleccione</option>
                              <option value="NA">N/A</option>
                            </select>
                             <label class="floating-label" >Talla de Calzado (*)</label>
                            </div>
                        </div>
                      </div>
                  </wizard-step>
                  <wizard-step [title]="'Contacto Emergencia'" (onNext)="onStep2Next($event)">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" name="contacto_emergencia[Nombre]" class="letras form-control" required/>
                            <label class="floating-label" >Nombre Completo (*)</label>
                            </div>
                          </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="text" name="contacto_emergencia[Parentesco]"class="letras form-control" required />
                            <label class="floating-label" >Parentesco (*)</label>
                            </div>
                        </div>
                      </div>
                      <div class="row" id="3">
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" name="contacto_emergencia[Celular]" class="celular form-control"/>
                            <label class="floating-label" >Celular</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" name="contacto_emergencia[Telefono]" class="telefono form-control"/>
                            <label class="floating-label" >Teléfono Fijo</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" name="contacto_emergencia[Direccion]" class="telefono form-control"/>
                            <label class="floating-label" >Dirección de Residencia</label>
                            </div>
                        </div>
                      </div>
                  </wizard-step>
                  <wizard-step [title]="'Experiencia Laboral'" (onNext)="onStep3Next($event)">
                      
                      <h5>Experiencia Laboral 1</h5><hr>
                      <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <input type="text" name="experiencia[0][Nombre_Empresa]" id="text-input" class="form-control"/>
                              <label class="floating-label" >Empresa</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <input type="text" name="experiencia[0][Cargo]" id="text-input" class="letras form-control"/>
                              <label class="floating-label" >Cargo</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <input type="text" name="experiencia[0][Jefe]" id="text-input" class="letras form-control"/>
                              <label class="floating-label" >Jefe Inmediato</label>
                            </div>
                          </div>
                      </div>
                      <div class="row" id="experiencia0">
                          <div class="col-md-4">
                            <div class="form-group">
                              <input class="form-control" type="date" name="experiencia[0][Ingreso_Empresa]"/>
                              <label for="text-input">Fecha de ingreso:</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <input class="form-control" type="date" name="experiencia[0][Retiro_Empresa]"/>
                              <label for="text-input">Fecha de retiro:</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <input type="text" name="experiencia[0][Telefono]" id="text-input" class="celular form-control"/>
                              <label class="floating-label" >Numero de Contacto</label>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12" >
                            <div class="form-group">
                              <textarea name="experiencia[0][Labores]" class="autosi form-control" cols="5" rows="5" style="overflow: hidden; word-wrap: break-word; resize: vertical;"></textarea>
                              <label class="floating-label" >Tareas Realizadas</label>
                            </div>
                          </div>
                      </div>
                      <h5>Experiencia Laboral 2</h5><hr>
                      <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="experiencia[1][Nombre_Empresa]" id="text-input" class="form-control"/>
                          <label class="floating-label" >Empresa</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="experiencia[1][Cargo]" id="text-input" class="letras form-control"/>
                          <label class="floating-label" >Cargo</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" name="experiencia[1][Jefe]" id="text-input" class="letras form-control"/>
                          <label class="floating-label" >Jefe Inmediato</label>
                        </div>
                      </div>
                      </div>
                      <div class="row" id="experiencia1">
                        <div class="col-md-4">
                          <div class="form-group">
                            <input class="form-control" type="date" name="experiencia[1][Ingreso_Empresa]"/>
                            <label for="text-input">Fecha de ingreso:</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input class="form-control" type="date" name="experiencia[1][Retiro_Empresa]"/>
                            <label for="text-input">Fecha de retiro:</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <input type="text" name="experiencia[1][Telefono]" id="text-input" class="celular form-control"/>
                            <label class="floating-label" >Numero de Contacto</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" >
                          <div class="form-group">
                            <textarea name="experiencia[1][Labores]" class="autosi form-control" cols="5" rows="5" style="overflow: hidden; word-wrap: break-word; resize: vertical;"></textarea>
                            <label class="floating-label" >Tareas Realizadas</label>
                          </div>
                        </div>
                      </div>
                  </wizard-step>
                  <wizard-step [title]="'Referencias Personales'" (onComplete)="onComplete($event)">
                      
                          <h5>Referencia 1</h5><hr>
                          <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                              <input type="text" name="referencias[0][Nombres]" id="text-input" class="letras form-control" />
                              <label class="floating-label" for="codigo">Nombre completo</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                              <input type="text" name="referencias[0][Profesion]" id="text-input" class="letras form-control" />
                              <label class="floating-label" for="codigo">Nombre de la profesión/cargo</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                              <input type="text" name="referencias[0][Empresa]" id="text-input" class="form-control" />
                              <label class="floating-label" for="codigo">Nombre de la empresa</label>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                              <input type="text" name="referencias[0][Telefono]" id="text-input" class="celular form-control" />
                              <label class="floating-label" for="codigo">Numero de contacto</label>
                          </div>
                        </div>
                      </div>
                        <h5>Referencia 2</h5><hr>
                        <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                              <input type="text" name="referencias[1][Nombres]" id="text-input" class="letras form-control" />
                              <label class="floating-label" for="codigo">Nombre completo</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                              <input type="text" name="referencias[1][Profesion]" id="text-input" class="letras form-control" />
                              <label class="floating-label" for="codigo">Nombre de profesión/cargo</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                              <input type="text" name="referencias[1][Empresa]" id="text-input" class="form-control" />
                              <label class="floating-label" for="codigo">Nombre de empresa</label>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                              <input type="text" name="referencias[1][Telefono]" id="text-input" class="celular form-control" />
                              <label class="floating-label" for="codigo">Numero de contacto</label>
                          </div>
                        </div>
                      </div>
                  </wizard-step>
              </form-wizard>
          </div>
        </div>
      </div>
    </div>
</div>