    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="tab-success">

            <div class="card-body">
              <h5>Últimos Cambios Registrados</h5>
              <table class="table table-striped table-sm table-bordered">
                <thead class="rounded">
                  <tr>
                    <th class="custom-thead">Hora</th>
                    <th class="custom-thead">Corresponsal</th>
                    <th class="custom-thead">Monto Consignaciones</th>
                    <th class="custom-thead">Monto Retiros</th>
                    <th class="custom-thead">Total Consignado</th>
                  </tr>
                  <tr>

                    <th class="table-filters"></th>
                    <th class="table-filters"></th>
                    <th class="table-filters"></th>
                    <th class="table-filters"></th>
                    <th class="table-filters"></th>

                    <!-- <tr *ngIf="Cargando">
                    <td colspan="5" class="text-center">
                      <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
                        <h2>CARGANDO REGISTROS DE CORRESPONSALES DIARIOS</h2>
                        <img src="{{RutaGifCargando}}" style="width:250px;" alt="CARGANDO">
                      </div>
                    </td>
                  </tr> -->

                  <tr *ngIf="RegistrosCorresponsales.length == 0 ">
                    <td colspan="5" class="text-center">
                      <i class="ti-alert font-size-20 text-warning"></i>
                      <h4>No se han registrado datos de corresponsales hoy!</h4>
                    </td>
                  </tr>

                </thead>
                <tbody *ngIf="!Cargando">
                  <tr
                    *ngFor="let cd of RegistrosCorresponsales  | paginate: {  id: 'corresponsales', itemsPerPage: pageSize, currentPage: page, totalItems: TotalItems}">
                    <td class=" text-center">{{cd.Hora}}</td>
                    <td class="text-center">{{cd.Nombre}}</td>
                    <td class=" text-right">{{cd.Consignacion | customcurrency}}</td>
                    <td class=" text-right">{{cd.Retiro | customcurrency}}</td>
                    <td class=" text-right">{{cd.Total_Corresponsal | customcurrency}}</td>
                  </tr>
                </tbody>
              </table>
              <div id="paginacion-container" *ngIf="RegistrosCorresponsales.length > 0">
                <div class="row">
                  <div class="col-md-12">

                    <pagination-controls id="corresponsales" (pageChange)="page = $event " previousLabel="Anterior"
                      nextLabel="Siguiente" responsive="true">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
