<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Información Giros</h4>
  </div>
  <div class="clearfix"></div>
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <button class="pull-right btn btn-info" (click)="ModalRemitente.show()">
            <i class="ti-plus"></i> Agregar Nuevo Remitente</button>
          <div class="table-responsive">
            <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Telefono</th>
                  <th>Celular</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let GiroRemitente of GirosRemitentes" class=" {{GiroRemitente.Estado == 'Inactivo' ? 'bg-danger text-white' : '' }} ">
                  <td>{{GiroRemitente.Documento_Remitente}}</td>
                  <td>{{GiroRemitente.Nombre}}</td>
                  <td>{{GiroRemitente.Apellido}}</td>
                  <td>{{GiroRemitente.Telefono}}</td>
                  <td>{{GiroRemitente.Celular}}</td>
                  <td>
                    <button class="btn btn-default btn-xs" type="button" (click)="EditarGiro(GiroRemitente.Documento_Remitente,  'Remitente')"
                      style="margin:0;">
                      <i class="ti-pencil"></i>
                    </button>

                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a activar/inactivar este remitente' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Activar/Inactivar', cancelButtonText : 'No, Dejame Comprobar!' }"
                      (confirm)="EliminarGiro(GiroRemitente.Documento_Remitente,'remitente',GiroRemitente.Estado)">
                      <i class="ti-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <button class="pull-right btn btn-info" (click)="ModalDestinatario.show()">
            <i class="ti-plus"></i> Agregar Nuevo Destinatario</button>
          <div class="table-responsive">
            <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Telefono</th>
                  <th>Celular</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let GiroDestinatario of GirosDestinatarios" class=" {{GiroDestinatario.Estado == 'Inactivo' ? 'bg-danger text-white' : '' }} ">
                  <td>{{GiroDestinatario.Documento_Destinatario}}</td>
                  <td>{{GiroDestinatario.Nombre}}</td>
                  <td>{{GiroDestinatario.Apellido}}</td>
                  <td>{{GiroDestinatario.Telefono}}</td>
                  <td>{{GiroDestinatario.Celular}}</td>
                  <td>
                    <button class="btn btn-default btn-xs" type="button" (click)="EditarGiro(GiroDestinatario.Documento_Destinatario,  'Destinatario')"
                      style="margin:0;">
                      <i class="ti-pencil"></i>
                    </button>

                    <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a activar/inactivar este remitente' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Activar/Inactivar', cancelButtonText : 'No, Dejame Comprobar!' }"
                      (confirm)="EliminarGiro(GiroDestinatario.Documento_Destinatario,'destinatario',GiroDestinatario.Estado)">
                      <i class="ti-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalRemitente" #ModalRemitente>
  <div class="app-modal-header">
    <h4>Nuevo Remitente</h4>
  </div>
  <div class="app-modal-body">
    <form #FormRemitente="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Identificacion</label>
            <input type="Number" placeholder="Identificacion Remitente" class="form-control" name="Documento_Remitente" ngModel>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre Remitente" class="form-control" name="Nombre" ngModel>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" placeholder="Apellido" class="form-control" name="Apellido" ngModel>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Telefono</label>
            <input type="Celular" placeholder="Telefono" class="form-control" name="Telefono" ngModel>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Celular</label>
            <input type="Celular" placeholder="Telefono" class="form-control" name="Celular" ngModel>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-sm" [swal]="{title : '¿Está Seguro?', text: 'Se dispone guardar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarGiro(FormRemitente, ModalRemitente,'Giro_Remitente','Remitente')">Guardar</button>
    </div>
  </div>
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarRemitente" #ModalEditarRemitente>
  <div class="app-modal-header">
    <h4>Editar Remitente</h4>
  </div>
  <div class="app-modal-body">
    <form #FormEditarRemitente="ngForm">
      <div class="col-md-4">
        <div class="form-group" hidden>
          <label>Identificación</label>
          <input name="id" readonly type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre Remitente" class="form-control" name="Nombre" ngModel="{{GiroEditar.Nombre}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" placeholder="Apellido" class="form-control" name="Apellido" ngModel="{{GiroEditar.Apellido}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Telefono</label>
            <input type="number" placeholder="Telefono" class="form-control" name="Telefono" ngModel="{{GiroEditar.Telefono}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Celular</label>
            <input type="number" placeholder="Celular" class="form-control" name="Celular" ngModel="{{GiroEditar.Celular}}">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button class="btn btn-primary btn-sm" type="button" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este Remitente' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarGiro(FormEditarRemitente, ModalEditarRemitente,'Giro_Remitente','Remitente')">Guardar</button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalDestinatario" #ModalDestinatario>
  <div class="app-modal-header">
    <h4>Nuevo Destinatario</h4>
  </div>
  <div class="app-modal-body">
    <form #FormDestinatario="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Identificacion</label>
            <input type="Number" placeholder="Identificacion Destinatario" class="form-control" name="Documento_Destinatario" ngModel>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre Destinatario" class="form-control" name="Nombre" ngModel>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" placeholder="Apellido" class="form-control" name="Apellido" ngModel>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Telefono</label>
            <input type="number" placeholder="Telefono" class="form-control" name="Telefono" ngModel>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Celular</label>
            <input type="number" placeholder="Celular" class="form-control" name="Celular" ngModel>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-sm" [swal]="{title : '¿Está Seguro?', text: 'Se dispone guardar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarGiro(FormDestinatario, ModalDestinatario,'Giro_Destinatario','Destinatario')">Guardar</button>
    </div>
  </div>
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarDestinatario" #ModalEditarDestinatario>
  <div class="app-modal-header">
    <h4>Editar Destinatario</h4>
  </div>
  <div class="app-modal-body">
    <form #FormEditarDestinatario="ngForm">
      <div class="col-md-4">
        <div class="form-group" hidden>
          <label>Identificación</label>
          <input name="id" readonly type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre Destinatario" class="form-control" name="Nombre" ngModel="{{GiroEditar.Nombre}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" placeholder="Apellido" class="form-control" name="Apellido" ngModel="{{GiroEditar.Apellido}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Telefono</label>
            <input type="number" placeholder="Telefono" class="form-control" name="Telefono" ngModel="{{GiroEditar.Telefono}}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Celular</label>
            <input type="number" placeholder="Celular" class="form-control" name="Celular" ngModel="{{GiroEditar.Celular}}">
          </div>
        </div>
      </div>


    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button class="btn btn-primary btn-sm" type="button" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este Destinatario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
        (confirm)="GuardarGiro(FormEditarDestinatario, ModalEditarDestinatario,'Giro_Destinatario','Destinatario')">Guardar</button>
    </div>
  </div>
</app-modal-basic>