<div class="container-fluid">
  <!-- <div class="page-title">
    <h4 class="pull-left">Información Giros</h4>
  </div> -->
  <!-- <div class="clearfix"></div> -->
  <div class="row">

    <div class="col-md-6">
      <!-- <div class="card"> -->
        <app-tablaremitentegiro></app-tablaremitentegiro>
      <!-- </div> -->
    </div>

    <div class="col-md-6">
      <!-- <div class="card"> -->
        <app-tabladestinatariogiro></app-tabladestinatariogiro>
      <!-- </div> -->
    </div>

  </div>
</div>
