<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <label>Balance General </label>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 mb-4" id="filter-container">
                      <div class="row">
                        <div class="col-md-4" style="display:flex; align-items: center;">
                          <i class="ti-info-alt text-info font-size-15" style="margin-right:4px;"></i>
                          <span>{{CajerosAbiertos}} Cajeros abrieron de {{CajerosTotales}} totales</span>
                        </div>
                        <div class="col-md-8">
                          <div class="pull-right">
                            <div class="form-row align-items-center">
                              <div class="col-auto">
                                <input type="date" placeholder="Escoja fecha" class="form-control form-control-sm"
                                  [(ngModel)]="Fecha_Consulta" (change)="onDataChange()" [attr.max]="FechaActual">

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="Totales.length > 0">
                    <div class="col-md-12" style="margin-top: 15px;" *ngFor="let t of Totales">
                      <table class="table" style="margin-bottom: 0 !important;">
                        <thead>
                          <tr>
                            <th style="width: 40%; padding: 0;border: none;">
                              <span class="font-size-17 font-weight-bold" style="color: black;">{{t.Nombre}}</span>
                            </th>
                            <th *ngFor="let tm of t.Totales" class="text-right font-weight-bold font-size-17"
                              style="width:80px !important;max-width:80px !important; padding: 0 12px 0 0;border: none;color: black;">
                              {{tm.Total | customcurrency:tm.Codigo}}
                            </th>
                          </tr>
                        </thead>
                      </table>

                      <table class="table table-striped table-bordered" *ngFor="let o of t.Oficinas">
                        <thead>
                          <tr class="alert-primary">
                            <th style="width: 40%;font-weight: normal;" class="custom-th text-uppercase ">{{o.Nombre}}</th>
                            <th *ngFor="let tmo of o.Totales" class="text-right" appColorsaldo [value]="tmo.Total"
                              style="width:80px !important;max-width:80px !important;">
                              {{tmo.Total | customcurrency:tmo.Codigo}}
                            </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="o.Cajeros.length > 0">
                          <tr *ngFor="let c of o.Cajeros">
                            <td class="custom-td text-uppercase" style="padding-left: 30px; ">{{c.Nombre}}</td>
                            <td *ngFor="let tmc of c.Totales" appColorsaldo [value]="tmc.Total" class="text-right"
                              style="max-width:80px !important;">
                              {{tmc.Total | customcurrency:tmc.Codigo}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row" *ngIf="Totales.length == 0">
                    <div class="col-md-12 text-center">
                      <i class="ti-alert font-size-20 text-warning"></i>
                      <h4>No hay datos para mostrar!</h4>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" id="funcionarios-container">
              <app-funcionarioactivos [Fecha_Consulta]="Fecha_Consulta">
              </app-funcionarioactivos>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<swal #alertSwal type="" title="" text=""></swal>

<!-- <app-tablerocajeroprincipal></app-tablerocajeroprincipal> -->
