<div class="container-fluid">
  <div class="page-title">

  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="row mrg-top-35">
            <div class="col-md-12">
              <canvas baseChart height="150" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="pull-left">Egresos</h4>
          <button class="pull-right btn btn-info" (click)="ModalEgreso.show()">
            <i class="ti-plus"></i>Nuevo Egreso</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-sm table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Funcionario</th>
                  <th>Grupo</th>
                  <th>Tercero</th>
                  <th>Moneda</th>
                  <th>Valor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- class=" {{Egreso.Estado == 'Desactivado' ? 'bg-danger text-white' : '' }} -->
                <tr *ngFor="let Egreso of Egresos " class=" {{Egreso.Estado == 'Inactivo' ? 'bg-danger text-white' : '' }}" >
                  <td>{{Egreso.Codigo}}</td>
                  <td>{{Egreso.Funcionario}}</td>
                  <td>{{Egreso.Grupo}}</td>
                  <td>{{Egreso.Nombre}}</td>
                  <td>{{Egreso.Moneda}}</td>
                  <td>{{Egreso.Valor}}</td>
                  <td class="text-center">
                    
                    <button class="btn btn-default btn-xs" type="button" (click)="VerEgreso(Egreso.Id_Egreso, ModalVerEgreso)"
                      style="margin:0;">
                      <i class="ti-search"></i>
                    </button>

                    <button class="btn btn-default btn-xs" type="button" (click)="EditarEgreso(Egreso.Id_Egreso)"
                      style="margin:0;">
                      <i class="ti-pencil"></i>
                    </button>

                    <button class="btn btn-default btn-xs" type="button" (click)="AnularEgreso(Egreso.Id_Egreso,Egreso.Estado)"
                    style="margin:0;">
                    <i class="ti-trash"></i>
                  </button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEgreso" #ModalEgreso>
  <div class="app-modal-header">
    <h4>Nuevo Egreso</h4>
  </div>
  <div class="app-modal-body">
    <form #FormEgreso="ngForm">
      <div class="col-md-4" hidden>
        <div class="form-group">
          <label>Identificación</label>
          <input name="Identificacion_Funcionario" type="text" class="form-control" ngModel="{{IdentificacionFuncionario}}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Grupo</label>
            <select class="form-control" name="Id_Grupo" ngModel (change)="ListaTerceros($event.target.value)" required>
              <option value="">Seleccione un grupo</option>
              <option *ngFor="let Grupo of Grupos" value="{{Grupo.Id_Grupo}}">{{Grupo.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Tercero</label>
            <select class="form-control" name="Id_Tercero" ngModel required>
              <option value="">Seleccione un tercero</option>
              <option *ngFor="let Tercero of Terceros" value="{{Tercero.Id_Tercero}}">{{Tercero.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Moneda</label>
            <select class="form-control" name="Moneda" ngModel required>
              <option value="">Seleccione una moneda</option>
              <option *ngFor="let Moneda of Monedas" value="{{Moneda.Nombre}}">{{Moneda.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Valor</label>
            <input currencyMask name="Valor" ngModel=0 class="form-control" placeholder="Valor" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
              required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Detalles</label>
            <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="text-right">
      <button type="submit" class="btn btn-primary" [swal]="{title : '¿Está seguro?', text: 'Se dispone a guardar esta información' , type : 'warning', showCancelButton : true , confirmButtonText: 'Sí, Guardar',cancelButtonText: '¡No, déjame comprobar!'}"
        (confirm)="GuardarEgreso(FormEgreso, ModalEgreso)">Guardar Información</button>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEgresoEditar" #ModalEgresoEditar>
    <div class="app-modal-header">
      <h4>Editar Egreso</h4>
    </div>
    <div class="app-modal-body">
      <form #FormEgreso="ngForm">
          <div class="col-md-4" hidden>
              <div class="form-group">
                <input name="id" type="text" class="form-control" ngModel="{{IdEgreso}}">
              </div>
            </div>
        <div class="col-md-4" hidden>
          <div class="form-group">
            <label>Identificación</label>
            <input name="Identificacion_Funcionario" type="text" class="form-control" ngModel="{{IdentificacionFuncionario}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Grupo</label>
              <select class="form-control" name="Id_Grupo" ngModel="{{EgresoEditar.Id_Grupo}}" (change)="ListaTerceros($event.target.value)" required>
                <option value="">Seleccione un grupo</option>
                <option *ngFor="let Grupo of Grupos" value="{{Grupo.Id_Grupo}}">{{Grupo.Nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Tercero</label>
              <select class="form-control" name="Id_Tercero" ngModel="{{EgresoEditar.Id_Tercero}}" required>
                <option value="">Seleccione un tercero</option>
                <option *ngFor="let Tercero of Terceros" value="{{Tercero.Id_Tercero}}">{{Tercero.Nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Moneda</label>
              <select class="form-control" name="Moneda" ngModel="{{EgresoEditar.Moneda}}" required>
                <option value="">Seleccione una moneda</option>
                <option *ngFor="let Moneda of Monedas" value="{{Moneda.Nombre}}">{{Moneda.Nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Valor</label>
              <input currencyMask name="Valor" ngModel="{{EgresoEditar.Valor}}" class="form-control" placeholder="Valor" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Detalles</label>
              <textarea class="form-control" placeholder="Detalles de Cuenta Bancaria" name="Detalle" ngModel="{{EgresoEditar.Detalle}}"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <div class="text-right">
        <button type="submit" class="btn btn-primary" [swal]="{title : '¿Está seguro?', text: 'Se dispone a guardar esta información' , type : 'warning', showCancelButton : true , confirmButtonText: 'Sí, Guardar',cancelButtonText: '¡No, déjame comprobar!'}"
          (confirm)="GuardarEgreso(FormEgreso, ModalEgresoEditar)">Guardar Información</button>
      </div>
    </div>
  </app-modal-basic>

<swal #confirmacionSwal title="" text="" type=""></swal>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar la información" type="error">
</swal>

<swal #deleteSwal title="Traslado Anulado" text="Se ha anulado Correctamente la información" type="success">
</swal>