<style>
  #chartdiv {
    width: 100%;
    height: 250px;
  }
</style>
<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Flujo de efectivo</h4>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5>Filtros</h5>
          <hr>
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Fecha</label>
                <input type="date" id="fecha" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Oficinas</label>
                <select name="Oficinas" id="oficinas" class="form-control">
                  <option value="">Seleccion</option>
                  <option *ngFor="let o of Oficinas" [value]="o.Id_Oficina">{{o.Nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Cajas</label>
                <select name="Cajas" id="cajas" class="form-control">
                  <option value="">Seleccion</option>
                  <option *ngFor="let c of Cajas" [value]="c.Id_Caja">{{c.Nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Cajero</label>
                <select name="Cajero" id="cajero" class="form-control">
                  <option value="">Seleccion</option>
                  <option *ngFor="let ca of Cajeros" [value]="ca.Id_Cajero">{{ca.Nombre}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">  
        <div class="card">
          <div class="card-body">
            <div style="display: block;">
              <canvas baseChart style="height: 200px;"
                [datasets]="lineChartData" 
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
            </div>
          </div>
        </div>
      </div>
  </div>