<style>
  #chartdiv {
    width: 100%;
    height: 250px;
  }
</style>
<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Flujo de efectivo</h4>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5>Filtros</h5>
          <hr>
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Mes</label>
                <select name="Mes" id="mes" class="form-control" (change)="SetMesNumerico($event.target.value)" [(ngModel)]="Filtros.mes">
                  <option *ngFor="let me of Meses" [value]="me">{{me}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Departamento</label>
                <select name="Departamento" id="departamento" class="form-control" (change)="GetOficinasDepartamento()" [(ngModel)]="Filtros.departamento">
                  <option value="">Todos</option>
                  <option *ngFor="let d of Departamentos" [value]="d.Id_Departamento">{{d.Nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Oficinas</label>
                <select name="Oficinas" id="oficinas" (change)="GetCajasOficina()" class="form-control" [(ngModel)]="Filtros.oficina" [disabled]="Filtros.departamento == ''">
                  <option value="">Todas</option>
                  <option *ngFor="let o of Oficinas" [value]="o.Id_Oficina">{{o.Nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Cajas</label>
                <select name="Cajas" id="cajas" class="form-control" (change)="GetResumenFlujoEfectivo()" [(ngModel)]="Filtros.caja"  [disabled]="Filtros.oficina == ''">
                  <option value="">Todas</option>
                  <option *ngFor="let c of Cajas" [value]="c.Id_Caja">{{c.Nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Cajero</label>
                <select name="Cajero" id="cajero" class="form-control" [(ngModel)]="Filtros.cajero" [disabled]="Filtros.caja == ''">
                  <option value="">Todos</option>
                  <option *ngFor="let ca of Cajeros" [value]="ca.Id_Cajero">{{ca.Nombre}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">  
      <div class="card">
        <div class="card-body">
          <div style="display: block;">
            <canvas baseChart style="height: 200px;"
              [datasets]="lineChartData" 
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>