<div class="container-fluid">
  <div class="page-title">
    <h4 class="block-element text-center">Balance General</h4>
    <div class="row">
      <div class="col-md" *ngFor="let tg of TotalGeneral">
        <app-informativetotalmonedatercerocard [SaldoMoneda]="tg.Totales" [CodigoMoneda]="tg.Codigo"
          [NombreMoneda]="tg.Moneda" CardClass="bg-info">
        </app-informativetotalmonedatercerocard>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card mb-0" *ngFor="let item of ListaBalance; let i = index">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne{{i}}" aria-expanded="true"
                aria-controls="collapseOne{{i}}">
                <h5 class="mb-0">
                  <i class="fa fa-users text-info"></i> {{ item.Nombre }} <i class="fa fa-angle-down rotate-icon"></i>
                  <div style="display:inline-block;" class="pull-right">
                    <table class="table">
                      <thead>
                      </thead>
                      <tbody>
                        <tr>
                          <td *ngFor="let tg of item.Totales_Grupo; let ind = index"
                            style="border: 1px solid #929292; font-size: 0.8em !important; padding: 2px  5px !important;">
                            {{ tg.Totales | customcurrency:tg.Codigo }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne{{i}}" class="collapse " role="tabpanel" aria-labelledby="headingOne{{i}}"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                  <table class=" custom-table" *ngIf="ArmarTabla">
                    <thead>
                      <tr>
                        <th class="custom-thead mx-auto">Tercero</th>
                        <th class="custom-thead" *ngFor="let m of Monedas">{{m.Nombre}}</th>
                        <th style="width:5%;"></th>
                      </tr>
                      <tr>
                        <th *ngIf="item.Terceros.length == 0" [attr.colspan]="MonedasColSpan" class="text-center">
                          <i class="ti-alert font-size-20 text-warning"></i>
                          <h4>No hay terceros en este grupo!</h4>
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="item.Terceros.length > 0">

                      <tr *ngFor="let t of item.Terceros" class="text-center  " style="margin-top: 30px  !important ;"
                        style="vertical-align: middle !important">
                        <td class="text-left p-2 " style="vertical-align: middle !important">{{t.Nombre_Tercero}}</td>
                        <td *ngFor="let tm of t.Totales_Monedas" class="text-right text-center p-2"
                          style="vertical-align: middle !important" appColorsaldo [value]="tm.Total">
                          {{tm.Total | customcurrency:tm.Codigo}}
                        </td>
                        <td class="p-2">
                          <a class="btn btn-light btn-rounded btn-sm m-0" style="cursor:pointer;"
                            [routerLink]="['/tercerover',t.Id_Tercero]">
                            <i class="ti-zoom-in text-info"></i>
                            Detalle
                          </a>
                        </td>

                      </tr>
                    </tbody>
                  </table>

                  <!-- Accordion card 1 -->
                  <div class="card" *ngFor="let subitem of item.tercero; let j = index">
                    <div class="card-header" role="tab" id="headingOne2">
                      <a data-toggle="collapse" data-parent="#accordionEx1" href="#collapseOne{{i}}{{j}}"
                        aria-expanded="true" aria-controls="collapseOne{{i}}">

                        <table class="table" style="font-size: 12px">
                          <tr>
                            <th style="width: 120px">
                              <h5 class="mb-0"> {{subitem.Nombre}} </h5>
                            </th>
                            <th class="text-center" style="width: 120px">Total Pesos:</th>
                            <th class="text-center {{subitem.SaldoPeso < 0 ? 'text-danger' : 'text-success'}}"
                              style="width: 120px"> {{subitem.SaldoPeso | currency:"$."}} </th>
                            <th class="text-center" style="width: 120px">Total Bolivares: </th>
                            <th class="text-center {{subitem.saldoBolivar < 0 ? 'text-danger' : 'text-success'}} "
                              style="width: 120px">{{subitem.saldoBolivar | currency:"BsS."}} </th>
                            <th class="text-center" style="width: 120px">
                              <button class="btn btn-primary btn-sm" [routerLink]="['/tercerover',subitem.Id_Tercero]">
                                Ver
                              </button>
                            </th>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </div>
                  <!-- END Accordion card 1 -->
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->
      </div>
    </div>
  </div>
