<div class="container-fluid">
  <div class="page-title">
    <h4 class="pull-left">Balance General</h4>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card" *ngFor="let item of ListaBalance; let i = index">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne{{i}}" aria-expanded="true"
                aria-controls="collapseOne{{i}}">
                <h5 class="mb-0"> {{ item.Nombre }} <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne{{i}}" class="collapse " role="tabpanel" aria-labelledby="headingOne{{i}}" data-parent="#accordionEx">
              <div class="card-body">
                <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

                  <!-- Accordion card 1 -->
                  <div class="card" *ngFor="let subitem of item.tercero; let j = index">
                    <div class="card-header" role="tab" id="headingOne2">
                      <a data-toggle="collapse" data-parent="#accordionEx1" href="#collapseOne{{i}}{{j}}" aria-expanded="true"
                        aria-controls="collapseOne{{i}}">
                        
                        <table class="table" style="font-size: 12px">
                            <tr>
                                <th style="width: 120px"><h5 class="mb-0"> {{subitem.Nombre}} </h5></th>
                                <th class="text-center" style="width: 120px">Total Pesos:</th>
                                <th class="text-center" style="width: 120px"></th>
                                <th class="text-center" style="width: 120px">Total Bolivares: </th>
                                <th class="text-center" style="width: 120px">{{subitem.saldoBolivar | currency:"BsS."}} </th>
                                <th class="text-center" style="width: 120px"><i class="fa fa-angle-down rotate-icon"></i></th>
                              </tr>
                        </table>
                      </a>
                    </div>
                    <div id="collapseOne{{i}}{{j}}" class="collapse " role="tabpanel" aria-labelledby="headingOne2{{i}}"
                      data-parent="#accordionEx">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table" style="font-size: 12px">
                            <tr>
                              <th></th>
                              <th colspan="3" style="text-align: center">$</th>
                              <th colspan="3" style="text-align: center">BsS.</th>
                            </tr>
                            <tr>
                              <td class="text-center" style="width:100px !important;"> Movimiento</td>
                              <td class="text-center" style="width:60px !important;">Ingreso</td>
                              <td class="text-center" style="width:60px !important;">Egreso</td>
                              <td class="text-center" style="width:60px !important;">Saldo</td>
                              <td class="text-center" style="width:20px !important;">Ingreso</td>
                              <td class="text-center" style="width:20px !important;">Egreso</td>
                              <td class="text-center" style="width:20px !important;">Saldo</td>
                            </tr>
                            <tr *ngFor="let movimiento of subitem.lista ; let k = index">
                              <td>{{movimiento.ItemDetalle}} {{movimiento.Codigo}} -- {{movimiento.Fecha}} -- {{movimiento.Detalle}} </td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                              <td class="text-center"></td>
                              <td class="text-center" *ngIf="movimiento.Tipo==='Ingreso'" class="text-right">{{movimiento.Valor | currency:"BsS."}}</td>
                              <td class="text-center" *ngIf="movimiento.Tipo==='Egreso'">{{movimiento.Valor | currency:"BsS."}}</td>
                              <td class="text-center {{movimiento.Saldo < 0 ? 'text-danger' : ''}} {{ i == 0 ? 'grande' : '' }} ">{{movimiento.Saldo | currency:"BsS."}}</td>
                              <!--<td *ngIf="movimiento.Tipo==='Ingreso'" class="text-right">{{movimiento.Valor |
                                currency:"BsS."}}</td>
                              <td *ngIf="movimiento.Tipo==='Egreso'">{{movimiento.Valor |
                                currency:"BsS."}}</td>
                              <td class="text-right {{movimiento.Saldo < 0 ? 'text-danger' : ''}} {{ i == 0 ? 'grande' : '' }}">{{movimiento.Saldo
                                | currency:"BsS."}}</td>-->
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Accordion card 1 -->
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion card -->

        </div>
        <!-- Accordion wrapper -->
      </div>
    </div>
  </div>