<div class="row-fluid">
  <div class="col-md-12">
    <div *ngIf="TransferenciasListar.length == 0" style="text-align:center;">
      <h2>No ha realizado transferencias aún</h2>
    </div>
    <table class="table table-striped table-bordered"  *ngIf="TransferenciasListar.length > 0">
        <thead>
          <tr>
            <th style="text-align:center;">Fecha</th>
            <th style="text-align:center;">Código</th>
            <th style="text-align:center;">Cajero</th>
            <th style="text-align:center;">Valor</th>
            <th style="text-align:center;">Acciones</th>
          </tr>
        </thead>
        <tbody>                                            
          <tr *ngFor="let t of TransferenciasListar; let i = index;">
            <td>{{t.Fecha | date:"MMM d, y" }}</td>
            <td>{{t.Codigo}}</td>
            <td>{{t.NombreCajero}}</td>
            <td style="text-align:right;">{{t.Cantidad_Transferida | currency}}</td>
            <td>
              <div class="text-center">
                <div ngbDropdown class="dropdown-primary">
                  <button ngbDropdownToggle class="btn btn-secondary btn-mini waves-effect waves-light " type="button">Acciones <i class="ti-angle-down"></i></button>
                  <div ngbDropdownMenu>
                    <a class="dropdown-item waves-light waves-effect caja-botones" (click)="AbrirModalDevolucion(t.Id_Transferencia, t.Cantidad_Transferida)">
                      <i class="ti-back-right"></i> Devolución</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-xs'" id="ModalDevolucionTransferencia" #ModalDevolucionTransferencia>
  <div class="app-modal-header">
      <h4>Devolución Transferencia</h4>
      <button type="button" class="close basic-close" (click)="CerrarModalDevolucion()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="app-modal-body">
      <form #FormDevolucionTransferencia="ngForm">
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Motivo Devolución</label>
                      <textarea rows="4" cols="50" class="form-control" placeholder="Motivo de la devolucion" name="Motivo_Devolucion"
                          [(ngModel)]="DevolucionModel.Motivo_Devolucion" required></textarea>
                  </div>
              </div>
          </div>
      </form>
  </div>
  <div class="app-modal-footer">
      <div class="text-right">
          <button 
              id="cerrardevolucion" 
              class="btn btn-danger btn-sm"
              (click)="CerrarModalDevolucion()">Cerrar
            </button>
          <button 
              type="submit" 
              class="btn btn-primary btn-sm" 
              [disabled]="!FormDevolucionTransferencia.valid" 
              [swal]="{title : '¿Está Seguro?', text: 'Se dispone a devolver esta transferencia' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Realizarla',cancelButtonText: 'No, Comprobar!'}"
              (confirm)="RealizarDevolucion()">Devolver
          </button>
      </div>
  </div>
</app-modal-basic>

  
<swal title='' text='' type='' #alertSwal></swal>
  