softwarehym
Mayerly100%
cajero: 1524854
clave 1524854
Consultor 987654321
clave 123456789
gerente 9999999
9999999
cajero ppal: 1234567891
clave 1234567891
4144411

$filterBanco .= " AND CB.Nombre_Titular LIKE '%$q%' ";
{{cp.Valor | customcurrency:cp.Codigo: false:'1.0-0'}}

$query='UPDATE Tercero Set Cupo_Disponible = Cupo_Disponible - '.$valorDescontar.'
WHERE Id_Tercero = '.$idTercero;

$oCon = new consulta();
$oCon->setQuery($query);
$oCon->createData();

<ng-container *ngIf="cambio.Estado != 'Anulado'">
  <button class="btn btn-xs btn-success" type="button" title="Imprimir cambio" style="margin:0;"
    (click)="printCambio(cambio.Id_Cambio)">
    <i class="ti-desktop"></i>
  </button>
</ng-container>

<div class="row card">
  <div class="card-body">
    <div class="col-md-4 " style="display:flex; align-items:flex-end;">
      <ul class="list-unstyled list-info mt-3">
        <li>
          <span class="thumb-img pdd-top-10 ">
          </span>
          <div class="info">
            <b class="text-dark font-size-22">Cajas</b>
            <p class="no-mrg-btm ">Gestion de Cajas</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <button (click)="AbrirModal('0')" class="btn btn-info btn-block mrg-top-10 btn-grande">
            Nueva caja
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">

    <!-- Table  -->
    <!-- Paginator -->
  </div>
</div>



<ul class="list-unstyled list-info my-5">
  <li>
    <span class="thumb-img pdd-top-10 ">
    </span>
    <div class="info">
      <b class="text-dark font-size-22">Transferencias</b>
      <p class="no-mrg-btm ">Gestion de Transferencias</p>
    </div>
  </li>
</ul>


<ul class="list-unstyled list-info">
  <li>
    <span class="thumb-img pdd-top-10">
      <i class="ti-wallet text-success font-size-30"></i>
    </span>
    <div class="info">
      <b class="text-dark font-size-22">Giros</b>
      <p class="no-mrg-btm ">Envío/Recepción Dinero</p>
    </div>
  </li>
</ul>

<div class="my-3 ">
  <div class="row d-flex justify-content-center" id="Giros1" *ngIf="Giro1">
    <div class="col-md-4">
      <button (click)="CambiarVista('Giro')" class="btn btn-success btn-block mrg-top-10 btn-grande">
        Nuevo Giro
      </button>
    </div>
