<table class="table tabla-cajero">
  <thead>
    <tr>
        <th>Hora</th>
        <th style="width:9%;">Código</th>
        <th>Remitente</th>
        <th>Recibido</th>
        <th>Transferido</th>
        <th style="width:7%;">Tasa</th>
        <th style="width:10%;">Estado</th>
        <th></th>
    </tr>
    <tr>
      <th class="table-filters">
      </th>
      <th class="table-filters">
        <input type="text" class="form-control" placeholder="Filtro recibo"
           [(ngModel)]="Filtros.recibo" (change)="ConsultaFiltrada()">
      </th>
      <th class="table-filters">
        <input type="text" class="form-control" placeholder="Filtro remitente"
           [(ngModel)]="Filtros.remitente" (change)="ConsultaFiltrada()">
      </th>
      <th class="table-filters">
        <input type="text" class="form-control" placeholder="Filtro recibido"
           [(ngModel)]="Filtros.recibido" (change)="ConsultaFiltrada()">
      </th>
      <th class="table-filters">
        <input type="text" class="form-control" placeholder="Filtro transferido"
           [(ngModel)]="Filtros.transferido" (change)="ConsultaFiltrada()">
      </th>
      <th class="table-filters">
        <input type="text" class="form-control" placeholder="Filtro tasa"
           [(ngModel)]="Filtros.tasa" (change)="ConsultaFiltrada()">
      </th>
      <th class="table-filters">
        <select id="estado" class="form-control" [(ngModel)]="Filtros.estado" (change)="ConsultaFiltrada()">
          <option value="" selected>Seleccione</option>
          <option value="Activa">Activa</option>
          <option value="Anulada">Anulada</option>
        </select>
      </th>
      <th class="table-filters"></th>
    </tr>
    <tr *ngIf="Cargando">
      <td colspan="8" class="text-center">
        <div style="text-align: center; margin-top:10px; margin-bottom:10px;">
          <h2>CARGANDO RECIBOS DE TRANSFERENCIA</h2>
          <img src="{{RutaGifCargando}}" style="width:250px;" alt="CARGANDO">
        </div>
      </td>
    </tr>
    <tr *ngIf="RecibosTransferencia.length == 0 && !Cargando">
      <td colspan="8" class="text-center">
          <i class="ti-alert font-size-20 text-warning"></i>
          <h4>No se han realizado recibos de transferencias hoy!</h4>
      </td>
    </tr>
  </thead>
  <tbody *ngIf="!Cargando">    
    <tr *ngFor="let rt of RecibosTransferencia"  [ngClass]="{'bg-anulada':rt.Estado == 'Anulada'}">
      <td>{{rt.Fecha | date:"HH:mm" }}</td>
      <td>{{rt.CodigoRecibo}}</td>
      <td>{{rt.Remitente}}</td>
      <td class=" text-right">{{rt.Cantidad_Recibida | customcurrency:rt.Codigo_Moneda_Origen}}</td>
      <td class=" text-right">{{rt.Monto_Transferido | customcurrency:rt.Codigo_Moneda_Destino }}</td>
      <td class=" text-right">{{rt.Tasa_Cambio }}</td>
      <td class=" text-center">{{rt.Estado }}</td>
      <td>
        <div *ngIf="rt.Estado != 'Anulada'" class="text-center">
          <button class="clean-btn-table" type="button"
            (click)="AbrirDetalleRecibo(rt)">
            <i class="ti-search text-primary" style="font-size: 12px;"></i>
          </button>
          <button class="clean-btn-table" type="button"
              (click)="AbrirModalAnularTransferencia(rt.Id_Transferencia)">
              <i class="ti-trash text-danger" style="font-size: 12px;"></i>
          </button>
          <!-- <div ngbDropdown class="dropdown-primary">
            <button ngbDropdownToggle class="btn btn-outline-primary btn-xs btn-rounded waves-effect waves-light " type="button"><i class="ti-angle-down"></i></button>
            <div ngbDropdownMenu>
              <a class="dropdown-item waves-light waves-effect caja-botones accionable" (click)="AbrirDetalleRecibo(rt)">
                  <i class="ti-search text-info"></i> 
                  Detalles</a>
              <a *ngIf="rt.Estado == 'Activa'" class="dropdown-item waves-light waves-effect caja-botones accionable" 
                (click)="AbrirModalAnularTransferencia(rt.Id_Transferencia)">
                  <i class="ti-trash text-danger"></i> 
                  Anular</a>
            </div>
          </div> -->
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="paginacion-container" *ngIf="RecibosTransferencia.length > 0">
  <div class="row">
    <div class="col-md-4">
      <p style="font-size:11px;"><b>Mostrando del {{InformacionPaginacion.desde}} al {{InformacionPaginacion.hasta}} de {{ InformacionPaginacion.total }}</b></p>
    </div>
    <div class="col-md-8">
      <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize"
        size="sm" (pageChange)="ConsultaFiltrada(true)" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalAnularTransferencia" #ModalAnularTransferencia>
  <div class="app-modal-header">
      <h4>Anular Transferencia</h4>
      <button type="button" class="close basic-close" (click)="CerrarModalAnular()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="app-modal-body">
      <form #FormAnularTransferencia="ngForm">
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Motivo Anulación</label>
                      <textarea placeholder="Motivo Anulacion" class="form-control" name="Motivo_Anulacion" [(ngModel)]="MotivoAnulacion"></textarea>
                  </div>
              </div>
          </div>
          <br>
      </form>
  </div>
  <div class="app-modal-footer">
      <div class="text-right">
          <button class="btn btn-primary btn-sm"
            (confirm)="AnularTransferencia()"
            [swal]="{title : '¿Está Seguro?', text: 'Se dispone a anular este recibo de transferencia!' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Anular',cancelButtonText: 'No!'}"
            [disabled]="!FormAnularTransferencia.valid">Anular
          </button>
      </div>
  </div>
</app-modal-basic>

<app-modaldetallerecibotransferencia
  [AbrirModal]="AbrirModalDetalleRecibo.asObservable()">  
</app-modaldetallerecibotransferencia>