<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Grupos Terceros</h4>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-4">
                      <h5>Grupos Creados 
                        <span><i class="ti-reload text-info" title="Actualizar tabla"></i></span>
                      </h5>
                    </div>
                    <div class="col-md-8">
                      <div class="pull-right">
                        <button 
                          class="btn btn-info btn-sm" style="display:flex; align-items:center;"
                          (click)="AbrirModalGrupo()">
                          <i class="ti-plus font-size-15 mr-1"></i>  Nuevo Grupo
                        </button>
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre Grupo</th>
                                <th class="text-center">Grupo Padre</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Creado el</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                            <tr *ngIf="Grupos.length == 0">
                              <th colspan="5" class="text-center">
                                <div><i class="text-warning font-size-25 ti-alert"></i></div>
                                <div><h4>No hay datos para mostrar</h4></div>
                              </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="Grupos.length > 0">
                            <tr *ngFor="let g of Grupos">
                                <td>{{g.Nombre_Grupo}}</td>
                                <td>{{g.Grupo_Padre}}</td>
                                <td>{{g.Estado}}</td>
                                <td>{{g.Fecha_Registro | date:"dd-Mm-yyyy"}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-sm'" id="ModalGrupo" #ModalGrupo>
    <div class="app-modal-header">
        <button type="button" class="close basic-close" (click)="CerrarModalGrupo()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Detalle Giro</h4>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-md-12">
              <form #FormGrupo>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="Nombre_Grupo">Nombre Grupo</label>
                    <input 
                      name="Nombre_Grupo" type="text" 
                      class="form-control form-control-sm" id="Nombre_Grupo" 
                      placeholder="Nombre" required
                      [(ngModel)]="GrupoTerceroModel.Nombre_Grupo">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="Grupo_Padre">Padre</label>
                    <select 
                      name="Grupo_Padre" id="Grupo_Padre" 
                      [(ngModel)]="GrupoTerceroModel.Id_Grupo_Padre"
                      class="form-control form-control-sm">
                      <option value="" selected>Seleccione</option>
                      <option *ngFor="let gp of GruposPadre" [value]="gp.Id_Grupo_Tercero">{{gp.Nombre_Grupo}}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button 
                class="btn btn-primary btn-sm"
                (click)="CerrarModalGrupo()">Cerrar
            </button>
            <button
                class="btn btn-primary btn-sm"
                [swal]="{ title : '¿Está Seguro?', text : 'Se va a guardar este grupo' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Guardar', cancelButtonText : 'No, Comprobar!' }"
                (confirm)="GuardarGrupo()"> Guardar Grupo
            </button>
        </div>
    </div>
</app-modal-basic>

<swal #alertSwal title="" type="" text=""></swal>
