<div class="container-fluid">
    <div class="page-title">
      <h4 class="pull-left">Destinatarios</h4>
      <button class="pull-right btn btn-info" (click)="ModalDestinatario.show()"><i class="ti-plus"></i> Agregar Nuevo Destinatario</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <p>Tenemos los destinatarios a quienes les hacemos transferencias o consignaciones</p>
            <div class="table-overflow">
              <table class="table table-hover table-sm table-striped">
                <thead>
                  <tr>
                    <th style="width:120px;">Identificación</th>
                    <th>Nombre</th>
                    <th style="width:350px">Cuentas Asociadas</th>
                    <th style="width:130px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let destinatario of destinatarios">
                    <td style="vertical-align: middle;">{{destinatario.Id_Destinatario}}</td>
                    <td style="vertical-align: middle;">{{destinatario.Nombre}}</td>
                    <td style="vertical-align: middle;" >
                      <li class="list-unstyled list-info">
                          <ul>Banesco : 0134345445656778</ul>
                          <ul>Provincial : 01031234567890</ul>
                      </li>
                    </td>
                    <td style="vertical-align: middle;" class="text-center">
                            <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerDestinatario(destinatario.Id_Destinatario, ModalVerDestinatario)">
                              <i class="ti-search"></i>
                            </button>
                            <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarDestinatario(destinatario.Id_Destinatario, ModalEditarDestinatario)">
                              <i class="ti-pencil"></i>
                            </button>
                            <button class="btn btn-default btn-xs" type="button" style="margin:0;"
                            [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular este Destinatario, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }" 
                            (confirm)="EliminarDestinatario(destinatario.Id_Destinatario)" 
                            >
                            <i class="ti-trash"></i>
                            </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalDestinatario" #ModalDestinatario>
    <div class="app-modal-header">
            <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none" (click)="OcultarFormularios()">X</button>
        <h4>Nuevo Destinatario</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormDestinatario="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="text" placeholder="Identificación Cliente" class="form-control" name="Id_Destinatario" ngModel="" (focus)="$event.target.select()" (focusout)="boolId = true" required #identificacion="ngModel">
                        <div *ngIf="!identificacion.valid && boolId==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="identificacion.valid && boolId==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Cliente" class="form-control" name="Nombre" ngModel=""  (focus)="$event.target.select()" (focusout)="boolNombre = true" required #nombre="ngModel">
                        <div *ngIf="!nombre.valid && boolNombre==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="nombre.valid && boolNombre==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles del Destinatario" name="Detalle" ngModel=""></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Cuentas Asociadas</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>País</label>
                        <select class="form-control" name="Id_Pais" ngModel="">
                            <option>Seleccione País</option>
                            <option *ngFor="let Pais of Paises" [value]="Pais.Id_Pais">{{Pais.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" name="Id_Banco" ngModel="">
                            <option>Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco" >{{Banco.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Numero de Cuenta</label>
                        <input type="number" placeholder="Número de Cuenta sin Espacios" class="form-control" name="Cuentas" ngModel="">
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <a href="" class="btn btn-success btn-icon btn-rounded" ><i class="ti-plus"></i></a>
                </div>
            </div>
        </form>        
    </div>
    <div class="app-modal-footer">
            <div class="text-right">
                <button type="submit" class="btn btn-primary"
                [disabled]="!nombre.valid || !identificacion.valid"
                [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarDestinatario(FormDestinatario, ModalDestinatario)" >Actualizar Información</button>
            </div>
        </div>
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalVerDestinatario" #ModalVerDestinatario>
    <div class="app-modal-header">
        <h4>Ver Destinatario</h4>
    </div>
    <div class="app-modal-body">
        <form #FormVerDestinatario="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                <strong><label>Identificación: </label></strong>
                        <label>{{Identificacion}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                <strong><label>Nombre: </label></strong>
                        <label>{{Nombre}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                <strong><label>Detalles: </label></strong> 
                        <label>{{Detalle}}</label>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Cuentas Asociadas</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <strong><label>Pais: </label></strong> 
                                <label>{{Pais}}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <strong><label>Banco: </label></strong> 
                                <label>{{Banco}}</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                <strong><label>Numero de Cuenta: </label></strong> 
                        <label>{{Cuentas}}</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <a href="" class="btn btn-success btn-icon btn-rounded" ><i class="ti-plus"></i></a>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="Cerrar(ModalVerDestinatario)" >Cerrar</button>
                </div>
            </div>
        </form>        
    </div>    
</app-modal-basic>

<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarDestinatario" #ModalEditarDestinatario>
    <div class="app-modal-header">
        <h4>Editar Destinatario</h4>
    </div>
    <div class="app-modal-body">
        <form #FormEditarDestinatario="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="text" placeholder="Identificación Cliente" class="form-control" name="id" ngModel="{{Identificacion}}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" placeholder="Nombre Cliente" class="form-control" name="Nombre" ngModel="{{Nombre}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Detalles</label>
                        <textarea class="form-control" placeholder="Detalles del Destinatario" name="Detalle" ngModel="{{Detalle}}"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Cuentas Asociadas</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>País</label>
                        <select class="form-control" name="Id_Pais" ngModel="{{IdPais}}">
                            <option>Seleccione País</option>
                            <option *ngFor="let Pais of Paises" [value]="Pais.Id_Pais">{{Pais.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Banco</label>
                        <select class="form-control" name="Id_Banco" ngModel="{{IdBanco}}">
                            <option>Seleccione Banco</option>
                            <option *ngFor="let Banco of Bancos" [value]="Banco.Id_Banco" >{{Banco.Nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Numero de Cuenta</label>
                        <input type="number" placeholder="Número de Cuenta sin Espacios" class="form-control" name="Cuentas" ngModel="{{Cuentas}}">
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <a href="" class="btn btn-success btn-icon btn-rounded" ><i class="ti-plus"></i></a>
                </div>
            </div>
            <div class="app-modal-footer">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" 
                    [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar este perfil' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                    (confirm)="GuardarDestinatario(FormEditarDestinatario, ModalEditarDestinatario)">Guardar</button>
                </div>
            </div>
        </form>        
    </div>    
</app-modal-basic>

<swal #saveSwal
title="Documento guardado"
text="Se ha guardado correctamente el documento"
type="success"
>
</swal>

<swal #deleteSwal
  title="Destinatario Eliminado"
  text="Se ha Eliminado Correctamente el destinatario"
  type="success"
  >
  </swal>