<div class="container-fluid">
    <div class="page-title">
        <h4 class="pull-left">Compras en nuestro Sistema</h4>
        <button class="pull-right btn btn-info" (click)="ModalCompra.show()">
            <i class="ti-plus"></i> Agregar Nueva Compra</button>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget card">
                <div class="card-block">
                    <p>Caja Recaudos en nuestro Sistema</p>
                    <div class="table-overflow">
                        <table class="table table-hover table-sm table-striped">
                            <thead>
                                <tr>
                                    <th style="width:150px;">Fecha</th>
                                    <th>Proveedor</th>
                                    <th>Valor</th>
                                    <th>Tasa Cambio</th>
                                    <th>Nombre Funcionario</th>
                                    <th style="width:300px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let compra of compras">
                                    <td>{{compra.Fecha}}</td>
                                    <td>{{compra.Proveedor}}</td>
                                    <td>{{compra.Valor}}</td>
                                    <td>{{compra.Tasa_Cambio}}</td>
                                    <td>{{compra.Nombre}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="VerCompra(compra.Id_Compra, ModalVerCompra)">
                                            <i class="ti-search"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" (click)="EditarCompra(compra.Id_Compra, ModalEditarCompra)">
                                            <i class="ti-pencil"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a Anular esta Compra, esta acción no se puede revertir' , type : 'warning', showCancelButton : true , confirmButtonText : 'Si, Anular', cancelButtonText : 'No, Dejame Comprobar!' }"
                                            (confirm)="EliminarCompra(compra.Id_Compra)">
                                            <i class="ti-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-modal-basic [dialogClass]="'modal-lg'" id="ModalCompra" #ModalCompra>
    <div class="app-modal-header">
        <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none"
            (click)="OcultarFormularios()">X</button>
        <h4>Nueva Compra</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormCompra="ngForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Proveedor</label>
                        <select class="form-control" required name="Id_Proveedor" ngModel="" (focus)="$event.target.select()" (focusout)="boolProveedor = true"
                            required #proveedor="ngModel">
                            <option value="">Seleccione un Proveedor</option>
                            <option *ngFor="let Proveedor of Proveedores" [value]="Proveedor.Id_Proveedor">{{Proveedor.Nombre}}</option>
                        </select>
                        <div *ngIf="proveedor.value=='' && boolProveedor==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!proveedor.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Valor</label>
                        <input currencyMask class="form-control" name="Valor" ngModel=0 [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                            (focus)="$event.target.select()" (focusout)="boolValor = true" required #valor="ngModel">
                        <div *ngIf="!valor.valid && boolValor==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="valor.valid && boolValor==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tasa Cambio</label>
                        <input currencyMask class="form-control" name="Tasa_Cambio" ngModel=0 [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                            (focus)="$event.target.select()" (focusout)="boolTasaCambio = true" required #tasaCambio="ngModel">
                        <div *ngIf="!tasaCambio.valid && boolTasaCambio==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="tasaCambio.valid && boolTasaCambio==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Funcionario</label>
                        <select class="form-control" required name="Identificacion_Funcionario" ngModel="" (focus)="$event.target.select()" (focusout)="boolFuncionario = true"
                            required #funcionario="ngModel">
                            <option value="">Seleccione un Funcionario</option>
                            <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Id_Funcionario">{{Funcionario.Nombres}}</option>
                        </select>
                        <div *ngIf="funcionario.value=='' && boolFuncionario==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!funcionario.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="!valor.valid || !tasaCambio.valid || proveedor.value=='' || funcionario.value==''"
                [swal]="{title : '¿Está Seguro?', text: 'Se dispone Actualizar este formulario' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCompra(FormCompra, ModalCompra)">Actualizar Información</button>
        </div>
    </div>
</app-modal-basic>



<app-modal-basic [dialogClass]="'modal-lg'" id="ModalVerCompra" #ModalVerCompra>
    <div class="app-modal-header">
        <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none"
            (click)="OcultarFormularios()">X</button>
        <h4>Ver Compra</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormVerCompra="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <strong>
                            <label>Proveedor: </label>
                        </strong>
                        <label>{{Proveedor}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <strong>
                            <label>Valor: </label>
                        </strong>
                        <label>{{Valor}}</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <strong>
                            <label>Tasa Cambio: </label>
                        </strong>
                        <label>{{TasaCambio}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <strong>
                            <label>Funcionario: </label>
                        </strong>
                        <label>{{Funcionario}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="Cerrar(ModalVerCompra)">Cerrar</button>
        </div>
    </div>
</app-modal-basic>


<app-modal-basic [dialogClass]="'modal-lg'" id="ModalEditarCompra" #ModalEditarCompra>
    <div class="app-modal-header">
        <button class="btn-close" style="position: absolute; right: 0; background-color: transparent; color: black; font-weight: 900; text-align: center; border-style: none"
            (click)="OcultarFormularios()">X</button>
        <h4>Editar Compra</h4>
    </div>
    <div class="app-modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
        <form #FormEditarCompra="ngForm">
            <div class="col-md-4" hidden>
                <div class="form-group">
                    <label>Identificación</label>
                    <input name="id" type="text" placeholder="Identificación" class="form-control" ngModel="{{Identificacion}}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Proveedor</label>
                        <select class="form-control" name="Id_Proveedor" ngModel="{{Proveedor}}" (focus)="$event.target.select()" (focusout)="boolProveedor = true"
                        required #proveedorEd="ngModel">
                            <option value="">Seleccione un Proveedor</option>
                            <option *ngFor="let Proveedor of Proveedores" [value]="Proveedor.Id_Proveedor">{{Proveedor.Nombre}}</option>
                        </select>
                        <div *ngIf="proveedorEd.value=='' && boolProveedor==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!proveedorEd.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Valor</label>
                        <input type="text" class="form-control" name="Valor" ngModel="{{Valor}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                        (focus)="$event.target.select()" (focusout)="boolValor = true" required #valorEd="ngModel">
                        <div *ngIf="!valorEd.valid && boolValor==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="valorEd.valid && boolValor==true" style="color:green">All checked!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tasa Cambio</label>
                        <input type="text" class="form-control" name="Tasa_Cambio" ngModel="{{TasaCambio}}" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"
                        (focus)="$event.target.select()" (focusout)="boolTasaCambio = true" required #tasaCambioEd="ngModel">
                        <div *ngIf="!tasaCambioEd.valid && boolTasaCambio==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="tasaCambioEd.valid && boolTasaCambio==true" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Funcionario</label>
                        <select class="form-control" required name="Identificacion_Funcionario" ngModel="{{Funcionario}}" (focus)="$event.target.select()" (focusout)="boolFuncionario = true"
                        required #funcionarioEd="ngModel">
                            <option value="">Seleccione un Funcionario</option>
                            <option *ngFor="let Funcionario of Funcionarios" [value]="Funcionario.Id_Funcionario">{{Funcionario.Nombres}}</option>
                        </select>
                        <div *ngIf="funcionarioEd.value=='' && boolFuncionario==true" style="color:red">Houston, we have a problem</div>
                        <div *ngIf="!funcionarioEd.value==''" style="color:green">All checked!</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="app-modal-footer">
        <div class="text-right">
            <button class="btn btn-primary btn-sm" [swal]="{title : '¿Está Seguro?', text: 'Se dispone a guardar esta compra' , type : 'warning', showCancelButton : true , confirmButtonText: 'Si, Guardar',cancelButtonText: 'No,Dejame Comprobar!'}"
                (confirm)="GuardarCompra(FormEditarCompra, ModalEditarCompra)">Guardar</button>
        </div>
    </div>
</app-modal-basic>

<swal #errorSwal title="Error al guardar" text="Se ha generado un error al intentar guardar el documento" type="error">
</swal>

<swal #saveSwal title="Documento guardado" text="Se ha guardado correctamente el documento" type="success">
</swal>

<swal #deleteSwal title="Compra eliminada" text="Se ha Eliminado Correctamente la compra" type="success">
</swal>