<div class="container-fluid">
  <!-- <div class="row">
      <div class="col-md-3">
          <div class="card bg-info">
              <div class="card-block" style="padding:10px;">
                  <div class="row">
                      <div class="col-md-7">
                          <h1 class="no-mrg-top font-size-30">155</h1>
                          <span class="text-white">Transferencias</span>
                      </div>
                      <div class="col-md-5 text-center">
                          <i class="ti-control-shuffle font-size-50 text-white"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3">
              <div class="card bg-success">
                  <div class="card-block" style="padding:10px;">
                      <div class="row">
                          <div class="col-md-7">
                              <h1 class="no-mrg-top font-size-30">135</h1>
                              <span class="text-white">Realizadas</span>
                          </div>
                          <div class="col-md-5 text-center">
                              <i class="ti-thumb-up font-size-50 text-white"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
                  <div class="card bg-warning">
                      <div class="card-block" style="padding:10px;">
                          <div class="row">
                              <div class="col-md-7">
                                  <h1 class="no-mrg-top font-size-30">5</h1>
                                  <span class="text-white">Devueltas</span>
                              </div>
                              <div class="col-md-5 text-center">
                                  <i class="ti-thumb-down font-size-50 text-white"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                      <div class="card bg-danger">
                          <div class="card-block" style="padding:10px;">
                              <div class="row">
                                  <div class="col-md-7">
                                      <h1 class="no-mrg-top font-size-30">15</h1>
                                      <span class="text-white">Anuladas</span>
                                  </div>
                                  <div class="col-md-5 text-center">
                                      <i class="ti-close font-size-50 text-white"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  </div> -->
  <div class="row">
      <div class="col-md-12">
          <div class="widget card">
              <div class="card-block">
                  <p>Compras en nuestro Sistema</p>
                  <div class="table-overflow">
                      <table class="table table-hover table-sm table-striped">
                          <thead>
                              <tr>
                                  <th style="width:150px;">Fecha</th>
                                  <th>Proveedor</th>
                                  <th>Valor</th>
                                  <th>Tasa Cambio</th>
                                  <th>Nombre Funcionario</th>
                                  <th style="width:300px;"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let compra of compras">
                                  <td>{{compra.Fecha}}</td>
                                  <td>{{compra.Proveedor}}</td>
                                  <td>{{compra.Valor}}</td>
                                  <td>{{compra.Tasa_Cambio}}</td>
                                  <td>{{compra.Nombre}}</td>
                                  <td class="text-center">
                                      <button class="btn btn-default btn-xs" type="button" style="margin:0;">
                                          <i class="ti-search"></i>
                                      </button>
                                      <button class="btn btn-default btn-xs" type="button" style="margin:0;" >
                                          <i class="ti-pencil"></i>
                                      </button>
                                      <button class="btn btn-default btn-xs" type="button" style="margin:0;" [swal]="{title:'¿Está Seguro?',text : 'Se dispone a Anular esta Transferencia, esta acción no se puede revertir' , type:'warning', showCancelButton: true, confirmButtonText: 'Si, Eliminar', cancelButtonText:'No, Dejame Comprobar!'}"
                                          (confirm)="EliminarTransferencia(oficina.Id_Oficina)">
                                          <i class="ti-trash"></i>
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>